Repository 18xx-maker/18xx-maker: changes, and which lefthook commands are due for each by the changed paths.
All: schemas, validate, svgo, prettier, eslint, stylelint, test

lefthook.yml:

commit-msg:
  commands:
    commitlint:
      run: yarn commitlint --edit {1}

pre-commit:
  commands:
    schemas:
      run: make && yarn validate:schemas
      glob: "{public,src}/schemas/*.json"
      stage_fixed: true
      priority: 10
    validate:
      glob: "*.json"
      exclude:
        - "package.json"
        - "release-please-config.json"
        - ".release-please-manifest.json"
        - "public/*"
        - "src/locales/*"
        - "src/schemas/*"
      run: node ./bin/schemas.cjs {staged_files}
      priority: 40
    svgo:
      glob: "*.svg"
      run: yarn svgo:check {staged_files}
      stage_fixed: true
      priority: 40
    prettier:
      glob: "*.{css,js,mjs,cjs,jsx,json,yml,yaml,md}"
      run: yarn prettier --write {staged_files}
      stage_fixed: true
      priority: 20
    eslint:
      glob: "*.{js,mjs,cjs,jsx}"
      run: yarn eslint --fix {staged_files}
      stage_fixed: true
      priority: 30
    stylelint:
      glob: "*.css"
      run: yarn stylelint --fix {staged_files}
      stage_fixed: true
      priority: 30
    test:
      glob: "*.{js,mjs,cjs,jsx,json}"
      run: yarn vitest related --coverage.enabled=false --reporter=basic --exclude "tests/**" --run {staged_files}
      priority: 50

ci: turn off some linting rules to allow dependabot to work (#604)
  package.json
Due: prettier, test

ci: always run commitlint on latest commit
  .github/workflows/test.yml
Due: prettier

ci: always run commitlint on latest commit (#605)
  .github/workflows/test.yml
Due: prettier

chore(release): v1.0.0-beta.97
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: prettier, test

chore(release): v1.0.0-beta.97 (#594)
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: prettier, test

chore(deps): pnpm update
  package.json
  pnpm-lock.yaml
Due: prettier, test

chore(cleanup): removing workflow items that are not needed
  .github/workflows/test.yml
Due: prettier

chore(deps): pnpm update (#606)
  .github/workflows/test.yml
  package.json
  pnpm-lock.yaml
Due: prettier, test

docs(readme): adding summary of package.json scripts
  README.md
  package.json
Due: prettier, test

chore(ignores): add playwright folders to gitignore
  .gitignore
Due: none

docs(readme): first draft of file layout
  README.md
Due: prettier

build(app): clean up electron build
  .github/workflows/app.yml
  .gitignore
  Makefile
  bin/b18.js
  bin/print.js
  electron.vite.config.js
  eslint.config.js
  package.json
  vite.config.js
Due: prettier, eslint, test

chore(cleanup): simplifying tests until I'm ready to go bigger
  .github/workflows/test.yml
  .gitignore
  package.json
  pnpm-lock.yaml
  src/state/storage.test.js
  vite.config.js
  vitest.config.js
Due: prettier, eslint, test

ci(storybook): add storybook to build CI job
  .github/workflows/test.yml
Due: prettier

ci(storybook): add storybook to build CI job (#610)
  .github/workflows/test.yml
Due: prettier

chore(release): v1.0.0-beta.98
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: prettier, test

chore(release): v1.0.0-beta.98 (#607)
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: prettier, test

ci(actions): renable running test.yml on merge queues in case
  .github/workflows/test.yml
Due: prettier

ci(actions): renable running test.yml on merge queues in case (#613)
  .github/workflows/test.yml
Due: prettier

build(electron): cleaning up electron build
  package.json
Due: prettier, test

build(electron): cleaning up electron build (#612)
  package.json
Due: prettier, test

test(vitest): removing the ui from pnpm test
  package.json
Due: prettier, test

test(vitest): removing the ui from pnpm test (#614)
  package.json
Due: prettier, test

fix(docker): update docker images to enable pnpm
  docker/Dockerfile.develop
  docker/Dockerfile.site
Due: none

fix(docker): update docker images to enable pnpm (#611)
  docker/Dockerfile.develop
  docker/Dockerfile.site
Due: none

test(state): add testing for the storage adapator
  src/state/storage.test.js
  vitest.config.js
Due: prettier, eslint, test

test(state): add testing for the storage adapator (#616)
  src/state/storage.test.js
  vitest.config.js
Due: prettier, eslint, test

chore(release): v1.0.0-beta.99
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: prettier, test

chore(release): v1.0.0-beta.99 (#615)
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: prettier, test

fix(elements): improve tiles page to show more tiles and not error
  src/pages/elements/Tiles.jsx
Due: prettier, eslint, test

fix(elements): improve tiles page to show more tiles and not error (#617)
  src/pages/elements/Tiles.jsx
Due: prettier, eslint, test

docs(home): updating homepage to reference open source projects
  README.md
  src/locales/en.json
  src/pages/Home.jsx
Due: prettier, eslint, test

docs(home): updating homepage to reference open source projects (#620)
  README.md
  src/locales/en.json
  src/pages/Home.jsx
Due: prettier, eslint, test

docs(coc): create CODE_OF_CONDUCT.md
  .prettierignore
  CODE_OF_CONDUCT.md
Due: prettier

docs(coc): create CODE_OF_CONDUCT.md (#619)
  .prettierignore
  CODE_OF_CONDUCT.md
Due: prettier

fix(colors): update to latest cube 4 me colors
  src/data/themes/companies/rob.json
Due: validate, prettier, test
