Repository 18xx-maker/18xx-maker: changes, and which lefthook commands are due for each by the changed paths.
All: schemas, validate, svgo, prettier, eslint, stylelint, test

schemas:
  run: make && pnpm validate:schemas
  stage_fixed: true
  priority: 10

validate:
  run: node ./bin/maker.js validate {staged_files}
  priority: 40

svgo:
  run: pnpm exec svgo {staged_files}
  stage_fixed: true
  priority: 40

prettier:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true
  priority: 20

eslint:
  run: pnpm eslint --fix {staged_files}
  stage_fixed: true
  priority: 30

stylelint:
  run: pnpm stylelint --fix {staged_files}
  stage_fixed: true
  priority: 30

test:
  run: pnpm vitest related --coverage.enabled=false --reporter=basic --exclude "tests/**" --run {staged_files}
  priority: 50

test(game): mock automatic validation in edit panel problems test (#1060)
  tests/game/edit-panel-problems.test.jsx
Due: prettier, eslint, test

chore(release): v1.0.0-beta.135
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: prettier, test

chore(release): v1.0.0-beta.135 (#1056)
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: prettier, test

feat(ui): list undo, redo and sidebar keys in keybind help
  src/components/Shortcuts.jsx
  src/locales/de.json
  src/locales/en.json
  src/locales/zh.json
  tests/bindings/2.test.jsx
Due: prettier, eslint, test

feat(ui): list undo, redo and sidebar keys in keybind help (#1063)
  src/components/Shortcuts.jsx
  src/locales/de.json
  src/locales/en.json
  src/locales/zh.json
  tests/bindings/2.test.jsx
Due: prettier, eslint, test

feat(ui): pick train, icon, logo and publisher names in the edit panel
  DEVELOPMENT.md
  e2e/games.spec.js
  public/schemas/de/game.schema.json
  public/schemas/de/tiles.defs.json
  public/schemas/game.schema.json
  public/schemas/tiles.defs.json
  public/schemas/zh/game.schema.json
  public/schemas/zh/tiles.defs.json
  src/cli/compile-schemas.test.js
  src/cli/validate.test.js
  src/components/schemaForm/AssetPicker.jsx
  src/components/schemaForm/AssetPicker.test.jsx
  src/components/schemaForm/ReferenceField.test.jsx
  src/components/schemaForm/overrides.jsx
  src/components/schemaForm/resolve.js
  src/components/schemaForm/resolve.test.js
  src/locales/de.json
  src/locales/en.json
  src/locales/zh.json
  src/schemas/game.schema.json
  src/schemas/tiles.defs.json
  src/schemas/tiles.src.json
  src/util/schemaRefs.test.js
  tests/game/edit-panel.test.jsx
Due: schemas, prettier, eslint, test

refactor(ui): move the asset picker next to the schema form fields
  src/components/schemaForm/AssetPicker.jsx
  src/components/tokenEditor/TokenEditorDialog.jsx
Due: prettier, eslint, test

fix(ui): address review of the asset pickers
  DEVELOPMENT.md
  src/components/schemaForm/AssetPicker.jsx
  src/components/schemaForm/AssetPicker.test.jsx
  src/components/tokenEditor/TokenEditorDialog.jsx
  src/locales/de.json
  src/util/schemaRefs.js
  src/util/schemaRefs.test.js
  tests/game/edit-panel.test.jsx
Due: prettier, eslint, test

feat(ui): pick train, icon, logo and publisher in the edit panel (#1065)
  DEVELOPMENT.md
  e2e/games.spec.js
  public/schemas/de/game.schema.json
  public/schemas/de/tiles.defs.json
  public/schemas/game.schema.json
  public/schemas/tiles.defs.json
  public/schemas/zh/game.schema.json
  public/schemas/zh/tiles.defs.json
  src/cli/compile-schemas.test.js
  src/cli/validate.test.js
  src/components/schemaForm/AssetPicker.jsx
  src/components/schemaForm/AssetPicker.test.jsx
  src/components/schemaForm/ReferenceField.test.jsx
  src/components/schemaForm/overrides.jsx
  src/components/schemaForm/resolve.js
  src/components/schemaForm/resolve.test.js
  src/components/tokenEditor/TokenEditorDialog.jsx
  src/locales/de.json
  src/locales/en.json
  src/locales/zh.json
  src/schemas/game.schema.json
  src/schemas/tiles.defs.json
  src/schemas/tiles.src.json
  src/util/schemaRefs.js
  src/util/schemaRefs.test.js
  tests/game/edit-panel.test.jsx
Due: schemas, prettier, eslint, test

chore(release): v1.0.0-beta.136
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: prettier, test

chore(release): v1.0.0-beta.136 (#1064)
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: prettier, test

refactor(state): hold alerts as a list of toasts
  src/hooks/alert.js
  src/state/alerts.js
  src/state/gameEdits.test.js
  src/state/gameProblems.failure.test.js
  src/state/persist.test.js
  src/state/reducers.test.js
  src/state/root.test.js
  tests/chrome/config.test.jsx
  tests/chrome/load.test.jsx
  tests/coverage/browser.test.jsx
  tests/coverage/electron.test.jsx
  tests/export/options.test.jsx
Due: prettier, eslint, test

feat(ui): show alerts as a stack of toasts
  src/components/Alert.jsx
  src/locales/de.json
  src/locales/en.json
  src/locales/zh.json
  tests/chrome/alert.test.jsx
  tests/coverage/chrome.test.jsx
Due: prettier, eslint, test

fix(ui): skip a redundant render of the alert region
  src/components/Alert.jsx
Due: prettier, eslint, test

fix(state): drop transient toasts before sticky ones over the cap
  src/state/alerts.js
  src/state/reducers.test.js
Due: prettier, eslint, test

fix(ui): give each leaving toast its own exit timer and hide progress from screen readers
  src/components/Alert.jsx
  tests/chrome/alert.test.jsx
Due: prettier, eslint, test

feat(ui): redesign notifications as a toast stack (#1069)
  src/components/Alert.jsx
  src/hooks/alert.js
  src/locales/de.json
  src/locales/en.json
  src/locales/zh.json
  src/state/alerts.js
  src/state/gameEdits.test.js
  src/state/gameProblems.failure.test.js
  src/state/persist.test.js
  src/state/reducers.test.js
  src/state/root.test.js
  tests/chrome/alert.test.jsx
  tests/chrome/config.test.jsx
  tests/chrome/load.test.jsx
  tests/coverage/browser.test.jsx
  tests/coverage/chrome.test.jsx
  tests/coverage/electron.test.jsx
  tests/export/options.test.jsx
Due: prettier, eslint, test

feat(assets): add custom image names, svg sanitizer and resolver
  src/components/atoms/CustomSvg.jsx
  src/components/atoms/CustomSvg.test.jsx
  src/hooks/assets.js
  src/hooks/index.js
  src/util/assetNames.js
  src/util/assetNames.test.js
  src/util/assets.js
  src/util/assets.test.jsx
  src/util/svgSanitize.js
  src/util/svgSanitize.test.jsx
  tests/support/png.js
Due: prettier, eslint, test

feat(assets): keep custom images in state and browser storage
  src/components/ValidateGame.jsx
  src/components/editPanel/EditNav.jsx
  src/components/editPanel/ImagesSection.jsx
  src/components/editPanel/sections.js
  src/data/gameAssets.js
  src/locales/de.json
  src/locales/en.json
  src/locales/zh.json
  src/state/assets.js
  src/state/assets.test.jsx
  src/state/game.js
  src/state/gameProblems.js
  src/state/index.js
  src/state/render.test.js
  src/state/renderAssets.test.jsx
  src/state/root.test.js
  src/state/selectors.js
  src/state/store.js
  src/util/gameValidation.js
  src/util/gameValidation.test.js
  src/util/renderInput.js
  src/util/storage/assets.js
  src/util/storage/assets.test.jsx
  src/util/storage/db.js
  src/util/storage/idb.js
  src/util/storage/opfs.js
Due: prettier, eslint, test

feat(assets): draw custom images in icons, logos, terrain and trains
  public/schemas/de/game.schema.json
  public/schemas/de/tiles.defs.json
  public/schemas/game.schema.json
  public/schemas/tiles.defs.json
  public/schemas/zh/game.schema.json
  public/schemas/zh/tiles.defs.json
  src/components/atoms/City.jsx
  src/components/atoms/Icon.jsx
  src/components/atoms/Terrain.jsx
  src/components/cards/Train.jsx
  src/components/hexEditor/inspectors/IconTypeInspector.jsx
  src/components/schemaForm/AssetPicker.jsx
  src/components/schemaForm/AssetPicker.test.jsx
  src/components/tokens/Token.jsx
  src/data/games/18Test.assets/icons/star.svg
  src/data/games/18Test.assets/logos/crest.svg
  src/data/games/18Test.assets/trains/loco.png
  src/data/games/18Test.json
  src/locales/schema.de.json
  src/locales/schema.en.json
  src/locales/schema.zh.json
  src/schemas/game.schema.json
  tests/__snapshots__/18Test/cards-duplex.html
  tests/__snapshots__/18Test/cards-fonts.html
  tests/__snapshots__/18Test/cards.html
  tests/__snapshots__/18Test/charters.html
  tests/__snapshots__/18Test/tokens.html
  tests/export/svg.test.jsx
  tests/game/edit-panel.test.jsx
  tests/game/edit-sections.test.jsx
Due: schemas, validate, svgo, prettier, eslint, test

test(e2e): give the hex editor drag test room for the new Images chip
  e2e/hex-editor.spec.js
Due: prettier, eslint, test

feat(cli): export custom images from the assets folder of a game
  bin/maker.js
  src/cli/README.md
  src/cli/exportCommand.js
  src/cli/exportCommand.test.js
  src/export/assets.js
  src/export/assets.test.js
Due: prettier, eslint, test

feat(electron): export the custom images of a game file
  electron/main/assets.js
  electron/main/export.js
  electron/main/folderAssets.js
  src/export/folderAssets.test.js
  src/export/service.js
  src/export/service.test.js
Due: prettier, eslint, test

feat(electron): add custom images to a game file from the app
  electron/main/addAsset.js
  electron/main/index.js
  electron/main/saveFile.js
  electron/preload/api.js
  src/export/addAsset.test.js
  src/export/assets.test.js
  src/export/preload.test.js
  src/export/saveFile.test.js
  src/state/game.js
  src/state/thunks.test.js
Due: prettier, eslint, test

feat(electron): reload custom images when the assets folder changes
  electron/main/watch.js
  electron/main/watcher.js
  src/export/watcher.test.js
Due: prettier, eslint, test

feat(export): send the custom images of a bundled or browser game with an export
  src/components/export/ExportHost.jsx
  src/components/export/ExportOptions.jsx
  src/util/exportPlan.js
  src/util/exportPlan.test.js
Due: prettier, eslint, test

test(export): export custom images with the CLI and the app
  e2e/cli.spec.js
  e2e/electron.spec.js
  e2e/export-files.js
  e2e/export.spec.js
  electron/preload/api.js
  src/export/preload.test.js
Due: prettier, eslint, test

feat(ui): add custom images by dropping them onto the app
  DEVELOPMENT.md
  src/components/Alert.jsx
  src/components/DropImageDialog.jsx
  src/components/DropOverlay.jsx
  src/components/Root.jsx
  src/components/nav/index.jsx
  src/docs/games/images.de.md
  src/docs/games/images.en.md
  src/docs/games/images.zh.md
  src/locales/de.json
  src/locales/en.json
  src/locales/zh.json
  src/util/canSaveGame.js
  src/util/dropImages.js
  src/util/dropImages.test.jsx
  tests/chrome/drop-images.electron.test.jsx
  tests/chrome/drop-images.test.jsx
  tests/coverage/browser.test.jsx
  tests/coverage/electron.test.jsx
  tests/render/drop.test.jsx
  tests/support/drop.js
Due: prettier, eslint, test

test(e2e): drop images onto a game in the browser
  e2e/drop-images.spec.js
Due: prettier, eslint, test

test(electron): expect the custom images in the save as call
  tests/game/save-as.test.jsx
Due: prettier, eslint, test

fix(ui): check svg use targets in the sanitized tree and keep each id once
  src/state/assets.test.jsx
  src/util/svgSanitize.js
  src/util/svgSanitize.test.jsx
Due: prettier, eslint, test

fix(electron): show images that change in the game folder
  src/components/Root.jsx
  tests/chrome/drop-images.electron.test.jsx
  tests/chrome/load.test.jsx
  tests/coverage/electron.test.jsx
  tests/export/exports.test.jsx
  tests/export/keys.test.jsx
  tests/export/options.test.jsx
  tests/export/variation.test.jsx
  tests/game/save-as.test.jsx
  tests/game/save.test.jsx
  tests/routes/app.test.jsx
Due: prettier, eslint, test

fix(ui): close database connections and give up on a blocked open
  src/util/storage/db.js
  src/util/storage/idb.handles.test.js
  src/util/storage/idb.js
Due: prettier, eslint, test

fix(ui): keep a game opened while a quiet load reads its images
  src/state/game.js
  src/state/thunks.test.js
Due: prettier, eslint, test

fix(ui): show every line of a drop result with failures first
  src/components/Alert.jsx
  src/util/dropImages.js
  src/util/dropImages.test.jsx
  tests/chrome/alert.test.jsx
Due: prettier, eslint, test

docs(cli): document the assets flags and custom train images
  src/docs/games/trains.de.md
  src/docs/games/trains.en.md
  src/docs/games/trains.zh.md
  src/docs/output/cli.de.md
  src/docs/output/cli.en.md
  src/docs/output/cli.zh.md
Due: prettier

test(ui): cover the images tab and a failed copy on save as
  src/components/editPanel/ImagesSection.test.jsx
  src/state/assets.test.jsx
Due: prettier, eslint, test

refactor(ui): reuse the drop code and shared asset helpers
  src/components/editPanel/ImagesSection.jsx
  src/export/assets.js
  src/state/assets.js
  src/util/gameValidation.js
  src/util/storage/assets.js
  src/util/storage/assets.test.jsx
Due: prettier, eslint, test

feat(ui): show a loading state when a game file is dropped
  src/components/DropOverlay.jsx
  src/components/LoadingOverlay.jsx
  src/components/LoadingOverlay.test.jsx
  src/components/Root.jsx
  src/components/pages/games/GamePage.jsx
  src/locales/de.json
  src/locales/en.json
  src/locales/zh.json
  src/state/persist.test.js
  src/state/reducers.test.js
  src/state/root.test.js
  src/state/selectors.js
  src/state/ui.js
  src/styles/ui.css
  src/util/recent.js
  src/util/recent.test.js
  tests/chrome/drop-images.test.jsx
  tests/coverage/browser.test.jsx
  tests/coverage/electron.test.jsx
Due: prettier, eslint, stylelint, test

Path conditions:
  schemas: any of: {public,src}/schemas/*.json
  validate: any of: *.json, but not: package.json, release-please-config.json, .release-please-manifest.json, public/*, src/locales/*, src/schemas/*
  svgo: any of: *.svg
  prettier: any of: *.{css,js,mjs,cjs,jsx,json,yml,yaml,md}
  eslint: any of: *.{js,mjs,cjs,jsx}
  stylelint: any of: *.css
  test: any of: *.{js,mjs,cjs,jsx,json}
