Repository 18xx-maker/18xx-maker: changes, and which lefthook commands are due for each by the changed paths.
All: schemas, validate, svgo, prettier, eslint, stylelint, test

schemas:
  run: make && yarn validate:schemas
  stage_fixed: true
  priority: 10

validate:
  run: node ./bin/schemas.cjs {staged_files}
  priority: 40

svgo:
  run: yarn svgo:check {staged_files}
  stage_fixed: true
  priority: 40

prettier:
  run: yarn prettier --write {staged_files}
  stage_fixed: true
  priority: 20

eslint:
  run: yarn eslint --fix {staged_files}
  stage_fixed: true
  priority: 30

stylelint:
  run: yarn stylelint --fix {staged_files}
  stage_fixed: true
  priority: 30

test:
  run: yarn vitest related --coverage.enabled=false --reporter=basic --exclude "tests/**" --run {staged_files}
  priority: 50

test: move to playwright for jsx tests (#586)
  .github/workflows/test.yml
  package.json
  vitest.config.js
  yarn.lock
Due: prettier, eslint, test

chore(release): v1.0.0-beta.95
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: prettier, test

chore: upgrade to yarn 4
  .github/workflows/app.yml
  .github/workflows/test.yml
  .gitignore
  .yarnrc
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier, test

ci: set node version from .node-version in CI
  .github/workflows/app.yml
  .github/workflows/test.yml
  .ignore
Due: prettier

ci: add yarn cache to setup-node action
  .github/workflows/app.yml
  .github/workflows/test.yml
Due: prettier

ci: set shell to bash for corepack enable
  .github/workflows/app.yml
  .github/workflows/test.yml
Due: prettier

docs: add corepack enable to developing docs
  src/pages/docs/developing.en.md
Due: prettier

chore(release): v1.0.0-beta.95 (#583)
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: prettier, test

fix(electron): clean the summary list on loading
  electron/main/config.js
Due: prettier, eslint, test

fix(electron): clean the summary list on loading (#589)
  electron/main/config.js
Due: prettier, eslint, test

feat: add ability to check for updates in the app
  electron/main/index.js
  electron/preload/preload.js
  src/locales/en.json
  src/pages/App.jsx
Due: prettier, eslint, test

feat: add ability to check for updates in the app (#591)
  electron/main/index.js
  electron/preload/preload.js
  src/locales/en.json
  src/pages/App.jsx
Due: prettier, eslint, test

feat: updating 1858 to latest version from Ian
  src/data/games/1858.json
  src/data/games/1861.json
  src/data/games/1867.json
Due: validate, prettier, test

feat: updating 1858 to latest version from Ian (#592)
  src/data/games/1858.json
  src/data/games/1861.json
  src/data/games/1867.json
Due: validate, prettier, test

chore(release): v1.0.0-beta.96
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: prettier, test

chore(release): v1.0.0-beta.96 (#590)
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: prettier, test

feat: replace svg masks with clipPaths
  public/schemas/tiles.defs.json
  src/Hex.jsx
  src/Root.jsx
  src/Tile.jsx
  src/pages/games/Tile.jsx
  src/pages/games/Tiles.jsx
  src/schemas/tiles.defs.json
  src/schemas/tiles.src.json
  src/tilesheet/util.js
Due: schemas, prettier, eslint, test

feat: replace svg masks with clipPaths (#593)
  public/schemas/tiles.defs.json
  src/Hex.jsx
  src/Root.jsx
  src/Tile.jsx
  src/pages/games/Tile.jsx
  src/pages/games/Tiles.jsx
  src/schemas/tiles.defs.json
  src/schemas/tiles.src.json
  src/tilesheet/util.js
Due: schemas, prettier, eslint, test

chore: move to pnpm instead of yarn
  package.json
  pnpm-lock.yaml
  yarn.lock
Due: prettier, test

chore: changing doc refrences from yarn to pnpm
  .yarnrc
  docker/Dockerfile.develop
  docker/Dockerfile.site
  lefthook.yml
  src/pages/docs/developing.en.md
  src/pages/docs/games/logos.en.md
  src/pages/docs/games/schemas.en.md
  src/pages/docs/output/b18.en.md
  src/pages/docs/output/pdf.en.md
Due: prettier

ci: update workflows to use pnpm
  .github/workflows/app.yml
  .github/workflows/test.yml
  .ignore
  src/data/logos/webdev/pnpm.svg
Due: svgo, prettier

chore: add in esbuild logo
  src/data/logos/webdev/esbuild.svg
Due: svgo

chore: add in vite logo
  src/data/logos/webdev/vite.svg
Due: svgo

chore: add in redux and react router logos
  src/data/logos/webdev/react-router.svg
  src/data/logos/webdev/redux.svg
Due: svgo

chore: add in playwright logo
  src/data/logos/webdev/playwright.svg
Due: svgo

chore: add in jest and vitest logos
  lefthook.yml
  package.json
  src/data/logos/webdev/jest.svg
  src/data/logos/webdev/vite.svg
  src/data/logos/webdev/vitest.svg
  svgo.config.js
Due: svgo, prettier, eslint, test

ci: adding in playwright browser cache
  .github/workflows/test.yml
  .gitignore
Due: prettier

fix: typo in b18 description
  src/pages/docs/index.en.md
Due: prettier

fix: updating GTG text
  src/locales/en.json
Due: prettier, test

fix: duplicate app translation string after app page introduced
  src/locales/en.json
  src/pages/Home.jsx
Due: prettier, eslint, test

chore: migrate from yarn to pnpm (#595)
  .github/workflows/app.yml
  .github/workflows/test.yml
  .gitignore
  .ignore
  .yarnrc
  docker/Dockerfile.develop
  docker/Dockerfile.site
  lefthook.yml
  package.json
  pnpm-lock.yaml
  src/data/logos/webdev/esbuild.svg
  src/data/logos/webdev/jest.svg
  src/data/logos/webdev/playwright.svg
  src/data/logos/webdev/pnpm.svg
  src/data/logos/webdev/react-router.svg
  src/data/logos/webdev/redux.svg
  src/data/logos/webdev/vite.svg
  src/data/logos/webdev/vitest.svg
  src/locales/en.json
  src/pages/Home.jsx
  src/pages/docs/developing.en.md
  src/pages/docs/games/logos.en.md
  src/pages/docs/games/schemas.en.md
  src/pages/docs/index.en.md
  src/pages/docs/output/b18.en.md
  src/pages/docs/output/pdf.en.md
  svgo.config.js
  yarn.lock
Due: svgo, prettier, eslint, test

chore: remove unused font context
  src/context/FontContext.jsx
  src/market/Cell.jsx
  src/market/ParCell.jsx
  src/pages/games/Background.jsx
Due: prettier, eslint, test

chore: remove unused font context (#599)
  src/context/FontContext.jsx
  src/market/Cell.jsx
  src/market/ParCell.jsx
  src/pages/games/Background.jsx
Due: prettier, eslint, test

ci: allow prettier to ignore pnpm-lock.yaml
  .prettierignore
Due: none

ci: allow prettier to ignore pnpm-lock.yaml (#601)
  .prettierignore
Due: none

ci: move all linting to a separate task
  .github/workflows/test.yml
Due: prettier

ci: run test.yaml on main pushes
  .github/workflows/test.yml
Due: prettier

ci: move all linting to a separate task (#602)
  .github/workflows/test.yml
Due: prettier

ci: run test.yaml on main pushes (#603)
  .github/workflows/test.yml
Due: prettier

ci: turn off some linting rules to allow dependabot to work
  package.json
Due: prettier, test

Path conditions:
  schemas: any of: {public,src}/schemas/*.json
  validate: any of: *.json, but not: package.json, release-please-config.json, .release-please-manifest.json, public/*, src/locales/*, src/schemas/*
  svgo: any of: *.svg
  prettier: any of: *.{css,js,mjs,cjs,jsx,json,yml,yaml,md}
  eslint: any of: *.{js,mjs,cjs,jsx}
  stylelint: any of: *.css
  test: any of: *.{js,mjs,cjs,jsx,json}
