Repository 18xx-maker/18xx-maker: changes, and which lefthook commands are due for each by the changed paths.
All: schemas, validate, svgo, prettier, eslint, stylelint, test

schemas:
  run: make && pnpm validate:schemas
  stage_fixed: true
  priority: 10

validate:
  run: node ./bin/maker.js validate {staged_files}
  priority: 40

svgo:
  run: pnpm exec svgo {staged_files}
  stage_fixed: true
  priority: 40

prettier:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true
  priority: 20

eslint:
  run: pnpm eslint --fix {staged_files}
  stage_fixed: true
  priority: 30

stylelint:
  run: pnpm stylelint --fix {staged_files}
  stage_fixed: true
  priority: 30

test:
  run: pnpm vitest related --coverage.enabled=false --reporter=basic --exclude "tests/**" --run {staged_files}
  priority: 50

feat(ui): show field help in an info tooltip
  src/components/schemaForm/SchemaField.test.jsx
  src/components/schemaForm/fields/shared.jsx
  src/locales/de.json
  src/locales/en.json
  src/locales/zh.json
Due: prettier, eslint, test

fix(ui): keep the info button out of the field label
  src/components/schemaForm/ReferenceField.test.jsx
  src/components/schemaForm/SchemaField.test.jsx
  src/components/schemaForm/SchemaFormProvider.jsx
  src/components/schemaForm/fields/shared.jsx
Due: prettier, eslint, test

fix(problems): keep real errors next to removed fields
  src/cli/validate.js
  src/cli/validate.test.js
  src/util/gameValidation.js
  src/util/gameValidation.test.js
Due: prettier, eslint, test

feat(ui): show field help in an info tooltip (#1004)
  src/components/schemaForm/ReferenceField.test.jsx
  src/components/schemaForm/SchemaField.test.jsx
  src/components/schemaForm/SchemaFormProvider.jsx
  src/components/schemaForm/fields/shared.jsx
  src/locales/de.json
  src/locales/en.json
  src/locales/zh.json
Due: prettier, eslint, test

feat(ui): keep edit panel open state across tabs
  src/components/schemaForm/MarketForm.jsx
  src/components/schemaForm/ReferenceField.test.jsx
  src/components/schemaForm/SchemaField.test.jsx
  src/components/schemaForm/fields/ListFields.jsx
  src/components/schemaForm/usePanelState.js
  src/state/reducers.test.js
  src/state/root.test.js
  src/state/selectors.js
  src/state/ui.js
  tests/export/keys.test.jsx
Due: prettier, eslint, test

fix(ui): reset edit panel state with the game and key groups by id
  src/components/schemaForm/MarketForm.jsx
  src/components/schemaForm/MarketForm.test.jsx
  src/components/schemaForm/fields/ListFields.jsx
  src/state/reducers.test.js
  src/state/ui.js
Due: prettier, eslint, test

docs(config): explain the allow game config setting
  src/cli/README.md
  src/docs/config.de.md
  src/docs/config.en.md
  src/docs/config.zh.md
  src/docs/output/cli.de.md
  src/docs/output/cli.en.md
  src/docs/output/cli.zh.md
Due: prettier

fix(config): ignore allowGameConfig in the url and label the toolbar warning
  src/components/Toolbar.jsx
  src/docs/config.de.md
  src/docs/config.en.md
  src/docs/config.zh.md
  src/locales/de.json
  src/locales/en.json
  src/locales/zh.json
  src/util/query.test.js
  src/util/resolveConfig.js
  src/util/resolveConfig.test.js
  tests/chrome/config.test.jsx
  tests/toolbar.test.jsx
Due: prettier, eslint, test

feat(config): add allowGameConfig to apply a game's config
  e2e/config.spec.js
  public/schemas/config.schema.json
  public/schemas/de/config.schema.json
  public/schemas/de/game.schema.json
  public/schemas/game.schema.json
  public/schemas/zh/config.schema.json
  public/schemas/zh/game.schema.json
  src/cli/export.test.js
  src/cli/print.test.js
  src/cli/validate.test.js
  src/components/Toolbar.jsx
  src/components/config/Config.jsx
  src/components/config/Input.jsx
  src/components/config/index.js
  src/components/editPanel/EditNav.jsx
  src/data/games/18Test.json
  src/defaults.json
  src/hooks/config.js
  src/locales/de.json
  src/locales/en.json
  src/locales/schema.de.json
  src/locales/schema.en.json
  src/locales/schema.zh.json
  src/locales/zh.json
  src/schemas/config.schema.json
  src/schemas/game.schema.json
  src/state/selectors.test.js
  src/util/exportPlan.test.js
  src/util/query.js
  src/util/resolveConfig.js
  src/util/resolveConfig.test.js
  tests/chrome/config.test.jsx
  tests/render/mode.test.jsx
  tests/toolbar.test.jsx
Due: schemas, validate, prettier, eslint, test

feat(ui): keep edit panel open state across tabs (#1006)
  src/components/schemaForm/MarketForm.jsx
  src/components/schemaForm/MarketForm.test.jsx
  src/components/schemaForm/ReferenceField.test.jsx
  src/components/schemaForm/SchemaField.test.jsx
  src/components/schemaForm/fields/ListFields.jsx
  src/components/schemaForm/usePanelState.js
  src/state/reducers.test.js
  src/state/root.test.js
  src/state/selectors.js
  src/state/ui.js
  tests/export/keys.test.jsx
Due: prettier, eslint, test

feat(ui): add field search and list filter to the edit panel
  src/components/Shortcuts.jsx
  src/components/editPanel/EditPanel.jsx
  src/components/editPanel/FieldSearch.jsx
  src/components/schemaForm/CompaniesForm.jsx
  src/components/schemaForm/PrivatesForm.jsx
  src/components/schemaForm/TrainsForm.jsx
  src/components/schemaForm/fields/ListFields.jsx
  src/docs/files.de.md
  src/docs/files.en.md
  src/docs/files.zh.md
  src/hooks/bindings.js
  src/locales/de.json
  src/locales/en.json
  src/locales/zh.json
  tests/game/edit-panel-search.test.jsx
Due: prettier, eslint, test

refactor(schema): rename info font size fields
  public/schemas/de/game.schema.json
  public/schemas/game.schema.json
  public/schemas/zh/game.schema.json
  src/components/map/Title.jsx
  src/components/schemaForm/resolve.test.js
  src/data/games/1871BC.json
  src/data/games/1883ExpressdOrient.json
  src/data/games/1888.json
  src/data/games/1889.json
  src/data/games/18Broken.json
  src/data/games/18GJ.json
  src/data/games/18LA.json
  src/data/games/18TE.json
  src/data/games/21Moon.json
  src/data/games/TheOldPrince1871.json
  src/locales/de.json
  src/locales/en.json
  src/locales/schema.de.json
  src/locales/schema.en.json
  src/locales/schema.zh.json
  src/locales/zh.json
  src/schemas/game.schema.json
  src/util/gameValidation.test.js
  tests/coverage/renamed-fields.test.jsx
  tests/support/deprecatedGame.js
Due: schemas, validate, prettier, eslint, test

refactor(schema): rename phase fields to camel case
  e2e/fixtures/e2e-game.json
  public/schemas/de/game.schema.json
  public/schemas/game.schema.json
  public/schemas/zh/game.schema.json
  src/components/Charter.stories.js
  src/components/Phase.jsx
  src/components/Phase.stories.js
  src/components/schemaForm/resolve.test.js
  src/data/games/1871BC.json
  src/data/games/1883ExpressdOrient.json
  src/data/games/1888.json
  src/data/games/1889.json
  src/data/games/18Broken.json
  src/data/games/18LA.json
  src/data/games/18Test.json
  src/docs/games/game-info.de.md
  src/docs/games/game-info.en.md
  src/docs/games/game-info.zh.md
  src/docs/games/trains.de.md
  src/docs/games/trains.en.md
  src/docs/games/trains.zh.md
  src/locales/de.json
  src/locales/en.json
  src/locales/schema.de.json
  src/locales/schema.en.json
  src/locales/schema.zh.json
  src/locales/zh.json
  src/schemas/game.schema.json
  src/util/gameValidation.test.js
  tests/coverage/charter.test.jsx
  tests/coverage/renamed-fields.test.jsx
  tests/game/edit-panel.test.jsx
  tests/support/deprecatedGame.js
Due: schemas, validate, prettier, eslint, test

test(schema): check the deprecation messages and both names
  src/cli/validate.test.js
  src/locales/locales.test.js
Due: prettier, eslint, test

refactor(schema): rename quantity label and number cards
  DEVELOPMENT.md
  public/schemas/de/game.schema.json
  public/schemas/game.schema.json
  public/schemas/zh/game.schema.json
  src/components/Phase.jsx
  src/components/cards/index.jsx
  src/components/schemaForm/resolve.js
  src/components/schemaForm/resolve.test.js
  src/data/games/18Broken.json
  src/data/games/18SJ.json
  src/data/games/TheOldPrince1871.json
  src/docs/games/first-game.de.md
  src/docs/games/first-game.en.md
  src/docs/games/first-game.zh.md
  src/docs/games/game-info.de.md
  src/docs/games/game-info.en.md
  src/docs/games/game-info.zh.md
  src/docs/games/pages.de.md
  src/docs/games/pages.en.md
  src/docs/games/pages.zh.md
  src/docs/games/schemas.de.md
  src/docs/games/schemas.en.md
  src/docs/games/schemas.zh.md
  src/docs/games/trains.de.md
  src/docs/games/trains.en.md
  src/docs/games/trains.zh.md
  src/locales/de.json
  src/locales/en.json
  src/locales/schema.de.json
  src/locales/schema.en.json
  src/locales/schema.zh.json
  src/locales/zh.json
  src/schemas/game.schema.json
  src/util/gameValidation.test.js
  tests/coverage/charter.test.jsx
  tests/coverage/renamed-fields.test.jsx
  tests/game/edit-panel.test.jsx
  tests/support/deprecatedGame.js
Due: schemas, validate, prettier, eslint, test

docs: describe how to rename a field
  CLAUDE.md
Due: prettier

fix(ui): keep search focus and filter box in the edit panel
  src/components/editPanel/FieldSearch.jsx
  src/components/schemaForm/fields/ListFields.jsx
  src/docs/files.de.md
  src/docs/files.en.md
  src/docs/files.zh.md
  tests/game/edit-panel-search.test.jsx
Due: prettier, eslint, test

fix(schema): keep the old meaning of 0 and empty for the old names
  src/components/Phase.jsx
  src/components/cards/index.jsx
  src/components/map/Title.jsx
  tests/coverage/renamed-fields.test.jsx
Due: prettier, eslint, test

fix(ui): hide an unset deprecated field in the edit panel
  src/components/schemaForm/RoundsForm.jsx
  src/components/schemaForm/deprecatedFields.test.jsx
  src/components/schemaForm/fields/ObjectField.jsx
  src/components/schemaForm/resolve.js
  src/util/gameValidation.test.js
Due: prettier, eslint, test

test(schema): share a game with both names of every renamed field
  src/cli/validate.test.js
  tests/support/deprecatedGame.js
Due: prettier, eslint, test

docs: fix rename recipe, zh wording, locale formatting and key order
  CLAUDE.md
  DEVELOPMENT.md
  src/docs/games/game-info.zh.md
  src/docs/games/schemas.zh.md
  src/locales/de.json
  src/locales/en.json
  src/locales/schema.de.json
  src/locales/schema.en.json
  src/locales/schema.zh.json
  src/locales/zh.json
Due: prettier, test

feat(ui): add field search and list filter to the edit panel (#1009)
  src/components/Shortcuts.jsx
  src/components/editPanel/EditPanel.jsx
  src/components/editPanel/FieldSearch.jsx
  src/components/schemaForm/CompaniesForm.jsx
  src/components/schemaForm/PrivatesForm.jsx
  src/components/schemaForm/TrainsForm.jsx
  src/components/schemaForm/fields/ListFields.jsx
  src/docs/files.de.md
  src/docs/files.en.md
  src/docs/files.zh.md
  src/hooks/bindings.js
  src/locales/de.json
  src/locales/en.json
  src/locales/zh.json
  tests/game/edit-panel-search.test.jsx
Due: prettier, eslint, test

feat(config): add fonts roles to the schemas
  public/schemas/config.schema.json
  public/schemas/de/config.schema.json
  public/schemas/de/game.schema.json
  public/schemas/game.schema.json
  public/schemas/zh/config.schema.json
  public/schemas/zh/game.schema.json
  src/locales/schema.de.json
  src/locales/schema.en.json
  src/locales/schema.zh.json
  src/schemas/config.schema.json
  src/schemas/game.schema.json
Due: schemas, prettier, test

feat(config): resolve font roles for names and private cards
  public/schemas/config.schema.json
  public/schemas/de/config.schema.json
  public/schemas/zh/config.schema.json
  src/components/atoms/Name.jsx
  src/components/cards/Private.jsx
  src/locales/schema.de.json
  src/locales/schema.en.json
  src/locales/schema.zh.json
  src/util/fonts.js
  src/util/fonts.test.js
  src/util/index.layout.test.js
  src/util/resolveConfig.js
Due: schemas, prettier, eslint, test

feat(config): add a fonts example to 18Test
  public/schemas/config.schema.json
  public/schemas/de/config.schema.json
  public/schemas/de/game.schema.json
  public/schemas/game.schema.json
  public/schemas/zh/config.schema.json
  public/schemas/zh/game.schema.json
  src/cli/validate.test.js
  src/data/games/18Test.json
  src/locales/schema.de.json
  src/locales/schema.en.json
  src/locales/schema.zh.json
  src/schemas/config.schema.json
  src/schemas/game.schema.json
  tests/__snapshots__/18Test/cards-fonts.html
  tests/__snapshots__/18Test/map-fonts.html
  tests/fonts.test.jsx
  tests/snapshots.test.jsx
  tests/support/snapshot.js
Due: schemas, validate, prettier, eslint, test

docs(config): document the fonts setting
  src/docs/config.de.md
  src/docs/config.en.md
  src/docs/config.zh.md
  src/docs/games/game-info.de.md
  src/docs/games/game-info.en.md
  src/docs/games/game-info.zh.md
  src/docs/output/svg.de.md
  src/docs/output/svg.en.md
  src/docs/output/svg.zh.md
Due: prettier

fix(config): drop non-positive URL font sizes and test legacy font precedence
  public/schemas/config.schema.json
  public/schemas/de/config.schema.json
  public/schemas/zh/config.schema.json
  src/docs/config.de.md
  src/docs/config.en.md
  src/docs/config.zh.md
  src/docs/games/game-info.en.md
  src/docs/games/game-info.zh.md
  src/docs/output/svg.en.md
  src/docs/output/svg.zh.md
  src/locales/schema.de.json
  src/locales/schema.en.json
  src/locales/schema.zh.json
  src/util/fonts.test.js
  src/util/resolveConfig.js
  tests/fonts.test.jsx
Due: schemas, prettier, eslint, test

feat(config): add central font roles (#1012)
  public/schemas/config.schema.json
  public/schemas/de/config.schema.json
  public/schemas/de/game.schema.json
  public/schemas/game.schema.json
  public/schemas/zh/config.schema.json
  public/schemas/zh/game.schema.json
  src/cli/validate.test.js
  src/components/atoms/Name.jsx
  src/components/cards/Private.jsx
  src/data/games/18Test.json
  src/docs/config.de.md
  src/docs/config.en.md
  src/docs/config.zh.md
  src/docs/games/game-info.de.md
  src/docs/games/game-info.en.md
  src/docs/games/game-info.zh.md
  src/docs/output/svg.de.md
  src/docs/output/svg.en.md
  src/docs/output/svg.zh.md
  src/locales/schema.de.json
  src/locales/schema.en.json
  src/locales/schema.zh.json
  src/schemas/config.schema.json
  src/schemas/game.schema.json
  src/util/fonts.js
  src/util/fonts.test.js
  src/util/index.layout.test.js
  src/util/resolveConfig.js
  tests/__snapshots__/18Test/cards-fonts.html
  tests/__snapshots__/18Test/map-fonts.html
  tests/fonts.test.jsx
  tests/snapshots.test.jsx
  tests/support/snapshot.js
Due: schemas, validate, prettier, eslint, test

fix(ui): keep edit panel hex editor in step with the anchor
  src/components/editPanel/HexSection.jsx
  src/components/editPanel/JsonSection.jsx
  tests/game/edit-panel-hex.test.jsx
Due: prettier, eslint, test

feat(ui): add fonts section to config drawer
  src/components/config/FontRoleInput.jsx
  src/components/config/Items.jsx
  src/components/config/index.js
  src/docs/config.de.md
  src/docs/config.en.md
  src/docs/config.zh.md
  src/locales/de.json
  src/locales/en.json
  src/locales/zh.json
  tests/chrome/config.test.jsx
Due: prettier, eslint, test

feat(ui): add config tab to the edit panel
  src/components/editPanel/ConfigSection.jsx
  src/components/editPanel/EditNav.jsx
  src/components/editPanel/sections.js
  src/components/editPanel/sections.test.jsx
  src/docs/files.de.md
  src/docs/files.en.md
  src/docs/files.zh.md
  src/util/gameValidation.js
  src/util/gameValidation.test.js
  src/util/jsonEditor.js
  src/util/jsonEditor.test.js
  tests/game/edit-panel-config.test.jsx
  tests/game/edit-panel.test.jsx
  tests/game/edit-sections.test.jsx
Due: prettier, eslint, test

fix(ui): report config typos once, keep unlisted font weights, restore locale format
  src/components/config/FontRoleInput.jsx
  src/locales/de.json
  src/locales/en.json
  src/locales/zh.json
  src/util/gameValidation.js
  src/util/gameValidation.test.js
  tests/chrome/config.test.jsx
Due: prettier, eslint, test

fix(ui): recover the editor chunk after a retry
  src/components/editPanel/JsonSection.jsx
  tests/game/edit-panel-hex.test.jsx
  tests/game/json-section-chunk.test.jsx
Due: prettier, eslint, test

feat(ui): add fonts to config panel (#1015)
  src/components/config/FontRoleInput.jsx
  src/components/config/Items.jsx
  src/components/config/index.js
  src/components/editPanel/ConfigSection.jsx
  src/components/editPanel/EditNav.jsx
  src/components/editPanel/sections.js
  src/components/editPanel/sections.test.jsx
  src/docs/config.de.md
  src/docs/config.en.md
  src/docs/config.zh.md
  src/docs/files.de.md
  src/docs/files.en.md
  src/docs/files.zh.md
  src/locales/de.json
  src/locales/en.json
  src/locales/zh.json
  src/util/gameValidation.js
  src/util/gameValidation.test.js
  src/util/jsonEditor.js
  src/util/jsonEditor.test.js
  tests/chrome/config.test.jsx
  tests/game/edit-panel-config.test.jsx
  tests/game/edit-panel.test.jsx
  tests/game/edit-sections.test.jsx
Due: prettier, eslint, test

fix(ui): keep edit panel hex editor in step with the anchor (#1014)
  src/components/editPanel/HexSection.jsx
  src/components/editPanel/JsonSection.jsx
  tests/game/edit-panel-hex.test.jsx
  tests/game/json-section-chunk.test.jsx
Due: prettier, eslint, test

test: add a wouter memory router for tests
  package.json
  pnpm-lock.yaml
  tests/support/memoryRouter.jsx
  tests/support/memoryRouter.test.jsx
Due: prettier, eslint, test

refactor(ui): add a router module on wouter
  src/router/hash.js
  src/router/index.jsx
  src/router/router.test.jsx
  src/router/url.js
  vitest.config.js
Due: prettier, eslint, test

Path conditions:
  schemas: any of: {public,src}/schemas/*.json
  validate: any of: *.json, but not: package.json, release-please-config.json, .release-please-manifest.json, public/*, src/locales/*, src/schemas/*
  svgo: any of: *.svg
  prettier: any of: *.{css,js,mjs,cjs,jsx,json,yml,yaml,md}
  eslint: any of: *.{js,mjs,cjs,jsx}
  stylelint: any of: *.css
  test: any of: *.{js,mjs,cjs,jsx,json}
