Repository 18xx-maker/18xx-maker: changes, and which lefthook commands are due for each by the changed paths.
All: schemas, validate, svgo, prettier, eslint, stylelint, test

schemas:
  run: make && pnpm validate:schemas
  stage_fixed: true
  priority: 10

validate:
  run: node ./bin/maker.js validate {staged_files}
  priority: 40

svgo:
  run: pnpm exec svgo {staged_files}
  stage_fixed: true
  priority: 40

prettier:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true
  priority: 20

eslint:
  run: pnpm eslint --fix {staged_files}
  stage_fixed: true
  priority: 30

stylelint:
  run: pnpm stylelint --fix {staged_files}
  stage_fixed: true
  priority: 30

test:
  run: pnpm vitest related --coverage.enabled=false --reporter=basic --exclude "tests/**" --run {staged_files}
  priority: 50

chore: update github actions to latest versions
  .github/workflows/app.yml
  .github/workflows/docker.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: prettier

chore: use actions/attest instead of attest-build-provenance
  .github/workflows/app.yml
  .github/workflows/docker.yml
Due: prettier

chore: node 24 baseline and latest github actions (#721)
  .github/workflows/app.yml
  .github/workflows/docker.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .nvmrc
  package.json
Due: prettier, test

chore: upgrade playwright to 1.63 and convert e2e config and specs to es modules
  DEVELOPMENT.md
  e2e/a11y.spec.js
  e2e/config.spec.js
  e2e/games.spec.js
  e2e/load.spec.js
  e2e/package.json
  e2e/print.spec.js
  lefthook.yml
  package.json
  playwright.config.js
  pnpm-lock.yaml
Due: validate, prettier, eslint, test

chore: pin playwright to 1.62
  package.json
  pnpm-lock.yaml
Due: prettier, test

chore: upgrade playwright to 1.62 and use es modules for e2e (#723)
  DEVELOPMENT.md
  e2e/a11y.spec.js
  e2e/config.spec.js
  e2e/games.spec.js
  e2e/load.spec.js
  e2e/package.json
  e2e/print.spec.js
  lefthook.yml
  package.json
  playwright.config.js
  pnpm-lock.yaml
Due: validate, prettier, eslint, test

docs: add CLAUDE.md with testing and upgrade notes, symlink AGENTS.md
  AGENTS.md
  CLAUDE.md
Due: prettier

docs: add CLAUDE.md and AGENTS.md with testing notes (#725)
  AGENTS.md
  CLAUDE.md
Due: prettier

fix: handle special characters in tile ids when exporting PNGs
  src/components/ExportButton.jsx
Due: prettier, eslint, test

fix: handle special characters in tile ids when exporting PNGs (#726)
  src/components/ExportButton.jsx
Due: prettier, eslint, test

fix: single tile png export uses the current route
  src/components/pages/Tile.jsx
Due: prettier, eslint, test

fix: single tile png export uses the current route (#729)
  src/components/pages/Tile.jsx
Due: prettier, eslint, test

fix(electron): reset invalid config instead of failing to start
  electron/main/config.js
Due: prettier, eslint, test

fix(electron): reset invalid config instead of failing to start (#728)
  electron/main/config.js
Due: prettier, eslint, test

chore: update public tiles defs schema
  public/schemas/tiles.defs.json
Due: schemas, prettier, test

feat: add stripeRotation to override stripe rotation on hex backgrounds
  src/components/Hex.jsx
  src/components/atoms/Hex.jsx
  src/components/pages/elements/Atoms.jsx
  src/schemas/tiles.defs.json
  src/schemas/tiles.src.json
Due: schemas, prettier, eslint, test

refactor: rename override to overrideStripeRotation
  src/components/atoms/Hex.jsx
Due: prettier, eslint, test

feat: add stripeRotation to override stripe rotation on hex backgrounds (#727)
  public/schemas/tiles.defs.json
  src/components/Hex.jsx
  src/components/atoms/Hex.jsx
  src/components/pages/elements/Atoms.jsx
  src/schemas/tiles.defs.json
  src/schemas/tiles.src.json
Due: schemas, prettier, eslint, test

chore(release): v1.0.0-beta.122
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: prettier, test

chore(release): v1.0.0-beta.122 (#714)
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: prettier, test

fix(electron): exclude AGENTS.md and CLAUDE.md from app build
  package.json
Due: prettier, test

fix(electron): exclude AGENTS.md and CLAUDE.md from app build (#730)
  package.json
Due: prettier, test

chore(release): v1.0.0-beta.123
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: prettier, test

ci: shard Linux tests and run only unit tests on Mac and Windows for PRs
  .github/workflows/test.yml
  .gitignore
  DEVELOPMENT.md
  vitest.config.js
Due: prettier, eslint, test

ci: upload the hidden blob report directory
  .github/workflows/test.yml
Due: prettier

ci: speed up the test workflow (#732)
  .github/workflows/test.yml
  .gitignore
  DEVELOPMENT.md
  vitest.config.js
Due: prettier, eslint, test

chore(release): v1.0.0-beta.123 (#733)
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: prettier, test

fix: clip country flag tokens to their box
  src/components/tokens/Token.jsx
  src/data/logos/countries/cr.svg
Due: svgo, prettier, eslint, test

fix: clip logos on the elements page to their box
  src/components/pages/elements/Logos.jsx
Due: prettier, eslint, test

fix: clip flags that paint outside their viewBox
  src/data/logos/countries/je.svg
  src/data/logos/countries/jm.svg
  src/data/logos/countries/kn.svg
  src/data/logos/countries/na.svg
  src/data/logos/countries/sb.svg
  src/data/logos/countries/tm.svg
  src/data/logos/countries/tz.svg
  src/data/logos/countries/vn.svg
Due: svgo

test: add phase 0 safety net for the chrome rewrite
  .github/workflows/e2e-baselines.yml
  .github/workflows/test.yml
  DEVELOPMENT.md
  e2e/a11y.spec.js
  e2e/chrome-screenshots.spec.js
  e2e/print.spec.js
  package.json
  scripts/check-bundle-size.js
  scripts/check-mui-styles.js
  src/components/ExportButton.jsx
  src/components/PrintButton.jsx
  src/components/Root.jsx
  src/components/Viewport.jsx
  src/components/config/ConfigDrawer.jsx
  src/components/nav/AppNav.jsx
  src/components/nav/SideNav.jsx
  tests/snapshot.js
Due: prettier, eslint, test

test: tighten phase 0 gates after review
  .github/workflows/e2e-baselines.yml
  .github/workflows/test.yml
  CLAUDE.md
  DEVELOPMENT.md
  e2e/a11y.spec.js
  e2e/chrome-screenshots.spec.js
  e2e/print.spec.js
  scripts/check-bundle-size.js
  tests/snapshot.js
Due: prettier, eslint, test

feat(ui): add form primitives (TextField, Checkbox, Switch, FormControlLabel)
  src/ui/Checkbox.jsx
  src/ui/Checkbox.module.css
  src/ui/Form.jsx
  src/ui/Form.module.css
  src/ui/Switch.jsx
  src/ui/Switch.module.css
  src/ui/TextField.jsx
  src/ui/TextField.module.css
  src/ui/index.js
  src/ui/primitives.test.jsx
Due: prettier, eslint, stylelint, test

feat(ui): add shared chrome primitives
  src/ui/AppBar.jsx
  src/ui/AppBar.module.css
  src/ui/Avatar.jsx
  src/ui/Avatar.module.css
  src/ui/AvatarGroup.jsx
  src/ui/AvatarGroup.module.css
  src/ui/Box.jsx
  src/ui/Button.jsx
  src/ui/Button.module.css
  src/ui/Container.jsx
  src/ui/Container.module.css
  src/ui/Divider.jsx
  src/ui/Divider.module.css
  src/ui/Fab.jsx
  src/ui/Fab.module.css
  src/ui/Grid.jsx
  src/ui/Grid.module.css
  src/ui/IconButton.jsx
  src/ui/IconButton.module.css
  src/ui/Link.jsx
  src/ui/Link.module.css
  src/ui/List.jsx
  src/ui/List.module.css
  src/ui/Paper.jsx
  src/ui/Paper.module.css
  src/ui/Table.jsx
  src/ui/Table.module.css
  src/ui/Toolbar.jsx
  src/ui/Toolbar.module.css
  src/ui/Typography.jsx
  src/ui/Typography.module.css
  src/ui/buttonBase.js
  src/ui/buttonBase.module.css
  src/ui/cx.js
  src/ui/index.js
  src/ui/primitives.test.jsx
  src/ui/tokens.css
Due: prettier, eslint, stylelint, test

refactor(ui): move nav, viewport and floating buttons off MUI
  e2e/a11y.spec.js
  e2e/chrome-screenshots.spec.js
  scripts/check-mui-styles.js
  src/components/ExportButton.jsx
  src/components/File.jsx
  src/components/PrintButton.jsx
  src/components/TileFilters.jsx
  src/components/TileFilters.module.css
  src/components/Viewport.jsx
  src/components/Viewport.module.css
  src/components/fab.module.css
  src/components/nav/AppNav.jsx
  src/components/nav/AppNav.module.css
  src/components/nav/DocsNav.jsx
  src/components/nav/ElementsNav.jsx
  src/components/nav/GameNav.jsx
  src/components/nav/GameNav.module.css
  src/components/nav/MobileMenuButton.jsx
  src/components/nav/MobileMenuButton.module.css
  src/components/nav/SideNav.jsx
  src/components/nav/SideNav.module.css
  src/styles/root.css
  src/ui/README.md
  src/ui/coexistence.fixture.module.css
  src/ui/coexistence.test.jsx
Due: prettier, eslint, stylelint, test

Path conditions:
  schemas: any of: {public,src}/schemas/*.json
  validate: any of: *.json, but not: package.json, release-please-config.json, .release-please-manifest.json, public/*, src/locales/*, src/schemas/*
  svgo: any of: *.svg
  prettier: any of: *.{css,js,mjs,cjs,jsx,json,yml,yaml,md}
  eslint: any of: *.{js,mjs,cjs,jsx}
  stylelint: any of: *.css
  test: any of: *.{js,mjs,cjs,jsx,json}
