Repository 18xx-maker/18xx-maker: changes, and which lefthook commands are due for each by the changed paths.
All: schemas, validate, svgo, prettier, eslint, stylelint, test

schemas:
  run: make && pnpm validate:schemas
  stage_fixed: true
  priority: 10

validate:
  run: node ./bin/maker.js validate {staged_files}
  priority: 40

svgo:
  run: pnpm exec svgo {staged_files}
  stage_fixed: true
  priority: 40

prettier:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true
  priority: 20

eslint:
  run: pnpm eslint --fix {staged_files}
  stage_fixed: true
  priority: 30

stylelint:
  run: pnpm stylelint --fix {staged_files}
  stage_fixed: true
  priority: 30

test:
  run: pnpm vitest related --coverage.enabled=false --reporter=basic --exclude "tests/**" --run {staged_files}
  priority: 50

feat: add the 18Broken test game and list test games last
  src/cli/legacy.test.js
  src/cli/validate.js
  src/cli/validate.test.js
  src/components/pages/load/LoadGamesPage.jsx
  src/data/games/18Broken.json
  src/locales/de.json
  src/locales/en.json
  src/locales/zh.json
  src/util/gameValidation.test.js
  src/util/testGames.js
  tests/chrome/load.test.jsx
Due: validate, prettier, eslint, test

fix(ui): keep problems while rechecking and label a failed check
  src/components/nav/AppSidebar.jsx
  src/components/pages/games/ProblemsPage.jsx
  src/docs/games/schemas.de.md
  src/docs/games/schemas.en.md
  src/docs/games/schemas.zh.md
  src/locales/de.json
  src/locales/en.json
  src/locales/zh.json
  src/state/gameProblems.js
  src/state/gameProblems.test.js
  src/util/gameValidation.js
  tests/game/problems.test.jsx
Due: prettier, eslint, test

feat(ui): add print and paginate keys to the game edit page (#890)
  src/components/Shortcuts.jsx
  src/components/Toolbar.jsx
  src/components/page/PrintButton.jsx
  src/hooks/bindings.js
  src/locales/de.json
  src/locales/en.json
  src/locales/zh.json
  tests/bindings/3.test.jsx
  tests/export/keys.test.jsx
Due: prettier, eslint, test

refactor: merge duplicated components and helpers (#889)
  src/cli/util.js
  src/components/Cutlines.jsx
  src/components/GameCharter.jsx
  src/components/atoms/Boomtown.jsx
  src/components/atoms/CenterTown.jsx
  src/components/atoms/shapes/Circle.jsx
  src/components/atoms/shapes/Diamond.jsx
  src/components/atoms/shapes/Ellipse.jsx
  src/components/atoms/shapes/Hexagon.jsx
  src/components/atoms/shapes/ShapeFrame.jsx
  src/components/atoms/shapes/Square.jsx
  src/components/atoms/shapes/Star.jsx
  src/components/atoms/shapes/Triangle.jsx
  src/components/atoms/townParts.jsx
  src/components/cards/Share.jsx
  src/components/charterCss.js
  src/components/config/index.js
  src/components/map/Borders.jsx
  src/components/map/Lines.jsx
  src/components/map/StrokedPath.jsx
  src/components/market/Cell.jsx
  src/components/market/Market.jsx
  src/components/market/MarketSingle.jsx
  src/components/market/ParCell.jsx
  src/components/market/ParSingle.jsx
  src/components/market/RevenueSingle.jsx
  src/components/market/StockFrame.jsx
  src/components/pages/games/CharterPage.jsx
  src/components/pages/games/ChartersPage.jsx
  src/components/pages/games/TokenPage.jsx
  src/components/tokens/GameCompanyToken.jsx
  src/components/tokens/GameMapCompanyToken.jsx
  src/components/tokens/useGameCompany.js
  src/util/index.js
  src/util/map.js
  src/util/market.js
  tests/coverage/tokens.test.jsx
Due: prettier, eslint, test

feat(ui): add a problems page for game files that drift from the schema (#881)
  public/schemas/game.schema.json
  src/cli/legacy.test.js
  src/cli/validate.js
  src/cli/validate.test.js
  src/components/nav/AppSidebar.jsx
  src/components/nav/sidebar/Item.jsx
  src/components/nav/sidebar/ProblemsItem.jsx
  src/components/pages/games/GamePage.jsx
  src/components/pages/games/ProblemsPage.jsx
  src/components/pages/load/LoadGamesPage.jsx
  src/data/games/18Broken.json
  src/docs/games/schemas.de.md
  src/docs/games/schemas.en.md
  src/docs/games/schemas.zh.md
  src/hooks/useEditor.js
  src/locales/de.json
  src/locales/en.json
  src/locales/zh.json
  src/routes.jsx
  src/schemas/game.schema.json
  src/state/gameProblems.failure.test.js
  src/state/gameProblems.js
  src/state/gameProblems.test.js
  src/state/index.js
  src/state/persist.test.js
  src/state/root.test.js
  src/state/store.js
  src/util/gameValidation.js
  src/util/gameValidation.test.js
  src/util/testGames.js
  tests/chrome/load.test.jsx
  tests/game/problems.test.jsx
  tests/support/brokenGame.js
  tests/support/smoke.js
Due: schemas, validate, prettier, eslint, test

refactor(ui): replace react-syntax-highlighter with shiki
  e2e/a11y.spec.js
  package.json
  pnpm-lock.yaml
  src/components/RouteError.jsx
  src/components/config/Config.jsx
  src/components/docs/Code.jsx
  src/components/docs/Code.test.jsx
  src/components/docs/CodeHighlighted.jsx
  src/components/docs/Markdown.jsx
  src/styles/ui.css
  tests/coverage/chrome.test.jsx
  vite.config.js
  vitest.config.js
Due: prettier, eslint, stylelint, test

refactor(ui): use bash fences instead of shell aliases
  src/components/docs/Code.test.jsx
  src/components/docs/CodeHighlighted.jsx
  src/docs/games/first-game.de.md
  src/docs/games/first-game.en.md
  src/docs/games/first-game.zh.md
Due: prettier, eslint, test

refactor(ui): replace react-syntax-highlighter with shiki (#891)
  e2e/a11y.spec.js
  package.json
  pnpm-lock.yaml
  src/components/RouteError.jsx
  src/components/config/Config.jsx
  src/components/docs/Code.jsx
  src/components/docs/Code.test.jsx
  src/components/docs/CodeHighlighted.jsx
  src/components/docs/Markdown.jsx
  src/docs/games/first-game.de.md
  src/docs/games/first-game.en.md
  src/docs/games/first-game.zh.md
  src/styles/ui.css
  tests/coverage/chrome.test.jsx
  vite.config.js
  vitest.config.js
Due: prettier, eslint, stylelint, test

fix(ui): improve the editor pane on touch screens
  src/components/editor/HtmlEditor.jsx
  src/components/editor/HtmlEditor.test.jsx
  src/components/editor/SvgEditor.jsx
  src/components/editor/SvgEditor.test.jsx
  src/components/page/Viewport.jsx
  src/hooks/usePanZoom.js
Due: prettier, eslint, test

fix(ui): show cards, charters and background without the pan and zoom editor
  src/components/cards/index.jsx
  src/components/pages/games/BackgroundPage.jsx
  src/components/pages/games/CardPage.jsx
  src/components/pages/games/CharterPage.jsx
  src/components/pages/games/ChartersPage.jsx
Due: prettier, eslint, test

fix(ui): lock the page scroll while the editor is shown
  src/components/editor/HtmlEditor.test.jsx
  src/hooks/usePanZoom.js
Due: prettier, eslint, test

fix(ui): center plain game pages below the toolbar
  src/components/page/Viewport.jsx
  tests/editor.test.jsx
Due: prettier, eslint, test

fix(ui): keep the editor checkers behind pages that scroll on mobile
  src/styles/root.css
Due: prettier, stylelint

fix(ui): keep render mode exports free of the toolbar spacing
  src/components/page/Viewport.jsx
Due: prettier, eslint, test

fix(ui): improve the editor pane on touch screens (#879)
  src/components/cards/index.jsx
  src/components/editor/HtmlEditor.jsx
  src/components/editor/HtmlEditor.test.jsx
  src/components/editor/SvgEditor.jsx
  src/components/editor/SvgEditor.test.jsx
  src/components/page/Viewport.jsx
  src/components/pages/games/BackgroundPage.jsx
  src/components/pages/games/CardPage.jsx
  src/components/pages/games/CharterPage.jsx
  src/components/pages/games/ChartersPage.jsx
  src/hooks/usePanZoom.js
  src/styles/root.css
  tests/editor.test.jsx
Due: prettier, eslint, stylelint, test

chore(release): v1.0.0-beta.130
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: prettier, test

feat(ui): add an option to print the turn order on minor charters
  public/schemas/config.schema.json
  src/components/Charter.jsx
  src/components/config/index.js
  src/defaults.json
  src/locales/de.json
  src/locales/en.json
  src/locales/zh.json
  src/schemas/config.schema.json
  src/styles/root.css
  tests/game/charters.test.jsx
Due: schemas, validate, prettier, eslint, stylelint, test

chore(release): v1.0.0-beta.130 (#874)
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: prettier, test

feat(ui): add an option to print the turn order on minor charters (#893)
  public/schemas/config.schema.json
  src/components/Charter.jsx
  src/components/config/index.js
  src/defaults.json
  src/locales/de.json
  src/locales/en.json
  src/locales/zh.json
  src/schemas/config.schema.json
  src/styles/root.css
  tests/game/charters.test.jsx
Due: schemas, validate, prettier, eslint, stylelint, test

chore: replace deep-object-diff with a small helper
  src/components/config/Config.jsx
  src/hooks/config.js
  src/util/diff.js
  src/util/diff.test.js
Due: prettier, eslint, test

fix(ui): keep print padding off the map so it stays on one page
  e2e/print.spec.js
  src/components/page/Viewport.jsx
Due: prettier, eslint, test

chore: replace deep-object-diff with a small helper (#898)
  src/components/config/Config.jsx
  src/hooks/config.js
  src/util/diff.js
  src/util/diff.test.js
Due: prettier, eslint, test

feat(electron): add open export folder setting
  e2e/electron.spec.js
  e2e/export.spec.js
  electron/main/export.js
  src/components/export/ExportHost.jsx
  src/components/export/ExportOptions.jsx
  src/components/pages/SettingsPage.jsx
  src/export/ipc.test.js
  src/export/service.js
  src/export/service.test.js
  src/locales/de.json
  src/locales/en.json
  src/locales/zh.json
  src/state/persist.test.js
  src/state/reducers.test.js
  src/state/selectors.js
  src/state/selectors.test.js
  src/state/settings.js
  tests/coverage/electron.test.jsx
  tests/export/options.test.jsx
Due: prettier, eslint, test

docs: describe the open export folder setting
  src/docs/index.de.md
  src/docs/index.en.md
  src/docs/index.zh.md
  src/docs/output/pdf.de.md
  src/docs/output/pdf.en.md
  src/docs/output/pdf.zh.md
  src/docs/output/png.de.md
  src/docs/output/png.en.md
  src/docs/output/png.zh.md
  src/docs/output/svg.de.md
  src/docs/output/svg.en.md
  src/docs/output/svg.zh.md
Due: prettier

chore(cli): replace express with sirv for the static server
  CLAUDE.md
  bin/maker.js
  package.json
  pnpm-lock.yaml
  scripts/export-golden.mjs
  src/cli/b18.test.js
  src/cli/export.js
  src/cli/export.test.js
  src/cli/exportCommand.js
  src/cli/exportCommand.test.js
  src/cli/print.test.js
  src/cli/util.js
  src/cli/util.test.js
Due: prettier, eslint, test

fix(cli): serve index.html for file-like unknown paths
  src/cli/util.js
  src/cli/util.test.js
Due: prettier, eslint, test

fix(ui): keep print padding off the map so it stays on one page (#899)
  e2e/print.spec.js
  src/components/page/Viewport.jsx
Due: prettier, eslint, test

feat(electron): add open export folder setting (#900)
  e2e/electron.spec.js
  e2e/export.spec.js
  electron/main/export.js
  src/components/export/ExportHost.jsx
  src/components/export/ExportOptions.jsx
  src/components/pages/SettingsPage.jsx
  src/docs/index.de.md
  src/docs/index.en.md
  src/docs/index.zh.md
  src/docs/output/pdf.de.md
  src/docs/output/pdf.en.md
  src/docs/output/pdf.zh.md
  src/docs/output/png.de.md
  src/docs/output/png.en.md
  src/docs/output/png.zh.md
  src/docs/output/svg.de.md
  src/docs/output/svg.en.md
  src/docs/output/svg.zh.md
  src/export/ipc.test.js
  src/export/service.js
  src/export/service.test.js
  src/locales/de.json
  src/locales/en.json
  src/locales/zh.json
  src/state/persist.test.js
  src/state/reducers.test.js
  src/state/selectors.js
  src/state/selectors.test.js
  src/state/settings.js
  tests/coverage/electron.test.jsx
  tests/export/options.test.jsx
Due: prettier, eslint, test

chore(cli): replace express with sirv for the static server (#901)
  CLAUDE.md
  bin/maker.js
  package.json
  pnpm-lock.yaml
  scripts/export-golden.mjs
  src/cli/b18.test.js
  src/cli/export.js
  src/cli/export.test.js
  src/cli/exportCommand.js
  src/cli/exportCommand.test.js
  src/cli/print.test.js
  src/cli/util.js
  src/cli/util.test.js
Due: prettier, eslint, test

chore(test): drop jsdom from node unit tests
  CLAUDE.md
  package.json
  pnpm-lock.yaml
  src/state/gameEdits.test.js
  src/state/gameProblems.failure.test.js
  src/state/gameProblems.test.js
  src/state/persist.test.js
  src/state/reducers.test.js
  src/state/render.test.js
  src/state/root.test.js
  src/state/storage.test.js
  src/state/thunks.test.js
  src/util/analytics.dev.test.js
  src/util/analytics.send.test.js
  src/util/analytics.test.js
  src/util/keys.test.jsx
  src/util/query.test.jsx
  src/util/storage/idb.handles.test.js
  src/util/storage/opfs.test.js
  tests/support/windowStub.js
  vitest.config.js
Due: prettier, eslint, test

chore(test): clean up jsdom leftovers and cover the Storage stub
  pnpm-lock.yaml
  src/util/windowStub.test.js
  tests/support/windowStub.js
Due: prettier, eslint, test

chore(test): drop jsdom from node unit tests (#902)
  CLAUDE.md
  package.json
  pnpm-lock.yaml
  src/state/gameEdits.test.js
  src/state/gameProblems.failure.test.js
  src/state/gameProblems.test.js
  src/state/persist.test.js
  src/state/reducers.test.js
  src/state/render.test.js
  src/state/root.test.js
  src/state/storage.test.js
  src/state/thunks.test.js
  src/util/analytics.dev.test.js
  src/util/analytics.send.test.js
  src/util/analytics.test.js
  src/util/keys.test.jsx
  src/util/query.test.jsx
  src/util/storage/idb.handles.test.js
  src/util/storage/opfs.test.js
  src/util/windowStub.test.js
  tests/support/windowStub.js
  vitest.config.js
Due: prettier, eslint, test

chore: replace glob with fs.globSync
  package.json
  pnpm-lock.yaml
  src/cli/validate.js
Due: prettier, eslint, test

chore: replace glob with fs.globSync (#903)
  package.json
  pnpm-lock.yaml
  src/cli/validate.js
Due: prettier, eslint, test

fix(ci): ignore release-please changelog bullets in the PR body check
  src/util/prBody.js
  src/util/prBody.test.js
Due: prettier, eslint, test

fix(ci): ignore release-please changelog bullets in the PR body check (#904)
  src/util/prBody.js
  src/util/prBody.test.js
Due: prettier, eslint, test

chore(release): v1.0.0-beta.131
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: prettier, test

chore(release): v1.0.0-beta.131 (#897)
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: prettier, test

Path conditions:
  schemas: any of: {public,src}/schemas/*.json
  validate: any of: *.json, but not: package.json, release-please-config.json, .release-please-manifest.json, public/*, src/locales/*, src/schemas/*
  svgo: any of: *.svg
  prettier: any of: *.{css,js,mjs,cjs,jsx,json,yml,yaml,md}
  eslint: any of: *.{js,mjs,cjs,jsx}
  stylelint: any of: *.css
  test: any of: *.{js,mjs,cjs,jsx,json}
