Repository 18xx-maker/18xx-maker: changes, and which lefthook commands are due for each by the changed paths.
All: schemas, validate, svgo, prettier, eslint, stylelint, test

lefthook.yml:

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit {1}

pre-commit:
  commands:
    schemas:
      run: make && pnpm validate:schemas
      glob: "{public,src}/schemas/*.json"
      stage_fixed: true
      priority: 10
    validate:
      glob: "*.json"
      exclude:
        - "package.json"
        - "release-please-config.json"
        - ".release-please-manifest.json"
        - "public/*"
        - "src/locales/*"
        - "src/schemas/*"
      run: node ./bin/maker.js validate {staged_files}
      priority: 40
    svgo:
      glob: "*.svg"
      run: pnpm exec svgo {staged_files}
      stage_fixed: true
      priority: 40
    prettier:
      glob: "*.{css,js,mjs,cjs,jsx,json,yml,yaml,md}"
      run: pnpm prettier --write {staged_files}
      stage_fixed: true
      priority: 20
    eslint:
      glob: "*.{js,mjs,cjs,jsx}"
      run: pnpm eslint --fix {staged_files}
      stage_fixed: true
      priority: 30
    stylelint:
      glob: "*.css"
      run: pnpm stylelint --fix {staged_files}
      stage_fixed: true
      priority: 30
    test:
      glob: "*.{js,mjs,cjs,jsx,json}"
      run: pnpm vitest related --coverage.enabled=false --reporter=basic --exclude "tests/**" --run {staged_files}
      priority: 50

docs: describe the edit panel tabs and the trains section
  DEVELOPMENT.md
  src/docs/files.de.md
  src/docs/files.en.md
  src/docs/files.zh.md
Due: prettier

fix(ui): keep card state with its train and read the latest game in list actions
  src/components/schemaForm/SchemaField.jsx
  src/components/schemaForm/SchemaField.test.jsx
  src/components/schemaForm/SchemaFormProvider.jsx
  src/components/schemaForm/TrainsForm.jsx
  src/components/schemaForm/resolve.js
  src/components/schemaForm/resolve.test.js
  tests/game/edit-panel.test.jsx
Due: prettier, eslint, test

refactor(ui): split root.css into topic files (#927)
  CLAUDE.md
  src/styles/charter-traincards.css
  src/styles/charter.css
  src/styles/cutlines.css
  src/styles/footer.css
  src/styles/index.css
  src/styles/market.css
  src/styles/page-elements.css
  src/styles/print-pages.css
  src/styles/root.css
  src/styles/shell.css
  src/styles/tile-manifest.css
  tests/charter.loans.test.jsx
  tests/game/charters.test.jsx
  tests/print/scale.test.jsx
Due: prettier, eslint, stylelint, test

feat(ui): add a trains section to the edit panel (#926)
  DEVELOPMENT.md
  e2e/a11y.spec.js
  e2e/games.spec.js
  src/components/editPanel/EditPanel.jsx
  src/components/editPanel/EditTabs.jsx
  src/components/editPanel/sections.js
  src/components/schemaForm/GameInfoForm.jsx
  src/components/schemaForm/SchemaField.jsx
  src/components/schemaForm/SchemaField.test.jsx
  src/components/schemaForm/SchemaFormProvider.jsx
  src/components/schemaForm/TrainsForm.jsx
  src/components/schemaForm/resolve.js
  src/components/schemaForm/resolve.test.js
  src/docs/files.de.md
  src/docs/files.en.md
  src/docs/files.zh.md
  src/hooks/bindings.js
  src/hooks/useEditPanel.js
  src/locales/de.json
  src/locales/en.json
  src/locales/zh.json
  src/styles/ui.css
  src/styles/uiContrast.test.js
  src/util/gameValidation.js
  src/util/gameValidation.test.js
  src/util/query.js
  src/util/query.test.js
  tests/bindings/2.test.jsx
  tests/game/edit-panel.test.jsx
Due: prettier, eslint, stylelint, test

fix(tiles): keep the map orientation for a named rotation of 0
  src/components/Position.jsx
  tests/positioning.test.jsx
Due: prettier, eslint, test

feat(config): add company alias and companyNames config
  public/schemas/companies.schema.json
  public/schemas/config.schema.json
  public/schemas/game.schema.json
  src/cli/validate.test.js
  src/components/GameCharter.jsx
  src/components/cards/index.jsx
  src/components/config/index.js
  src/components/pages/games/CardPage.jsx
  src/components/pages/games/CharterPage.jsx
  src/components/pages/games/ChartersPage.jsx
  src/data/games/18Test.json
  src/defaults.json
  src/docs/games/themes.de.md
  src/docs/games/themes.en.md
  src/docs/games/themes.zh.md
  src/docs/games/types.de.md
  src/docs/games/types.en.md
  src/docs/games/types.zh.md
  src/locales/de.json
  src/locales/en.json
  src/locales/zh.json
  src/schemas/companies.schema.json
  src/schemas/config.schema.json
  src/schemas/game.schema.json
  src/util/companies/companyNames.js
  src/util/companies/companyNames.test.js
  tests/chrome/config.test.jsx
  tests/game/company-names.test.jsx
Due: schemas, validate, prettier, eslint, test

docs(schema): describe the position fields
  public/schemas/tiles.defs.json
  src/schemas/fields.schema.json
  src/schemas/tiles.defs.json
Due: schemas, prettier, test

docs(ui): reorder the positioning examples page
  src/components/pages/elements/PositioningPage.jsx
  src/locales/de.json
  src/locales/en.json
  src/locales/zh.json
  tests/positioning.test.jsx
Due: prettier, eslint, test

docs: rewrite the positioning doc in teaching order
  src/docs/games/borders.de.md
  src/docs/games/borders.en.md
  src/docs/games/borders.zh.md
  src/docs/games/positioning.de.md
  src/docs/games/positioning.en.md
  src/docs/games/positioning.zh.md
  src/docs/positioning.test.js
Due: prettier, eslint, test

fix(config): keep print output unchanged for single charters and overridden aliases
  src/components/GameCharter.jsx
  src/components/pages/games/CharterPage.jsx
  src/util/companies/companyOverrides.js
  src/util/companies/companyOverrides.test.js
  tests/game/company-names.test.jsx
Due: prettier, eslint, test

fix(docs): address review of positioning docs and test
  src/docs/games/positioning.de.md
  src/docs/games/positioning.en.md
  src/docs/games/positioning.zh.md
  src/locales/de.json
  tests/positioning.test.jsx
Due: prettier, eslint, test

docs: rewrite the positioning docs and examples page in teaching order (#929)
  public/schemas/tiles.defs.json
  src/components/Position.jsx
  src/components/pages/elements/PositioningPage.jsx
  src/docs/games/borders.de.md
  src/docs/games/borders.en.md
  src/docs/games/borders.zh.md
  src/docs/games/positioning.de.md
  src/docs/games/positioning.en.md
  src/docs/games/positioning.zh.md
  src/docs/positioning.test.js
  src/locales/de.json
  src/locales/en.json
  src/locales/zh.json
  src/schemas/fields.schema.json
  src/schemas/tiles.defs.json
  tests/positioning.test.jsx
Due: schemas, prettier, eslint, test

feat(config): add company alias and company names option (#928)
  public/schemas/companies.schema.json
  public/schemas/config.schema.json
  public/schemas/game.schema.json
  src/cli/validate.test.js
  src/components/GameCharter.jsx
  src/components/cards/index.jsx
  src/components/config/index.js
  src/components/pages/games/CardPage.jsx
  src/components/pages/games/CharterPage.jsx
  src/components/pages/games/ChartersPage.jsx
  src/data/games/18Test.json
  src/defaults.json
  src/docs/games/themes.de.md
  src/docs/games/themes.en.md
  src/docs/games/themes.zh.md
  src/docs/games/types.de.md
  src/docs/games/types.en.md
  src/docs/games/types.zh.md
  src/locales/de.json
  src/locales/en.json
  src/locales/zh.json
  src/schemas/companies.schema.json
  src/schemas/config.schema.json
  src/schemas/game.schema.json
  src/util/companies/companyNames.js
  src/util/companies/companyNames.test.js
  src/util/companies/companyOverrides.js
  src/util/companies/companyOverrides.test.js
  tests/chrome/config.test.jsx
  tests/game/company-names.test.jsx
Due: schemas, validate, prettier, eslint, test

feat(ui): add a market section to the edit panel
  src/components/editPanel/sections.js
  src/components/schemaForm/CellInspector.jsx
  src/components/schemaForm/MarketForm.jsx
  src/components/schemaForm/MarketGrid.jsx
  src/components/schemaForm/MovementField.jsx
  src/components/schemaForm/SchemaField.jsx
  src/components/schemaForm/SchemaFormProvider.jsx
  src/components/schemaForm/resolve.js
  src/locales/de.json
  src/locales/en.json
  src/locales/zh.json
  src/util/marketEdit.js
  src/util/marketEdit.test.js
  tests/game/edit-panel.test.jsx
Due: prettier, eslint, test

feat(ui): add market edit helpers and resolve schema through cells
  src/components/market/Cell.jsx
  src/components/market/resolveCellColor.js
  src/components/market/resolveCellColor.test.js
  src/components/schemaForm/resolve.js
  src/components/schemaForm/resolve.test.js
  src/util/marketEdit.js
  src/util/marketEdit.test.js
Due: prettier, eslint, test

docs(ui): document the market tab and add e2e coverage
  DEVELOPMENT.md
  e2e/a11y.spec.js
  e2e/games.spec.js
  src/docs/files.de.md
  src/docs/files.en.md
  src/docs/files.zh.md
Due: prettier, eslint, test

fix(ui): fix market edit panel review findings
  src/components/schemaForm/MarketForm.jsx
  src/components/schemaForm/MarketGrid.jsx
  src/components/schemaForm/MovementField.jsx
  src/components/schemaForm/SchemaField.jsx
  src/docs/files.zh.md
  src/locales/de.json
  src/locales/en.json
  src/locales/zh.json
  src/util/marketEdit.js
  src/util/marketEdit.test.js
  tests/game/edit-panel.test.jsx
Due: prettier, eslint, test

feat(charter): add banner to mark special charters
  public/schemas/game.schema.json
  src/cli/validate.test.js
  src/components/Charter.jsx
  src/data/games/18Test.json
  src/docs/games/types.de.md
  src/docs/games/types.en.md
  src/docs/games/types.zh.md
  src/schemas/game.schema.json
  src/styles/card.css
  src/styles/charter.css
  tests/__snapshots__/18Test/charters.html
  tests/charter.banner.test.jsx
Due: schemas, validate, prettier, eslint, stylelint, test

test(ui): count only game edits in the flat market edit test
  tests/game/edit-panel.test.jsx
Due: prettier, eslint, test

fix(charter): follow the configured bleed for the banner
  src/components/Charter.jsx
  src/components/charterCss.js
  src/components/pages/games/CharterPage.jsx
  src/components/pages/games/ChartersPage.jsx
  src/data/games/18Test.json
  src/styles/charter.css
  tests/__snapshots__/18Test/charters.html
  tests/charter.banner.test.jsx
Due: validate, prettier, eslint, stylelint, test

feat(charter): add banner to mark special charters (#932)
  public/schemas/game.schema.json
  src/cli/validate.test.js
  src/components/Charter.jsx
  src/components/charterCss.js
  src/components/pages/games/CharterPage.jsx
  src/components/pages/games/ChartersPage.jsx
  src/data/games/18Test.json
  src/docs/games/types.de.md
  src/docs/games/types.en.md
  src/docs/games/types.zh.md
  src/schemas/game.schema.json
  src/styles/card.css
  src/styles/charter.css
  tests/__snapshots__/18Test/charters.html
  tests/charter.banner.test.jsx
Due: schemas, validate, prettier, eslint, stylelint, test

feat(ui): add a market section to the edit panel (#931)
  DEVELOPMENT.md
  e2e/a11y.spec.js
  e2e/games.spec.js
  src/components/editPanel/sections.js
  src/components/market/Cell.jsx
  src/components/market/resolveCellColor.js
  src/components/market/resolveCellColor.test.js
  src/components/schemaForm/CellInspector.jsx
  src/components/schemaForm/MarketForm.jsx
  src/components/schemaForm/MarketGrid.jsx
  src/components/schemaForm/MovementField.jsx
  src/components/schemaForm/SchemaField.jsx
  src/components/schemaForm/SchemaFormProvider.jsx
  src/components/schemaForm/resolve.js
  src/components/schemaForm/resolve.test.js
  src/docs/files.de.md
  src/docs/files.en.md
  src/docs/files.zh.md
  src/locales/de.json
  src/locales/en.json
  src/locales/zh.json
  src/util/marketEdit.js
  src/util/marketEdit.test.js
  tests/game/edit-panel.test.jsx
Due: prettier, eslint, test

build(deps): add codemirror for the json editor
  package.json
  pnpm-lock.yaml
  vite.config.js
  vitest.config.js
Due: prettier, eslint, test

feat(ui): add json text helpers and treat editors as controls
  src/components/editPanel/draftStore.js
  src/util/jsonEditor.js
  src/util/jsonEditor.test.js
  src/util/keys.js
  src/util/keys.test.jsx
  src/util/query.js
  src/util/query.test.js
  tests/support/setup.js
Due: prettier, eslint, test

feat(ui): add a json editor to the edit panel
  DEVELOPMENT.md
  src/components/Shortcuts.jsx
  src/components/editPanel/EditPanel.jsx
  src/components/editPanel/JsonEditor.jsx
  src/components/editPanel/JsonSection.jsx
  src/components/editPanel/sections.js
  src/components/page/RenderBoundary.jsx
  src/components/page/Viewport.jsx
  src/docs/files.de.md
  src/docs/files.en.md
  src/docs/files.zh.md
  src/hooks/bindings.js
  src/locales/de.json
  src/locales/en.json
  src/locales/zh.json
  src/styles/ui.css
  tests/game/edit-panel-json.test.jsx
  tests/game/edit-panel.test.jsx
Due: prettier, eslint, stylelint, test

test(ui): cover json editor recovery, render mode, slug switch and big games
  tests/game/edit-panel-json.test.jsx
  tests/game/json-section-retry.test.jsx
  tests/render/json-editor.test.jsx
Due: prettier, eslint, test

test(ui): add e2e and a11y checks for the json editor
  e2e/a11y.spec.js
  e2e/electron.spec.js
  e2e/json-editor.spec.js
  src/components/editPanel/JsonEditor.jsx
  src/styles/ui.css
Due: prettier, eslint, stylelint, test

fix(ui): let the route error handle page failures, fix json editor retry, escape, drafts and format key
  src/components/editPanel/JsonEditor.jsx
  src/components/editPanel/JsonSection.jsx
  src/components/editPanel/draftStore.js
  src/components/page/RenderBoundary.jsx
  src/components/page/Viewport.jsx
  src/hooks/useEditPanel.js
Due: prettier, eslint, test

feat(ui): add a json editor to the edit panel (#930)
  DEVELOPMENT.md
  e2e/a11y.spec.js
  e2e/electron.spec.js
  e2e/json-editor.spec.js
  package.json
  pnpm-lock.yaml
  src/components/Shortcuts.jsx
  src/components/editPanel/EditPanel.jsx
  src/components/editPanel/JsonEditor.jsx
  src/components/editPanel/JsonSection.jsx
  src/components/editPanel/draftStore.js
  src/components/editPanel/sections.js
  src/components/page/RenderBoundary.jsx
  src/components/page/Viewport.jsx
  src/docs/files.de.md
  src/docs/files.en.md
  src/docs/files.zh.md
  src/hooks/bindings.js
  src/hooks/useEditPanel.js
  src/locales/de.json
  src/locales/en.json
  src/locales/zh.json
  src/styles/ui.css
  src/util/jsonEditor.js
  src/util/jsonEditor.test.js
  src/util/keys.js
  src/util/keys.test.jsx
  src/util/query.js
  src/util/query.test.js
  tests/game/edit-panel-json.test.jsx
  tests/game/edit-panel.test.jsx
  tests/game/json-section-retry.test.jsx
  tests/render/json-editor.test.jsx
  tests/support/setup.js
  vite.config.js
  vitest.config.js
Due: prettier, eslint, stylelint, test

feat(ui): add a parser for selected line specs
  src/util/lineSpec.js
  src/util/lineSpec.test.js
Due: prettier, eslint, test

feat(ui): add a lines param and keep commas in search strings
  src/components/config/Config.jsx
  src/components/config/index.js
  src/components/editPanel/sections.js
  src/hooks/bindings.js
  src/hooks/useEditPanel.js
  src/util/query.js
  src/util/query.test.js
  src/util/query.test.jsx
Due: prettier, eslint, test

feat(ui): select lines of the json editor with a link
  src/components/editPanel/JsonEditor.jsx
  src/components/editPanel/lineSelection.js
  src/styles/ui.css
  src/styles/uiContrast.test.js
  tests/game/edit-panel-lines.test.jsx
Due: prettier, eslint, stylelint, test

docs: describe links to parts of the json editor
  src/docs/files.de.md
  src/docs/files.en.md
  src/docs/files.zh.md
Due: prettier

feat(ui): add a privates tab to the edit panel
  src/components/editPanel/EditTabs.jsx
  src/components/editPanel/sections.js
  src/components/schemaForm/PrivatesForm.jsx
  src/components/schemaForm/SchemaField.jsx
  src/components/schemaForm/resolve.js
  src/locales/de.json
  src/locales/en.json
  src/locales/zh.json
Due: prettier, eslint, test

test(ui): cover line selection of the json editor end to end
  e2e/json-editor.spec.js
Due: prettier, eslint, test

docs(ui): describe the privates tab of the edit panel
  DEVELOPMENT.md
  src/docs/files.de.md
  src/docs/files.en.md
  src/docs/files.zh.md
Due: prettier

test(ui): cover the privates tab of the edit panel
  e2e/a11y.spec.js
  e2e/games.spec.js
  src/components/schemaForm/SchemaField.test.jsx
  src/components/schemaForm/resolve.test.js
  tests/bindings/2.test.jsx
  tests/game/edit-panel.test.jsx
Due: prettier, eslint, test

fix(ui): limit the description textarea, fix revenue commas and docs
  src/components/schemaForm/SchemaField.jsx
  src/components/schemaForm/resolve.js
  src/components/schemaForm/resolve.test.js
  src/docs/files.de.md
  src/docs/files.en.md
  src/docs/files.zh.md
  tests/game/edit-panel.test.jsx
Due: prettier, eslint, test

feat(charter): add charter subtitle line
  public/schemas/game.schema.json
  src/cli/validate.test.js
  src/components/Charter.jsx
  src/components/Charter.stories.js
  src/data/games/18Test.json
  src/docs/games/types.de.md
  src/docs/games/types.en.md
  src/docs/games/types.zh.md
  src/schemas/game.schema.json
  src/styles/charter.css
  src/util/companies/charterSubtitle.js
  src/util/companies/charterSubtitle.test.js
  tests/__snapshots__/18Test/charters.html
  tests/coverage/charter.test.jsx
  tests/game/company-names.test.jsx
Due: schemas, validate, prettier, eslint, stylelint, test

fix(charter): clear the token row and keep ellipses on the subtitle
  src/data/games/18Test.json
  src/docs/games/types.de.md
  src/docs/games/types.en.md
  src/docs/games/types.zh.md
  src/styles/charter.css
  tests/__snapshots__/18Test/charters.html
  tests/coverage/charter.test.jsx
Due: validate, prettier, eslint, stylelint, test
