Repository 18xx-maker/18xx-maker: changes, and which lefthook commands are due for each by the changed paths.
All: schemas, validate, svgo, prettier, eslint, stylelint, test

schemas:
  run: make && pnpm validate:schemas
  stage_fixed: true
  priority: 10

validate:
  run: node ./bin/maker.js validate {staged_files}
  priority: 40

svgo:
  run: pnpm exec svgo {staged_files}
  stage_fixed: true
  priority: 40

prettier:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true
  priority: 20

eslint:
  run: pnpm eslint --fix {staged_files}
  stage_fixed: true
  priority: 30

stylelint:
  run: pnpm stylelint --fix {staged_files}
  stage_fixed: true
  priority: 30

test:
  run: pnpm vitest related --coverage.enabled=false --reporter=basic --exclude "tests/**" --run {staged_files}
  priority: 50

test: pin keyboard bindings while select and menu popups are open
  tests/bindings.popups.test.jsx
Due: prettier, eslint, test

build: add @base-ui/react
  package.json
  pnpm-lock.yaml
Due: prettier, test

refactor(ui): move config, pages and game nav off makeStyles and MUI
  e2e/a11y.spec.js
  e2e/print.spec.js
  scripts/check-mui-styles.js
  src/components/TileFilters.jsx
  src/components/config/Config.jsx
  src/components/config/Config.module.css
  src/components/config/ConfigDrawer.jsx
  src/components/config/ConfigDrawer.module.css
  src/components/config/Input.jsx
  src/components/config/Input.module.css
  src/components/config/ThemePreview.jsx
  src/components/config/ThemePreview.module.css
  src/components/config/UnitInput.jsx
  src/components/config/UnitInput.module.css
  src/components/nav/GameNav.jsx
  src/components/nav/GameNav.module.css
  src/components/pages/App.jsx
  src/components/pages/App.module.css
  src/components/pages/Docs.jsx
  src/components/pages/Docs.module.css
  src/components/pages/Home.jsx
  src/components/pages/Home.module.css
  src/components/pages/elements/Atoms.jsx
  src/components/pages/elements/Atoms.module.css
  src/components/pages/elements/Cheat.jsx
  src/components/pages/elements/Logos.jsx
  src/components/pages/elements/Tiles.jsx
  src/components/pages/elements/Tiles.module.css
  src/components/pages/games/Background.jsx
  src/components/pages/games/Background.module.css
  src/components/pages/games/Info.jsx
  src/components/pages/games/Info.module.css
  src/components/pages/load/GameRow.jsx
  src/components/pages/load/GameRow.module.css
  src/components/pages/load/LoadGames.jsx
  src/components/pages/page.module.css
  src/styles/root.css
  src/ui/README.md
  src/ui/coexistence.fixture.module.css
  src/ui/coexistence.test.jsx
Due: prettier, eslint, stylelint, test

feat(ui): add Select, DropdownMenu and Tooltip on Base UI
  src/ui/List.module.css
  src/ui/Menu.jsx
  src/ui/Menu.module.css
  src/ui/Select.jsx
  src/ui/Select.module.css
  src/ui/Tooltip.jsx
  src/ui/Tooltip.module.css
  src/ui/icons/icons.test.jsx
  src/ui/icons/index.js
  src/ui/icons/svg/ArrowDropDown.svg
  src/ui/index.js
  src/ui/popups.test.jsx
  vitest.workspace.js
Due: svgo, prettier, eslint, stylelint, test

feat(ui): add Drawer, Alert, Snackbar, progress, Pagination and Slider
  src/ui/Alert.jsx
  src/ui/Alert.module.css
  src/ui/Drawer.jsx
  src/ui/Drawer.module.css
  src/ui/Fab.module.css
  src/ui/Pagination.jsx
  src/ui/Pagination.module.css
  src/ui/Progress.jsx
  src/ui/Progress.module.css
  src/ui/Slider.jsx
  src/ui/Slider.module.css
  src/ui/Snackbar.jsx
  src/ui/Snackbar.module.css
  src/ui/feedback.test.jsx
  src/ui/icons/icons.test.jsx
  src/ui/icons/index.js
  src/ui/icons/svg/ChevronLeft.svg
  src/ui/icons/svg/ErrorOutline.svg
  src/ui/icons/svg/InfoOutlined.svg
  src/ui/icons/svg/ReportProblemOutlined.svg
  src/ui/icons/svg/SuccessOutlined.svg
  src/ui/index.js
Due: svgo, prettier, eslint, stylelint, test

refactor(ui): move selects, menus and tooltips off MUI
  e2e/print.spec.js
  src/components/ExportButton.jsx
  src/components/PrintButton.jsx
  src/components/TileFilters.jsx
  src/components/TileFilters.module.css
  src/components/config/Config.jsx
  src/components/config/ConfigDrawer.jsx
  src/components/config/Input.jsx
  src/components/config/UnitInput.jsx
  src/components/nav/AppNav.jsx
  src/components/nav/GameNav.jsx
  src/components/pages/elements/Atoms.jsx
  src/components/pages/elements/Logos.jsx
  src/styles/root.css
  src/ui/README.md
  tests/bindings.popups.test.jsx
  tests/chrome.selects.test.jsx
Due: prettier, eslint, stylelint, test

refactor(ui): move drawers, alerts, progress, slider and pagination off MUI
  e2e/drawers.spec.js
  e2e/load.spec.js
  src/components/ExportButton.jsx
  src/components/PrintButton.jsx
  src/components/Root.jsx
  src/components/TileFilters.jsx
  src/components/config/ConfigDrawer.jsx
  src/components/nav/SideNav.jsx
  src/components/nav/SideNav.module.css
  src/components/pages/App.jsx
  src/components/pages/Home.jsx
  src/components/pages/elements/Tiles.jsx
  src/styles/root.css
Due: prettier, eslint, stylelint, test

fix(ui): make the temporary drawer a modal dialog and announce alerts
  src/components/nav/SideNav.jsx
  src/components/nav/SideNav.module.css
  src/ui/Alert.jsx
  src/ui/Drawer.jsx
  src/ui/Drawer.module.css
  src/ui/README.md
  src/ui/Snackbar.jsx
  src/ui/feedback.test.jsx
Due: prettier, eslint, stylelint, test

test(ui): drop MUI from the token and cascade test
  e2e/a11y.spec.js
  e2e/chrome-screenshots.spec.js
  src/ui/coexistence.fixture.module.css
  src/ui/coexistence.test.jsx
  src/ui/tokens.test.jsx
Due: prettier, eslint, stylelint, test

fix(ui): harden Slider marks and match MUI's track, mark and bubble
  src/ui/Slider.jsx
  src/ui/Slider.module.css
  src/ui/feedback.test.jsx
Due: prettier, eslint, stylelint, test

build: remove MUI and Emotion
  .github/workflows/test.yml
  CLAUDE.md
  DEVELOPMENT.md
  README.md
  package.json
  pnpm-lock.yaml
  scripts/check-bundle-size.js
  scripts/check-mui.js
  src/ui/README.md
  src/ui/icons/NOTICE.md
Due: prettier, eslint, test

fix(ui): respect prefers-reduced-motion in Select, Menu and Tooltip
  src/ui/Menu.module.css
  src/ui/Select.module.css
  src/ui/Tooltip.module.css
Due: prettier, stylelint

docs(ui): fix stale comments and drop exports the app never imports
  src/ui/README.md
  src/ui/index.js
  src/ui/useMediaQuery.js
Due: prettier, eslint, test

fix(i18n): translate the tile slider and pagination labels
  src/components/TileFilters.jsx
  src/components/pages/elements/Tiles.jsx
  src/locales/en.json
  src/ui/Pagination.jsx
  src/ui/feedback.test.jsx
Due: prettier, eslint, test

fix(ui): style for Firefox ESR, older Chrome and Safari, and forced colors
  src/ui/Alert.module.css
  src/ui/Button.module.css
  src/ui/Checkbox.jsx
  src/ui/Checkbox.module.css
  src/ui/IconButton.module.css
  src/ui/Link.module.css
  src/ui/List.module.css
  src/ui/Menu.module.css
  src/ui/Progress.module.css
  src/ui/Select.module.css
  src/ui/Slider.module.css
  src/ui/Switch.module.css
  src/ui/TextField.jsx
  src/ui/TextField.module.css
  src/ui/browserSupport.test.js
  src/ui/primitives.test.jsx
  src/ui/tokens.css
Due: prettier, eslint, stylelint, test

fix(ui): size the outlined Select like MUI's (56px high, 82px for 1830)
  src/ui/Select.module.css
  src/ui/popups.test.jsx
Due: prettier, eslint, stylelint, test

build(deps): upgrade to React 19
  package.json
  pnpm-lock.yaml
  src/ui/popups.test.jsx
Due: prettier, eslint, test

chore: dedupe lockfile and drop stray workflow env
  .github/workflows/e2e-baselines.yml
  pnpm-lock.yaml
Due: prettier

fix(ui): give focus back without a ring after a pointer opened the drawer
  e2e/drawers.spec.js
  src/components/Viewport.jsx
  src/ui/Drawer.jsx
Due: prettier, eslint, test

docs: replace the upgrade notes with the React 19 stack state
  CLAUDE.md
Due: prettier

fix: clip country flags to their box (#737)
  src/components/pages/elements/Logos.jsx
  src/components/tokens/Token.jsx
  src/data/logos/countries/cr.svg
  src/data/logos/countries/je.svg
  src/data/logos/countries/jm.svg
  src/data/logos/countries/kn.svg
  src/data/logos/countries/na.svg
  src/data/logos/countries/sb.svg
  src/data/logos/countries/tm.svg
  src/data/logos/countries/tz.svg
  src/data/logos/countries/vn.svg
Due: svgo, prettier, eslint, test

chore(release): v1.0.0-beta.124
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: prettier, test

chore(release): v1.0.0-beta.124 (#736)
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: prettier, test

test(ui): wait for the tooltip to be positioned before measuring it
  src/ui/popups.test.jsx
Due: prettier, eslint, test

fix(cli): repair print and b18 scripts and exit codes
  bin/maker.js
  package.json
  src/cli/b18.js
  src/cli/b18.test.js
  src/cli/maker.test.js
  src/cli/print.js
  src/cli/print.test.js
  src/cli/util.js
  src/cli/util.test.js
Due: prettier, eslint, test

refactor(util): pure resolveConfig, shared single element sizes and bundler free imports
  src/components/pages/games/Card.jsx
  src/components/pages/games/Charter.jsx
  src/components/pages/games/Tile.jsx
  src/components/pages/games/Token.jsx
  src/hooks/config.js
  src/util/cards.js
  src/util/companies.js
  src/util/companyOverrides.js
  src/util/companyOverrides.test.js
  src/util/resolveConfig.js
  src/util/resolveConfig.test.js
  src/util/sizes.js
  src/util/sizes.test.js
  src/util/tilesheet.js
Due: prettier, eslint, test

feat(cli): build print and b18 from a shared export list
  DEVELOPMENT.md
  package.json
  src/cli/__fixtures__/legacy-cli.js
  src/cli/b18.js
  src/cli/b18.test.js
  src/cli/export.js
  src/cli/export.test.js
  src/cli/legacy.test.js
  src/cli/print.js
  src/cli/print.test.js
  src/cli/util.js
  src/cli/util.test.js
  src/docs/output/pdf.en.md
  src/export/b18.js
  src/export/b18.test.js
  src/export/documents.js
  src/export/documents.test.js
  src/export/names.js
  src/export/names.test.js
  src/export/run.js
  src/export/run.test.js
  tests/export.sizes.test.jsx
  vitest.config.js
Due: prettier, eslint, test

feat(app): export from the shared export list and add Board18 export
  electron/main/export.js
  electron/main/index.js
  electron/main/window.js
  electron/preload/preload.js
  src/components/ExportButton.jsx
  src/export/documents.js
  src/locales/en.json
  src/util/exportPlan.js
  tests/coverage.electron.test.jsx
Due: prettier, eslint, test

test(export): sheet names without their layout
  src/export/documents.test.js
Due: prettier, eslint, test

feat(render): headless render mode with in-memory state and a ready signal
  src/components/RenderState.jsx
  src/components/Root.jsx
  src/export/render.js
  src/hooks/config.js
  src/state/game.js
  src/state/render.test.js
  src/state/store.js
  src/util/renderInput.js
  tests/render.mode.test.jsx
Due: prettier, eslint, test

feat(export): shared capture over DevTools commands and PNG resolution
  scripts/export-golden.mjs
  src/export/capture.js
  src/export/capture.test.js
  src/export/png.js
  src/export/png.test.js
Due: prettier, eslint, test

feat(cli): maker export for pdf, png and b18
  bin/maker.js
  e2e/cli.spec.js
  src/cli/README.md
  src/cli/__fixtures__/browser.js
  src/cli/b18.js
  src/cli/b18.test.js
  src/cli/export.js
  src/cli/export.test.js
  src/cli/exportCommand.js
  src/cli/exportCommand.test.js
  src/cli/maker.test.js
  src/cli/print.js
  src/cli/print.test.js
  src/cli/validate.js
Due: prettier, eslint, test

docs: maker export for pdf, png and b18
  DEVELOPMENT.md
  src/docs/output/b18.en.md
  src/docs/output/pdf.en.md
  src/docs/output/png.en.md
Due: prettier

refactor(export): share document selection, file sink and zip with the app
  src/cli/export.js
  src/cli/exportCommand.js
  src/export/select.js
  src/export/sink.js
  src/export/zip.js
Due: prettier, eslint, test

feat(export): window pool, page capture and export service for the app
  src/export/page.js
  src/export/page.test.js
  src/export/pool.js
  src/export/pool.test.js
  src/export/service.js
  src/export/service.test.js
  src/export/window.js
  src/export/window.test.js
Due: prettier, eslint, test

feat(app): export in the main process over DevTools commands, with an options panel
  e2e/electron.spec.js
  electron/main/capture.js
  electron/main/export.js
  electron/main/game.js
  electron/main/index.js
  electron/preload/preload.js
  package.json
  pnpm-lock.yaml
  src/components/ExportButton.jsx
  src/components/ExportOptions.jsx
  src/components/pages/Tile.jsx
  src/locales/en.json
  src/util/exportPlan.js
  tests/coverage.electron.test.jsx
  tests/export.options.test.jsx
Due: prettier, eslint, test

docs: exporting from the app, and the Electron smoke test
  DEVELOPMENT.md
  src/docs/output/b18.en.md
  src/docs/output/pdf.en.md
  src/docs/output/png.en.md
Due: prettier

test(export): plan contract, zip layout, layouts choice and png print size
  e2e/cli.spec.js
  src/export/zip.test.js
  src/util/exportPlan.test.js
  tests/export.options.test.jsx
Due: prettier, eslint, test

Path conditions:
  schemas: any of: {public,src}/schemas/*.json
  validate: any of: *.json, but not: package.json, release-please-config.json, .release-please-manifest.json, public/*, src/locales/*, src/schemas/*
  svgo: any of: *.svg
  prettier: any of: *.{css,js,mjs,cjs,jsx,json,yml,yaml,md}
  eslint: any of: *.{js,mjs,cjs,jsx}
  stylelint: any of: *.css
  test: any of: *.{js,mjs,cjs,jsx,json}
