Repository 18xx-maker/18xx-maker: changes, and which lefthook commands are due for each by the changed paths.
All: schemas, validate, svgo, prettier, eslint, stylelint, test

lefthook.yml:

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit {1}

pre-commit:
  commands:
    schemas:
      run: make && pnpm validate:schemas
      glob: "{public,src}/schemas/*.json"
      stage_fixed: true
      priority: 10
    validate:
      glob: "*.json"
      exclude:
        - "package.json"
        - "release-please-config.json"
        - ".release-please-manifest.json"
        - "public/*"
        - "src/locales/*"
        - "src/schemas/*"
      run: node ./bin/maker.js validate {staged_files}
      priority: 40
    svgo:
      glob: "*.svg"
      run: pnpm exec svgo {staged_files}
      stage_fixed: true
      priority: 40
    prettier:
      glob: "*.{css,js,mjs,cjs,jsx,json,yml,yaml,md}"
      run: pnpm prettier --write {staged_files}
      stage_fixed: true
      priority: 20
    eslint:
      glob: "*.{js,mjs,cjs,jsx}"
      run: pnpm eslint --fix {staged_files}
      stage_fixed: true
      priority: 30
    stylelint:
      glob: "*.css"
      run: pnpm stylelint --fix {staged_files}
      stage_fixed: true
      priority: 30
    test:
      glob: "*.{js,mjs,cjs,jsx,json}"
      run: pnpm vitest related --coverage.enabled=false --reporter=basic --exclude "tests/**" --run {staged_files}
      priority: 50

chore(ui): adding shadcn
  components.json
  jsconfig.json
  lefthook.yml
  package.json
  pnpm-lock.yaml
  src/lib/utils.js
  src/styles/index.css
  tailwind.config.js
Due: validate, prettier, eslint, stylelint, test

chore(ui): adding tailwindcss and cleaning postcss config
  .github/workflows/test.yml
  electron.vite.config.js
  lefthook.yml
  package.json
  pnpm-lock.yaml
  src/styles/index.css
  src/styles/manifest.css
  tailwind.config.js
  vite.config.js
Due: prettier, eslint, stylelint, test

chore(ui): add shadcn sidebar
  package.json
  pnpm-lock.yaml
  src/components/ui/button.jsx
  src/components/ui/input.jsx
  src/components/ui/separator.jsx
  src/components/ui/sheet.jsx
  src/components/ui/sidebar.jsx
  src/components/ui/skeleton.jsx
  src/components/ui/tooltip.jsx
  src/hooks/use-mobile.jsx
  src/styles/index.css
  tailwind.config.js
Due: prettier, eslint, stylelint, test

feat(settings): site settings to change theme
  src/components/Root.jsx
  src/components/nav/AppSidebar.jsx
  src/components/nav/Header.jsx
  src/components/pages/Settings.jsx
  src/components/pages/games/Info.jsx
  src/context/ThemeProvider.jsx
  src/hooks/index.js
  src/hooks/use-settings.js
  src/locales/en.json
  src/routes.jsx
  src/state/index.js
  src/state/settings.js
  src/state/store.js
Due: prettier, eslint, test

feat(ui): starting work on game editor
  package.json
  pnpm-lock.yaml
  src/components/Editor.jsx
  src/components/Root.jsx
  src/components/Svg.jsx
  src/components/SvgEditor.jsx
  src/components/Toolbar.jsx
  src/components/Viewport.jsx
  src/components/map/MapSingle.jsx
  src/components/market/MarketSingle.jsx
  src/components/nav/AppSidebar.jsx
  src/components/nav/Header.jsx
  src/components/nav/HeaderGame.jsx
  src/components/nav/HeaderTitle.jsx
  src/components/nav/index.jsx
  src/components/pages/games/Game.jsx
  src/components/pages/games/Info.jsx
  src/components/pages/load/GameRow.jsx
  src/components/pages/load/GameType.jsx
  src/components/ui/switch.jsx
  src/hooks/bindings.js
  src/hooks/index.js
  src/hooks/use-editor.js
  src/hooks/use-print.jsx
  src/hooks/useSideMenu.js
  src/locales/en.json
  src/state/game.js
  src/styles/ui.css
Due: prettier, eslint, stylelint, test

chore(ui): convert config from MUI to shadcn
  package.json
  pnpm-lock.yaml
  src/components/File.jsx
  src/components/SvgEditor.jsx
  src/components/Toolbar.jsx
  src/components/Viewport.jsx
  src/components/config/Config.jsx
  src/components/config/ConfigDrawer.jsx
  src/components/config/Input.jsx
  src/components/config/PinConfig.jsx
  src/components/config/ThemePreview.jsx
  src/components/config/UnitInput.jsx
  src/components/config/index.js
  src/components/nav/AppNav.jsx
  src/components/nav/DocsNav.jsx
  src/components/nav/ElementsNav.jsx
  src/components/nav/GameNav.jsx
  src/components/nav/MobileMenuButton.jsx
  src/components/nav/SideNav.jsx
  src/components/ui/checkbox.jsx
  src/components/ui/form.jsx
  src/locales/en.json
  src/routes.jsx
Due: prettier, eslint, test

chore(ui): working on fixing b18 output
  src/cli/b18.js
  src/components/Toolbar.jsx
  src/components/pages/games/Tokens.jsx
  src/components/pages/games/b18/Tiles.jsx
  src/components/pages/games/b18/Tokens.jsx
  src/hooks/use-editor.js
  src/styles/root.css
Due: prettier, eslint, stylelint, test

fix(ui): zooming for trackpads
  src/components/SvgEditor.jsx
Due: prettier, eslint, test

chore(ui): cleaning up game tiles
  src/components/Alert.jsx
  src/components/Page.jsx
  src/components/pages/games/Tiles.css
  src/components/pages/games/Tiles.jsx
  src/styles/ui.css
Due: prettier, eslint, stylelint, test

chore(css): adding back most css
  src/components/Viewport.jsx
  src/components/config/Input.jsx
  src/components/config/Items.jsx
  src/styles/index.css
  src/styles/private.css
  src/styles/root.css
Due: prettier, eslint, stylelint, test

chore(ui): better config page layouts
  package.json
  pnpm-lock.yaml
  src/components/Toolbar.jsx
  src/components/config/Config.jsx
  src/components/config/Input.jsx
  src/components/config/Items.jsx
  src/components/config/PinConfig.jsx
  src/components/config/UnitInput.jsx
  src/components/config/index.js
  src/components/ui/toggle.jsx
  src/locales/en.json
Due: prettier, eslint, test

feat(icons): add no enter icon
  src/components/atoms/Terrain.jsx
  src/components/pages/elements/Atoms.jsx
  src/data/icons/noenter.svg
Due: svgo, prettier, eslint, test

feat(icons): add no enter icon (#670)
  src/components/atoms/Terrain.jsx
  src/components/pages/elements/Atoms.jsx
  src/data/icons/noenter.svg
Due: svgo, prettier, eslint, test

fix(tiles): fix tile 8889
  src/data/tiles/yellow.json
Due: validate, prettier, test

fix(tiles): fix tile 8889 (#671)
  src/data/tiles/yellow.json
Due: validate, prettier, test

fix(tiles): fix tile 8889 to align with tile rules
  src/data/tiles/yellow.json
Due: validate, prettier, test

fix(tiles): fix tile 8889 to align with tile rules (#672)
  src/data/tiles/yellow.json
Due: validate, prettier, test

fix(files): use UUIDv4's for all internal, system and electron games to avoid path manipulation
  electron/main/config.js
  electron/main/game.js
  electron/main/index.js
  electron/main/watch.js
  package.json
  pnpm-lock.yaml
  src/components/pages/games/Game.jsx
  src/components/pages/load/GameRow.jsx
  src/components/pages/load/LoadGames.jsx
  src/state/game.js
  src/util/capability.js
  src/util/idb.js
  src/util/idb.test.js
  src/util/loading.js
  src/util/opfs.js
Due: prettier, eslint, test

fix(files): use UUIDv4's for all internal, system and electron games to avoid path manipulation (#673)
  electron/main/config.js
  electron/main/game.js
  electron/main/index.js
  electron/main/watch.js
  package.json
  pnpm-lock.yaml
  src/components/pages/games/Game.jsx
  src/components/pages/load/GameRow.jsx
  src/components/pages/load/LoadGames.jsx
  src/state/game.js
  src/util/capability.js
  src/util/idb.js
  src/util/idb.test.js
  src/util/loading.js
  src/util/opfs.js
Due: prettier, eslint, test

chore(css): adding back most css
  src/components/Viewport.jsx
  src/components/config/Input.jsx
  src/components/config/Items.jsx
  src/components/pages/games/Info.jsx
  src/styles/index.css
  src/styles/private.css
  src/styles/root.css
Due: prettier, eslint, stylelint, test

fix(bug): prevent crashes in Tokens and Tiles
  src/components/pages/games/Tiles.jsx
  src/components/pages/games/Tokens.jsx
Due: prettier, eslint, test

fix(bug): prevent crashes in Tokens and Tiles (#675)
  src/components/pages/games/Tiles.jsx
  src/components/pages/games/Tokens.jsx
Due: prettier, eslint, test

chore(release): v1.0.0-beta.109
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: prettier, test

chore(release): v1.0.0-beta.109 (#669)
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: prettier, test

fix(download): make sure to use a sanitized filename instead of id
  src/components/nav/GameNav.jsx
Due: prettier, eslint, test

fix(download): make sure to use a sanitized filename instead of id (#677)
  src/components/nav/GameNav.jsx
Due: prettier, eslint, test

fix(export): export uses pretty filename too
  src/components/ExportButton.jsx
  src/components/nav/GameNav.jsx
  src/util/index.js
Due: prettier, eslint, test

fix(export): export uses pretty filename too (#679)
  src/components/ExportButton.jsx
  src/components/nav/GameNav.jsx
  src/util/index.js
Due: prettier, eslint, test
