Repository 18xx-maker/18xx-maker: changes, and which lefthook commands are due for each by the changed paths.
All: schemas, validate, svgo, prettier, eslint, stylelint, test

schemas:
  run: make && pnpm validate:schemas
  stage_fixed: true
  priority: 10

validate:
  run: node ./bin/maker.js validate {staged_files}
  priority: 40

svgo:
  run: pnpm exec svgo {staged_files}
  stage_fixed: true
  priority: 40

prettier:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true
  priority: 20

eslint:
  run: pnpm eslint --fix {staged_files}
  stage_fixed: true
  priority: 30

stylelint:
  run: pnpm stylelint --fix {staged_files}
  stage_fixed: true
  priority: 30

test:
  run: pnpm vitest related --coverage.enabled=false --reporter=basic --exclude "tests/**" --run {staged_files}
  priority: 50

fix(router): match and decode paths consistently
  CLAUDE.md
  src/router/index.jsx
  src/router/router.test.jsx
  src/router/url.js
  src/routes.jsx
  tests/routes/routes.test.jsx
  tests/support/memoryRouter.jsx
  tests/support/routes.js
Due: prettier, eslint, test

docs: report bundle size of shiki, json-schema-library, tinycolor2 and codemirror
  DEVELOPMENT.md
Due: prettier

chore(deps): drop uuid for crypto.randomUUID
  electron/main/config.js
  electron/main/game.js
  package.json
  pnpm-lock.yaml
  src/util/storage/idb.handles.test.js
  src/util/storage/idb.js
  src/util/storage/idb.test.js
  src/util/storage/opfs.js
  src/util/storage/opfs.test.js
  src/util/uuid.js
  src/util/uuid.test.js
Due: prettier, eslint, test

docs: correct lazy status and compression notes in bundle size report
  DEVELOPMENT.md
Due: prettier

chore(deps): drop uuid for crypto.randomUUID (#1023)
  electron/main/config.js
  electron/main/game.js
  package.json
  pnpm-lock.yaml
  src/util/storage/idb.handles.test.js
  src/util/storage/idb.js
  src/util/storage/idb.test.js
  src/util/storage/opfs.js
  src/util/storage/opfs.test.js
  src/util/uuid.js
  src/util/uuid.test.js
Due: prettier, eslint, test

docs: report bundle size of shiki, json-schema-library, tinycolor2 and codemirror (#1022)
  DEVELOPMENT.md
Due: prettier

chore(deps): replace npm-run-all with npm-run-all2
  package.json
  pnpm-lock.yaml
Due: prettier, test

test: give the heavy edit panel companies test a longer timeout
  tests/game/edit-panel.test.jsx
Due: prettier, eslint, test

test(game): wait for the first problems result before reading it
  tests/game/edit-panel.test.jsx
Due: prettier, eslint, test

chore(deps): replace npm-run-all with npm-run-all2 (#1024)
  package.json
  pnpm-lock.yaml
  tests/game/edit-panel.test.jsx
Due: prettier, eslint, test

chore(release): v1.0.0-beta.133
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: prettier, test

chore(release): v1.0.0-beta.133 (#1007)
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: prettier, test

feat(tiles): add border stroke width
  public/schemas/de/tiles.defs.json
  public/schemas/tiles.defs.json
  public/schemas/zh/tiles.defs.json
  src/cli/validate.test.js
  src/components/atoms/Border.jsx
  src/components/atoms/Border.stories.js
  src/data/games/18Test.json
  src/docs/games/borders.de.md
  src/docs/games/borders.en.md
  src/docs/games/borders.zh.md
  src/docs/games/tiles.de.md
  src/docs/games/tiles.en.md
  src/docs/games/tiles.zh.md
  src/locales/schema.de.json
  src/locales/schema.en.json
  src/locales/schema.zh.json
  src/schemas/tiles.defs.json
  src/schemas/tiles.src.json
  tests/__snapshots__/18Test/tile-manifest.html
  tests/__snapshots__/18Test/tiles.html
  tests/coverage/atoms.test.jsx
Due: schemas, validate, prettier, eslint, test

feat(ui): add map tab to the edit panel
  DEVELOPMENT.md
  e2e/a11y.spec.js
  src/components/editPanel/EditNav.jsx
  src/components/editPanel/sections.js
  src/components/editPanel/sections.test.jsx
  src/components/schemaForm/MapForm.jsx
  src/components/schemaForm/SchemaField.jsx
  src/components/schemaForm/fields/ChoiceFields.jsx
  src/components/schemaForm/fields/ObjectField.jsx
  src/components/schemaForm/overrides.jsx
  src/components/schemaForm/resolve.js
  src/components/schemaForm/resolve.test.js
  src/docs/files.de.md
  src/docs/files.en.md
  src/docs/files.zh.md
  src/locales/de.json
  src/locales/en.json
  src/locales/zh.json
  src/util/hexEdit.js
  src/util/hexEdit.test.js
  tests/game/edit-nav-problems.test.jsx
  tests/game/edit-panel-map.test.jsx
  tests/game/edit-sections.test.jsx
Due: prettier, eslint, test

test(tiles): drop border zero stroke width test
  tests/coverage/atoms.test.jsx
Due: prettier, eslint, test

test(ui): update tab order tests for the map tab
  tests/game/edit-panel.test.jsx
Due: prettier, eslint, test

fix(ui): tidy map tab copy and remove fields
  src/components/schemaForm/MapForm.jsx
  src/docs/files.de.md
  tests/game/edit-panel-map.test.jsx
Due: prettier, eslint, test

feat(tiles): add border stroke width (#1028)
  public/schemas/de/tiles.defs.json
  public/schemas/tiles.defs.json
  public/schemas/zh/tiles.defs.json
  src/cli/validate.test.js
  src/components/atoms/Border.jsx
  src/components/atoms/Border.stories.js
  src/data/games/18Test.json
  src/docs/games/borders.de.md
  src/docs/games/borders.en.md
  src/docs/games/borders.zh.md
  src/docs/games/tiles.de.md
  src/docs/games/tiles.en.md
  src/docs/games/tiles.zh.md
  src/locales/schema.de.json
  src/locales/schema.en.json
  src/locales/schema.zh.json
  src/schemas/tiles.defs.json
  src/schemas/tiles.src.json
  tests/__snapshots__/18Test/tile-manifest.html
  tests/__snapshots__/18Test/tiles.html
  tests/coverage/atoms.test.jsx
Due: schemas, validate, prettier, eslint, test

feat(ui): add map tab to the edit panel (#1029)
  DEVELOPMENT.md
  e2e/a11y.spec.js
  src/components/editPanel/EditNav.jsx
  src/components/editPanel/sections.js
  src/components/editPanel/sections.test.jsx
  src/components/schemaForm/MapForm.jsx
  src/components/schemaForm/SchemaField.jsx
  src/components/schemaForm/fields/ChoiceFields.jsx
  src/components/schemaForm/fields/ObjectField.jsx
  src/components/schemaForm/overrides.jsx
  src/components/schemaForm/resolve.js
  src/components/schemaForm/resolve.test.js
  src/docs/files.de.md
  src/docs/files.en.md
  src/docs/files.zh.md
  src/locales/de.json
  src/locales/en.json
  src/locales/zh.json
  src/util/hexEdit.js
  src/util/hexEdit.test.js
  tests/game/edit-nav-problems.test.jsx
  tests/game/edit-panel-map.test.jsx
  tests/game/edit-panel.test.jsx
  tests/game/edit-sections.test.jsx
Due: prettier, eslint, test

refactor(ui): extract useHexGroup hook from hex section
  src/components/editPanel/HexSection.jsx
  src/hooks/useHexGroup.js
Due: prettier, eslint, test

refactor(ui): extract useHexGroup hook from hex section (#1036)
  src/components/editPanel/HexSection.jsx
  src/hooks/useHexGroup.js
Due: prettier, eslint, test

feat(ui): add the hex editor model
  src/components/hexEditor/hexModel.js
  src/components/hexEditor/hexModel.test.js
Due: prettier, eslint, test

feat(ui): add a form to the hex tab
  src/components/editPanel/HexSection.jsx
  src/components/hexEditor/ElementList.jsx
  src/components/hexEditor/HexCanvas.jsx
  src/components/hexEditor/HexEditor.jsx
  src/components/hexEditor/HexEditor.stories.jsx
  src/components/hexEditor/LazyHexEditor.jsx
  src/components/hexEditor/SidePicker.jsx
  src/components/hexEditor/hexModel.js
  src/components/hexEditor/hexSchema.js
  src/components/hexEditor/hexSchema.test.js
  src/components/hexEditor/inspectors/BorderInspector.jsx
  src/components/hexEditor/inspectors/CityInspector.jsx
  src/components/hexEditor/inspectors/GenericInspector.jsx
  src/components/hexEditor/inspectors/LabelInspector.jsx
  src/components/hexEditor/inspectors/OffboardInspector.jsx
  src/components/hexEditor/inspectors/TrackInspector.jsx
  src/components/hexEditor/inspectors/index.js
  src/components/hexEditor/inspectors/parts.jsx
  src/components/hexEditor/useHexForm.js
  src/locales/de.json
  src/locales/en.json
  src/locales/zh.json
  tests/game/edit-panel-hex-form.test.jsx
  tests/game/edit-panel-hex.test.jsx
Due: prettier, eslint, test

test(ui): cover the hex form in the e2e and accessibility suites
  e2e/a11y.spec.js
  e2e/games.spec.js
  e2e/hex-editor.spec.js
Due: prettier, eslint, test

docs: describe the form of the hex tab
  src/docs/files.de.md
  src/docs/files.en.md
  src/docs/files.zh.md
Due: prettier

fix(ui): keep emptied hex elements, unsent JSON drafts and custom track sides
  e2e/hex-editor.spec.js
  src/components/editPanel/HexSection.jsx
  src/components/editPanel/draftStore.js
  src/components/hexEditor/hexModel.js
  src/components/hexEditor/hexModel.test.js
  src/components/hexEditor/useHexForm.js
  src/components/schemaForm/resolve.js
  src/docs/files.de.md
  src/docs/files.en.md
  src/docs/files.zh.md
  src/locales/de.json
  src/locales/en.json
  src/locales/zh.json
  tests/game/edit-panel-hex-form.test.jsx
  tests/game/edit-panel-hex.test.jsx
Due: prettier, eslint, test

feat(ui): add a form to the hex tab (#1038)
  e2e/a11y.spec.js
  e2e/games.spec.js
  e2e/hex-editor.spec.js
  src/components/editPanel/HexSection.jsx
  src/components/editPanel/draftStore.js
  src/components/hexEditor/ElementList.jsx
  src/components/hexEditor/HexCanvas.jsx
  src/components/hexEditor/HexEditor.jsx
  src/components/hexEditor/HexEditor.stories.jsx
  src/components/hexEditor/LazyHexEditor.jsx
  src/components/hexEditor/SidePicker.jsx
  src/components/hexEditor/hexModel.js
  src/components/hexEditor/hexModel.test.js
  src/components/hexEditor/hexSchema.js
  src/components/hexEditor/hexSchema.test.js
  src/components/hexEditor/inspectors/BorderInspector.jsx
  src/components/hexEditor/inspectors/CityInspector.jsx
  src/components/hexEditor/inspectors/GenericInspector.jsx
  src/components/hexEditor/inspectors/LabelInspector.jsx
  src/components/hexEditor/inspectors/OffboardInspector.jsx
  src/components/hexEditor/inspectors/TrackInspector.jsx
  src/components/hexEditor/inspectors/index.js
  src/components/hexEditor/inspectors/parts.jsx
  src/components/hexEditor/useHexForm.js
  src/components/schemaForm/resolve.js
  src/docs/files.de.md
  src/docs/files.en.md
  src/docs/files.zh.md
  src/locales/de.json
  src/locales/en.json
  src/locales/zh.json
  tests/game/edit-panel-hex-form.test.jsx
  tests/game/edit-panel-hex.test.jsx
Due: prettier, eslint, test

feat(ui): add drag and undo to the hex editor
  e2e/hex-editor.spec.js
  src/components/hexEditor/HexCanvas.jsx
  src/components/hexEditor/HexEditor.jsx
  src/components/hexEditor/hexHistory.js
  src/components/hexEditor/hexHistory.test.js
  src/components/hexEditor/hexModel.js
  src/components/hexEditor/hexModel.test.js
  src/components/hexEditor/useHexForm.js
  src/docs/files.de.md
  src/docs/files.en.md
  src/docs/files.zh.md
  src/locales/de.json
  src/locales/en.json
  src/locales/zh.json
  tests/game/edit-panel-hex-form.test.jsx
Due: prettier, eslint, test

fix(ui): harden hex editor drag and undo
  src/components/Position.jsx
  src/components/hexEditor/HexCanvas.jsx
  src/components/hexEditor/HexEditor.jsx
  src/components/hexEditor/hexModel.js
  src/components/hexEditor/hexModel.test.js
  src/components/hexEditor/useHexForm.js
  src/docs/files.de.md
  src/docs/files.en.md
  src/docs/files.zh.md
  src/locales/de.json
  src/locales/en.json
  src/locales/zh.json
  tests/game/edit-panel-hex-form.test.jsx
Due: prettier, eslint, test

feat(ui): add drag and undo to the hex editor (#1039)
  e2e/hex-editor.spec.js
  src/components/Position.jsx
  src/components/hexEditor/HexCanvas.jsx
  src/components/hexEditor/HexEditor.jsx
  src/components/hexEditor/hexHistory.js
  src/components/hexEditor/hexHistory.test.js
  src/components/hexEditor/hexModel.js
  src/components/hexEditor/hexModel.test.js
  src/components/hexEditor/useHexForm.js
  src/docs/files.de.md
  src/docs/files.en.md
  src/docs/files.zh.md
  src/locales/de.json
  src/locales/en.json
  src/locales/zh.json
  tests/game/edit-panel-hex-form.test.jsx
Due: prettier, eslint, test

feat(ui): add shape-aware tile edit helpers
  src/hooks/useSelectedTile.js
  src/util/query.js
  src/util/query.test.js
  src/util/tileEdit.js
  src/util/tileEdit.test.js
Due: prettier, eslint, test

feat(ui): add a tile mode to the hex editor
  src/components/hexEditor/HexCanvas.jsx
  src/components/hexEditor/HexEditor.jsx
  src/components/hexEditor/HexEditor.stories.jsx
  src/components/hexEditor/TileFieldset.jsx
  src/components/hexEditor/hexSchema.js
Due: prettier, eslint, test

feat(ui): add a tiles tab to the edit panel
  DEVELOPMENT.md
  e2e/a11y.spec.js
  e2e/tiles-editor.spec.js
  src/components/editPanel/EditNav.jsx
  src/components/editPanel/TilesSection.jsx
  src/components/editPanel/sections.js
  src/components/editPanel/sections.test.jsx
  src/components/pages/games/TilesPage.jsx
  src/data/games/18Test.json
  src/docs/files.de.md
  src/docs/files.en.md
  src/docs/files.zh.md
  src/locales/de.json
  src/locales/en.json
  src/locales/zh.json
  src/util/gameNav.js
  src/util/gameNav.test.js
  tests/game/edit-panel-tiles.test.jsx
  tests/game/edit-sections.test.jsx
  tests/support/smoke.js
Due: validate, prettier, eslint, test

fix(ui): keep tile edits in step with the game and the manifest
  DEVELOPMENT.md
  src/components/Tile.jsx
  src/components/editPanel/TilesSection.jsx
  src/docs/files.de.md
  src/docs/files.en.md
  src/docs/files.zh.md
  src/util/tileEdit.js
  src/util/tileEdit.test.js
  tests/game/edit-panel-tiles.test.jsx
Due: prettier, eslint, test

style(ui): format the hex editor after the rebase
  src/components/hexEditor/HexEditor.jsx
Due: prettier, eslint, test

fix(ui): always show the tiles, map and hex edit tabs
  src/components/editPanel/sections.js
  src/components/editPanel/sections.test.jsx
  src/docs/files.de.md
  src/docs/files.en.md
  src/docs/files.zh.md
  src/hooks/useEditPanel.js
  tests/game/edit-panel-hex.test.jsx
  tests/game/edit-panel-map.test.jsx
  tests/game/edit-panel-tiles.test.jsx
  tests/game/edit-panel.test.jsx
Due: prettier, eslint, test

test(e2e): the tiles tab goes to the tiles page from any page
  e2e/tiles-editor.spec.js
Due: prettier, eslint, test

Path conditions:
  schemas: any of: {public,src}/schemas/*.json
  validate: any of: *.json, but not: package.json, release-please-config.json, .release-please-manifest.json, public/*, src/locales/*, src/schemas/*
  svgo: any of: *.svg
  prettier: any of: *.{css,js,mjs,cjs,jsx,json,yml,yaml,md}
  eslint: any of: *.{js,mjs,cjs,jsx}
  stylelint: any of: *.css
  test: any of: *.{js,mjs,cjs,jsx,json}
