Repository 18xx-maker/18xx-maker: changes, and which lefthook commands are due for each by the changed paths.
All: schemas, validate, svgo, prettier, eslint, stylelint, test

schemas:
  run: make && yarn validate
  stage_fixed: true
  priority: 10

validate:
  run: node ./bin/schemas.cjs {staged_files}
  priority: 40

svgo:
  run: yarn svgo -f {staged_files}
  stage_fixed: true
  priority: 40

prettier:
  run: yarn prettier --write {staged_files}
  stage_fixed: true
  priority: 20

eslint:
  run: yarn eslint --fix {staged_files}
  stage_fixed: true
  priority: 30

stylelint:
  run: yarn stylelint --fix {staged_files}
  stage_fixed: true
  priority: 30

test:
  run: yarn vitest related --run {staged_files}
  priority: 50

chore: adding react hooks eslint plugin
  eslint.config.js
  package.json
  src/Root.jsx
  src/hooks/bindings.js
  src/pages/games/Game.jsx
  src/pages/load/LoadGames.jsx
  src/util/File.jsx
  yarn.lock
Due: prettier, eslint, test

feat: adding storybook
  .gitignore
  .storybook/main.js
  .storybook/preview.jsx
  eslint.config.js
  package.json
  src/atoms/Tunnel.stories.js
  src/routes.jsx
  tests/helpers.jsx
  yarn.lock
Due: prettier, eslint, test

feat: building setup for storybook
  .gitignore
  Makefile
  eslint.config.js
  package.json
  src/atoms/Tunnel.stories.js
Due: prettier, eslint, test

chore: move to actions/cache for node dependency caching
  .github/workflows/pr.yml
Due: prettier

feat: storybook (#534)
  .gitignore
  .storybook/main.js
  .storybook/preview.jsx
  Makefile
  eslint.config.js
  package.json
  src/atoms/Tunnel.stories.js
  src/routes.jsx
  tests/helpers.jsx
  yarn.lock
Due: prettier, eslint, test

chore: move to actions/cache for node dependency caching (#535)
  .github/workflows/pr.yml
Due: prettier

chore: ignore stories from coverage
  vitest.config.js
Due: prettier, eslint, test

chore: ignore stories from coverage (#536)
  vitest.config.js
Due: prettier, eslint, test

chore: add netlify badge for storybook site
  README.md
Due: none

chore: add node-modules cache to app.yml
  .github/workflows/app.yml
Due: prettier

chore: add netlify badge for storybook site (#537)
  README.md
Due: none

chore: add node-modules cache to app.yml (#538)
  .github/workflows/app.yml
Due: prettier

feat: load route that the app was last at on startup
  electron/main/config.js
  electron/main/dev.js
  electron/main/window.js
  package.json
Due: prettier, eslint, test

feat: only update when the user wants to
  dev-app-update.yml
  electron/main/index.js
  electron/main/menu.js
  electron/main/window.js
  electron/preload/preload.js
  lefthook.yml
  package.json
  src/Root.jsx
  src/data/logos/webdev/electron.svg
  src/hooks/bindings.js
  src/locales/en.json
  src/nav/AppNav.jsx
  src/pages/App.jsx
  src/routes.jsx
  src/state/index.js
  src/state/store.js
  src/state/update.js
Due: svgo, prettier, eslint, test

feat: only update when the user wants to (#539)
  dev-app-update.yml
  electron/main/config.js
  electron/main/dev.js
  electron/main/index.js
  electron/main/menu.js
  electron/main/window.js
  electron/preload/preload.js
  lefthook.yml
  package.json
  src/Root.jsx
  src/data/logos/webdev/electron.svg
  src/hooks/bindings.js
  src/locales/en.json
  src/nav/AppNav.jsx
  src/pages/App.jsx
  src/routes.jsx
  src/state/index.js
  src/state/store.js
  src/state/update.js
Due: svgo, prettier, eslint, test

chore(release): v1.0.0-beta.81
  package.json
Due: prettier, test

fix: broken image on app page
  src/pages/App.jsx
Due: prettier, eslint, test

fix: app icon when electron is tiny
  src/locales/en.json
  src/nav/AppNav.jsx
Due: prettier, eslint, test

chore(release): v1.0.0-beta.82
  package.json
Due: prettier, test

fix: migrate to Grid2
  src/pages/elements/Atoms.jsx
  src/pages/elements/Logos.jsx
  src/pages/elements/Tiles.jsx
Due: prettier, eslint, test

feat: make tiles page more performant
  src/TileFilters.jsx
  src/config/Config.jsx
  src/config/Input.jsx
  src/config/UnitInput.jsx
  src/nav/GameNav.jsx
  src/pages/elements/Tiles.jsx
Due: prettier, eslint, test

feat: better loading atoms and logos pages
  src/pages/elements/Atoms.jsx
  src/pages/elements/Logos.jsx
Due: prettier, eslint, test

feat: make tiles page more performant (#540)
  src/TileFilters.jsx
  src/config/Config.jsx
  src/config/Input.jsx
  src/config/UnitInput.jsx
  src/nav/GameNav.jsx
  src/pages/elements/Atoms.jsx
  src/pages/elements/Logos.jsx
  src/pages/elements/Tiles.jsx
Due: prettier, eslint, test

fix: add some memos
  src/Hex.jsx
  src/index.jsx
  src/map/Map.jsx
Due: prettier, eslint, test

chore: remove console.logs
  src/TileFilters.jsx
Due: prettier, eslint, test

chore: moving to abs imports for shapes
  src/atoms/shapes/Circle.jsx
  src/atoms/shapes/Diamond.jsx
  src/atoms/shapes/Ellipse.jsx
  src/atoms/shapes/Hexagon.jsx
  src/atoms/shapes/Shape.jsx
  src/atoms/shapes/Square.jsx
  src/atoms/shapes/Star.jsx
  src/atoms/shapes/Text.jsx
  src/atoms/shapes/Triangle.jsx
Due: prettier, eslint, test

chore: adding test:run script
  package.json
Due: prettier, test

chore: remove fa fonts
  public/webfonts/fa-brands-400.eot
  public/webfonts/fa-brands-400.svg
  public/webfonts/fa-brands-400.ttf
  public/webfonts/fa-brands-400.woff
  public/webfonts/fa-brands-400.woff2
  public/webfonts/fa-light-300.eot
  public/webfonts/fa-light-300.svg
  public/webfonts/fa-light-300.ttf
  public/webfonts/fa-light-300.woff
  public/webfonts/fa-light-300.woff2
  public/webfonts/fa-regular-400.eot
  public/webfonts/fa-regular-400.svg
  public/webfonts/fa-regular-400.ttf
  public/webfonts/fa-regular-400.woff
  public/webfonts/fa-regular-400.woff2
  public/webfonts/fa-solid-900.eot
  public/webfonts/fa-solid-900.svg
  public/webfonts/fa-solid-900.ttf
  public/webfonts/fa-solid-900.woff
  public/webfonts/fa-solid-900.woff2
Due: svgo

chore: move selectDirectory to exports.js
  electron/main/export.js
  electron/main/window.js
Due: prettier, eslint, test

fix: exporting
  electron/main/export.js
Due: prettier, eslint, test

chore: small change that might speed up tests
  tests/setup.js
Due: prettier, eslint, test

fix: solve broken exporting and other speed improvements (#541)
  electron/main/export.js
  electron/main/window.js
  package.json
  public/webfonts/fa-brands-400.eot
  public/webfonts/fa-brands-400.svg
  public/webfonts/fa-brands-400.ttf
  public/webfonts/fa-brands-400.woff
  public/webfonts/fa-brands-400.woff2
  public/webfonts/fa-light-300.eot
  public/webfonts/fa-light-300.svg
  public/webfonts/fa-light-300.ttf
  public/webfonts/fa-light-300.woff
  public/webfonts/fa-light-300.woff2
  public/webfonts/fa-regular-400.eot
  public/webfonts/fa-regular-400.svg
  public/webfonts/fa-regular-400.ttf
  public/webfonts/fa-regular-400.woff
  public/webfonts/fa-regular-400.woff2
  public/webfonts/fa-solid-900.eot
  public/webfonts/fa-solid-900.svg
  public/webfonts/fa-solid-900.ttf
  public/webfonts/fa-solid-900.woff
  public/webfonts/fa-solid-900.woff2
  src/Hex.jsx
  src/TileFilters.jsx
  src/atoms/shapes/Circle.jsx
  src/atoms/shapes/Diamond.jsx
  src/atoms/shapes/Ellipse.jsx
  src/atoms/shapes/Hexagon.jsx
  src/atoms/shapes/Shape.jsx
  src/atoms/shapes/Square.jsx
  src/atoms/shapes/Star.jsx
  src/atoms/shapes/Text.jsx
  src/atoms/shapes/Triangle.jsx
  src/index.jsx
  src/map/Map.jsx
  tests/setup.js
Due: svgo, prettier, eslint, test

chore(release): v1.0.0-beta.83
  package.json
Due: prettier, test

chore: move some tests to testids
  src/games/MapPaginated.jsx
  src/games/MapSingle.jsx
  src/locales/en.json
  src/pages/Docs.jsx
  src/pages/Home.jsx
  src/pages/elements/Atoms.jsx
  src/pages/elements/Logos.jsx
  src/pages/elements/Tiles.jsx
  src/pages/games/Tokens.jsx
  src/pages/load/LoadGames.jsx
  tests/app.test.jsx
  tests/bindings.1.test.jsx
  tests/bindings.2.test.jsx
  tests/game.config.test.jsx
Due: prettier, eslint, test

chore: move all page tests to testids
  src/cards/index.jsx
  src/games/MapPaginated.jsx
  src/market/MarketPaginated.jsx
  src/market/MarketSingle.jsx
  src/market/ParPaginated.jsx
  src/market/ParSingle.jsx
  src/market/RevenuePaginated.jsx
  src/market/RevenueSingle.jsx
  src/pages/games/Background.jsx
  src/pages/games/Card.jsx
  src/pages/games/Charter.jsx
  src/pages/games/Charters.jsx
  src/pages/games/Info.jsx
  src/pages/games/Tile.jsx
  src/pages/games/TileManifest.jsx
  src/pages/games/Tiles.jsx
  src/pages/games/Token.jsx
  tests/game.charters.test.jsx
  tests/game.markets.test.jsx
  tests/game.params.test.jsx
  tests/game.parts.test.jsx
  tests/game.single.test.jsx
  tests/game.tiles.test.jsx
Due: prettier, eslint, test

chore: testid for page tests (#542)
  src/cards/index.jsx
  src/games/MapPaginated.jsx
  src/games/MapSingle.jsx
  src/locales/en.json
  src/market/MarketPaginated.jsx
  src/market/MarketSingle.jsx
  src/market/ParPaginated.jsx
  src/market/ParSingle.jsx
  src/market/RevenuePaginated.jsx
  src/market/RevenueSingle.jsx
  src/pages/Docs.jsx
  src/pages/Home.jsx
  src/pages/elements/Atoms.jsx
  src/pages/elements/Logos.jsx
  src/pages/elements/Tiles.jsx
  src/pages/games/Background.jsx
  src/pages/games/Card.jsx
  src/pages/games/Charter.jsx
  src/pages/games/Charters.jsx
  src/pages/games/Info.jsx
  src/pages/games/Tile.jsx
  src/pages/games/TileManifest.jsx
  src/pages/games/Tiles.jsx
  src/pages/games/Token.jsx
  src/pages/games/Tokens.jsx
  src/pages/load/LoadGames.jsx
  tests/app.test.jsx
  tests/bindings.1.test.jsx
  tests/bindings.2.test.jsx
  tests/game.charters.test.jsx
  tests/game.config.test.jsx
  tests/game.markets.test.jsx
  tests/game.params.test.jsx
  tests/game.parts.test.jsx
  tests/game.single.test.jsx
  tests/game.tiles.test.jsx
Due: prettier, eslint, test

chore: move assets folder into electron folder
  electron/assets/18xx-maker.icns
  electron/assets/18xx-maker.ico
  electron/assets/18xx-maker.png
  electron/assets/background.png
  electron/assets/background.tiff
  electron/assets/background@2x.png
  electron/assets/entitlements.mac.plist
  package.json
Due: prettier, test

chore: update docker images and add workflow
  .dockerignore
  .github/workflows/docker.yml
  Dockerfile
  Dockerfile.develop
Due: prettier

chore(release): v1.0.0-beta.84
  package.json
Due: prettier, test

chore: add docker image to readme
  README.md
Due: none

Path conditions:
  schemas: any of: {public,src}/schemas/*.json
  validate: any of: *.json, but not: package.json, public/*, src/locales/*, src/schemas/*
  svgo: any of: *.svg
  prettier: any of: *.{css,js,mjs,cjs,jsx,json,yml,yaml}
  eslint: any of: *.{js,mjs,cjs,jsx}
  stylelint: any of: *.css
  test: any of: *.{js,mjs,cjs,jsx,json}
