Repository 18xx-maker/18xx-maker: changes, and which lefthook commands are due for each by the changed paths.
All: schemas, validate, svgo, prettier, eslint, stylelint, test

lefthook.yml:

commit-msg:
  commands:
    commitlint:
      run: yarn commitlint --edit {1}

pre-commit:
  commands:
    schemas:
      run: make && yarn validate:schemas
      glob: "{public,src}/schemas/*.json"
      stage_fixed: true
      priority: 10
    validate:
      glob: "*.json"
      exclude:
        - "package.json"
        - "release-please-config.json"
        - ".release-please-manifest.json"
        - "public/*"
        - "src/locales/*"
        - "src/schemas/*"
      run: node ./bin/schemas.cjs {staged_files}
      priority: 40
    svgo:
      glob: "*.svg"
      run: yarn svgo:check {staged_files}
      stage_fixed: true
      priority: 40
    prettier:
      glob: "*.{css,js,mjs,cjs,jsx,json,yml,yaml,md}"
      run: yarn prettier --write {staged_files}
      stage_fixed: true
      priority: 20
    eslint:
      glob: "*.{js,mjs,cjs,jsx}"
      run: yarn eslint --fix {staged_files}
      stage_fixed: true
      priority: 30
    stylelint:
      glob: "*.css"
      run: yarn stylelint --fix {staged_files}
      stage_fixed: true
      priority: 30
    test:
      glob: "*.{js,mjs,cjs,jsx,json}"
      run: yarn vitest related --coverage.enabled=false --reporter=basic --exclude "tests/**" --run {staged_files}
      priority: 50

fix(colors): update to latest cube 4 me colors (#622)
  src/data/themes/companies/rob.json
Due: validate, prettier, test

fix: tiles 638 and 642 values to 70 (#479)
  src/data/games/1861.json
  src/data/tiles/brown.json
  src/data/tiles/gray.json
Due: validate, prettier, test

fix: tiles 638 and 642 values to 70 (#479) (#621)
  src/data/games/1861.json
  src/data/tiles/brown.json
  src/data/tiles/gray.json
Due: validate, prettier, test

fix: scrollbar visible while printing token pages and tile manifests (#357)
  src/index.css
Due: prettier, stylelint

fix: scrollbar visible while printing token pages and tile manifests (#624)
  src/index.css
Due: prettier, stylelint

fix: name of tile manifest on the top of the page.
  src/TileManifest.css
  src/pages/games/TileManifest.jsx
Due: prettier, eslint, stylelint, test

chore: prettier
  src/pages/games/TileManifest.jsx
Due: prettier, eslint, test

fix(pages): tile manifest grid fix
  src/TileManifest.css
Due: prettier, stylelint

chore(layout): moving i18n to locales
  src/index.jsx
  src/locales/i18n.js
Due: prettier, eslint, test

fix(phase): hide notes column if no notes exist on phase charts
  src/Phase.jsx
Due: prettier, eslint, test

fix(market): some small fixes on the par market components
  src/market/util.js
Due: prettier, eslint, test

fix(rotation): allow company labels in cities to be rotated
  src/atoms/City.jsx
  src/atoms/Name.jsx
  src/context/RotateContext.js
  src/data/games/18Test.json
  src/tokens/Token.jsx
Due: validate, prettier, eslint, test

fix(tiles): group gray and grey tiles together
  src/pages/games/Tiles.jsx
Due: prettier, eslint, test

fix(tiles): group tiles page by guages
  src/pages/games/Tiles.jsx
Due: prettier, eslint, test

fix(phase): hide all phase columns when there isn't data
  src/Phase.jsx
Due: prettier, eslint, test

chore(cleanup): remove react logo from src
  src/logo.svg
Due: svgo

chore(files): starting to move components into a components folder
  src/Root.jsx
  src/Tile.jsx
  src/cards/Private.jsx
  src/components/Charter.jsx
  src/components/ExportButton.jsx
  src/components/Hex.jsx
  src/components/Legend.jsx
  src/map/Map.jsx
  src/market/Market.jsx
  src/pages/elements/Atoms.jsx
  src/pages/games/Charter.jsx
  src/pages/games/Charters.jsx
  src/pages/games/Tile.jsx
  src/pages/games/Tiles.jsx
Due: prettier, eslint, test

chore(layout): move Phase, Pins and Position to components
  src/cards/index.jsx
  src/components/Charter.jsx
  src/components/Hex.jsx
  src/components/Phase.jsx
  src/components/Pins.jsx
  src/components/Position.jsx
  src/market/Cell.jsx
  src/pages/games/Charters.jsx
  src/pages/games/Tiles.jsx
Due: prettier, eslint, test

chore(layout): move PrintButton, RoundTracker, Rounds, ScrollToTop, Svg, and SyntaxHighlighter to components
  src/Root.jsx
  src/cards/Private.jsx
  src/cards/index.jsx
  src/components/PrintButton.jsx
  src/components/RoundTracker.jsx
  src/components/Rounds.jsx
  src/components/ScrollToTop.jsx
  src/components/Svg.jsx
  src/components/SyntaxHighlighter.js
  src/config/Config.jsx
  src/games/MapSingle.jsx
  src/map/MapRoundTracker.jsx
  src/market/MarketRoundTracker.jsx
  src/market/MarketSingle.jsx
  src/market/ParSingle.jsx
  src/market/RevenueSingle.jsx
  src/pages/Docs.jsx
  src/pages/Tile.jsx
  src/pages/elements/Atoms.jsx
  src/pages/elements/Tiles.jsx
  src/pages/games/Charters.jsx
  src/pages/games/Tile.jsx
  src/pages/games/TileManifest.jsx
  src/pages/games/Tiles.jsx
  src/pages/games/Token.jsx
  src/pages/games/Tokens.jsx
  src/pages/games/b18/Map.jsx
  src/pages/games/b18/Tiles.jsx
  src/pages/games/b18/Tokens.jsx
  src/util/Paginate.jsx
Due: prettier, eslint, test

fix(colors): bad capitalization in the main theme file
  src/data/themes/companies/rob.json
Due: validate, prettier, test

chore(layout): move PageSetup to components
  src/cards/index.jsx
  src/components/PageSetup.jsx
  src/pages/games/Background.jsx
  src/pages/games/Charter.jsx
  src/pages/games/Charters.jsx
  src/pages/games/Tiles.jsx
  src/pages/games/Tokens.jsx
  src/util/Paginate.jsx
Due: prettier, eslint, test

fix(config): better error handling in dimension inputs
  src/config/UnitInput.jsx
  src/hooks/bindings.js
Due: prettier, eslint, test

chore(layout): moving cards util to proper place
  src/cards/index.jsx
  src/pages/games/Card.jsx
  src/util/cards.js
Due: prettier, eslint, test

chore(layout): move Root, Tile, TileFilters and TileManifest to components
  src/Root.jsx
  src/cards/Private.jsx
  src/components/Tile.jsx
  src/components/TileFilters.jsx
  src/components/TileManifest.css
  src/components/Viewport.jsx
  src/pages/Tile.jsx
  src/pages/elements/Tiles.jsx
  src/pages/games/TileManifest.jsx
  src/pages/games/b18/Tiles.jsx
Due: prettier, eslint, stylelint, test

chore(layout): moving map util to proper place
  src/cards/Private.jsx
  src/games/MapPaginated.jsx
  src/games/MapSingle.jsx
  src/map/BorderTexts.jsx
  src/map/Borders.jsx
  src/map/Coordinates.jsx
  src/map/Lines.jsx
  src/map/Map.jsx
  src/pages/games/b18/Map.jsx
  src/tilesheet/util.js
  src/util/map.js
  src/util/map.test.js
Due: prettier, eslint, test

chore(layout): moving css files to styles
  package.json
  src/index.jsx
  src/styles/fonts.css
  src/styles/index.css
Due: prettier, eslint, stylelint, test

chore(layout): moving market util to proper place
  src/cards/index.jsx
  src/map/MapMarket.jsx
  src/market/Market.jsx
  src/market/MarketPaginated.jsx
  src/market/MarketSingle.jsx
  src/market/ParPaginated.jsx
  src/market/ParSingle.jsx
  src/market/RevenuePaginated.jsx
  src/market/RevenueSingle.jsx
  src/util/index.js
  src/util/index.test.js
  src/util/market.js
Due: prettier, eslint, test

chore(layout): move tokens components to components folder
  src/atoms/City.jsx
  src/cards/Private.jsx
  src/cards/Share.jsx
  src/components/Charter.jsx
  src/components/Hex.jsx
  src/components/RoundTracker.jsx
  src/components/tokens/CompanyToken.jsx
  src/components/tokens/GameCompanyToken.jsx
  src/components/tokens/GameMapCompanyToken.jsx
  src/components/tokens/MapCompanyToken.jsx
  src/components/tokens/Token.jsx
  src/market/Cell.jsx
  src/pages/games/Token.jsx
  src/pages/games/Tokens.jsx
  src/pages/games/b18/Tokens.jsx
Due: prettier, eslint, test

chore(layout): move atoms components to components folder
  src/atoms/shapes/Shape.jsx
  src/cards/Private.jsx
  src/components/Hex.jsx
  src/components/Tile.jsx
  src/components/atoms/Boomtown.jsx
  src/components/atoms/Border.jsx
  src/components/atoms/Bridge.jsx
  src/components/atoms/CenterTown.jsx
  src/components/atoms/City.jsx
  src/components/atoms/Company.jsx
  src/components/atoms/Divide.jsx
  src/components/atoms/Good.jsx
  src/components/atoms/Hex.jsx
  src/components/atoms/HexBorder.jsx
  src/components/atoms/Icon.jsx
  src/components/atoms/Id.jsx
  src/components/atoms/Industry.jsx
  src/components/atoms/Label.jsx
  src/components/atoms/MediumCity.jsx
  src/components/atoms/Name.jsx
  src/components/atoms/OffBoardRevenue.jsx
  src/components/atoms/README.md
  src/components/atoms/RouteBonus.jsx
  src/components/atoms/Terrain.jsx
  src/components/atoms/Town.jsx
  src/components/atoms/Track.jsx
  src/components/atoms/Tunnel.jsx
  src/components/atoms/Tunnel.stories.js
  src/components/atoms/TunnelEntrance.jsx
  src/components/atoms/Value.jsx
  src/components/atoms/shapes/Circle.jsx
  src/components/atoms/shapes/Diamond.jsx
  src/components/atoms/shapes/Ellipse.jsx
  src/components/atoms/shapes/Hexagon.jsx
  src/components/atoms/shapes/Shape.jsx
  src/components/atoms/shapes/Square.jsx
  src/components/atoms/shapes/Star.jsx
  src/components/atoms/shapes/Text.jsx
  src/components/atoms/shapes/Triangle.jsx
Due: prettier, eslint, test

chore(layout): move tilesheet folder items to proper places
  src/components/Cutlines.jsx
  src/pages/games/Tiles.jsx
  src/util/tilesheet.js
Due: prettier, eslint, test

chore(layout): move card css files to styles
  src/cards/Number.jsx
  src/cards/Private.jsx
  src/cards/Share.jsx
  src/cards/Train.jsx
  src/cards/index.jsx
  src/pages/games/Card.jsx
  src/styles/card.css
  src/styles/index.css
  src/styles/number.css
  src/styles/private.css
  src/styles/root.css
  src/styles/share.css
  src/styles/train.css
Due: prettier, eslint, stylelint, test

chore(layout): move map components to components folder
  src/components/map/BorderTexts.jsx
  src/components/map/Borders.jsx
  src/components/map/Coordinates.jsx
  src/components/map/Lines.jsx
  src/components/map/Map.jsx
  src/components/map/MapMarket.jsx
  src/components/map/MapPlayers.jsx
  src/components/map/MapRoundTracker.jsx
  src/components/map/Title.jsx
  src/games/MapPaginated.jsx
  src/games/MapSingle.jsx
  src/pages/games/b18/Map.jsx
Due: prettier, eslint, test

chore(layout): move config components to components folder
  src/Root.jsx
  src/components/config/Config.jsx
  src/components/config/ConfigDrawer.jsx
  src/components/config/Input.jsx
  src/components/config/ThemePreview.jsx
  src/components/config/UnitInput.jsx
Due: prettier, eslint, test

chore(cleanup): remove unused css file
  src/docs/docs.css
Due: prettier, stylelint

chore(layout): move cards components to components folder
  src/components/cards/Number.jsx
  src/components/cards/Private.jsx
  src/components/cards/Share.jsx
  src/components/cards/Train.jsx
  src/components/cards/index.jsx
  src/pages/games/Card.jsx
  src/pages/games/Cards.jsx
Due: prettier, eslint, test

chore(cli): better schemas output and file layout
  bin/schemas.cjs
  src/cli/validate.cjs
Due: prettier, eslint, test

fix(cli): fixing cli imports
  bin/b18.js
  bin/print.js
  src/cli/util.js
  src/data/tiles/index.js
  src/util/market.js
Due: prettier, eslint, test

chore(layout): move game components to components map folder
  src/components/map/MapPaginated.jsx
  src/components/map/MapSingle.jsx
  src/pages/games/Map.jsx
Due: prettier, eslint, test

chore(layout): fixing tile manifest style
  src/pages/games/TileManifest.jsx
  src/styles/index.css
  src/styles/manifest.css
Due: prettier, eslint, stylelint, test
