Repository 18xx-maker/18xx-maker: changes, and which lefthook commands are due for each by the changed paths.
All: schemas, validate, svgo, prettier, eslint, stylelint, test

lefthook.yml:

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit {1}

pre-commit:
  commands:
    schemas:
      run: make && pnpm validate:schemas
      glob: "{public,src}/schemas/*.json"
      stage_fixed: true
      priority: 10
    validate:
      glob: "*.json"
      exclude:
        - "package.json"
        - "release-please-config.json"
        - ".release-please-manifest.json"
        - "public/*"
        - "src/locales/*"
        - "src/schemas/*"
      run: node ./bin/maker.js validate {staged_files}
      priority: 40
    svgo:
      glob: "*.svg"
      run: pnpm exec svgo {staged_files}
      stage_fixed: true
      priority: 40
    prettier:
      glob: "*.{css,js,mjs,cjs,jsx,json,yml,yaml,md}"
      run: pnpm prettier --write {staged_files}
      stage_fixed: true
      priority: 20
    eslint:
      glob: "*.{js,mjs,cjs,jsx}"
      run: pnpm eslint --fix {staged_files}
      stage_fixed: true
      priority: 30
    stylelint:
      glob: "*.css"
      run: pnpm stylelint --fix {staged_files}
      stage_fixed: true
      priority: 30
    test:
      glob: "*.{js,mjs,cjs,jsx,json}"
      run: pnpm vitest related --coverage.enabled=false --reporter=basic --exclude "tests/**" --run {staged_files}
      priority: 50

feat(export): add a border around map, market, par, revenue and tile manifest pngs
  src/docs/output/png.en.md
  src/export/capture.js
  src/export/capture.test.js
Due: prettier, eslint, test

docs: require the export test suites before pushing export changes
  CLAUDE.md
Due: prettier

docs: require PR titles to follow commit message rules
  CLAUDE.md
Due: prettier

docs(site): fix stale docs, add examples, images, first-game guide and faq
  package.json
  public/images/borders-example.png
  public/images/export-button.png
  public/images/tokens-example.png
  scripts/docs-images.mjs
  src/components/nav/index.jsx
  src/docs/faq.en.md
  src/docs/files.en.md
  src/docs/games/borders.en.md
  src/docs/games/exports.en.md
  src/docs/games/first-game.en.md
  src/docs/games/logos.en.md
  src/docs/games/overrides.en.md
  src/docs/games/positioning.en.md
  src/docs/games/schemas.en.md
  src/docs/games/trains.en.md
  src/docs/games/types.en.md
  src/docs/index.en.md
  src/docs/output/b18.en.md
  src/docs/output/pdf.en.md
  src/docs/output/png.en.md
  src/docs/pnp/die.en.md
  src/docs/pnp/tokens.en.md
  src/docs/translation.en.md
  src/locales/en.json
Due: prettier, eslint, test

feat(export): add a border around map, market, par, revenue and tile manifest PNGs (#743)
  CLAUDE.md
  e2e/cli.spec.js
  e2e/electron.spec.js
  e2e/export-files.js
  src/docs/output/png.en.md
  src/export/capture.js
  src/export/capture.test.js
Due: prettier, eslint, test

fix: stop map editor view jumping on fast clicks (#748)
  src/components/SvgEditor.jsx
  src/components/SvgEditor.test.jsx
Due: prettier, eslint, test

docs(site): use the real 1867 map for the borders example image
  public/images/borders-example.png
  scripts/docs-images.mjs
  src/docs/games/borders.en.md
Due: prettier, eslint, test

perf: trim dependencies from the app package and the web bundle
  package.json
  pnpm-lock.yaml
  src/cli/b18.test.js
  src/components/Code.jsx
  src/components/CodeHighlighted.jsx
  src/export/zip.js
  src/export/zip.test.js
  src/hooks/validation.js
  tests/bugfixes.chrome.test.jsx
  tests/coverage.chrome.test.jsx
  vite.config.js
  vitest.config.js
Due: prettier, eslint, test

docs: require PR titles to follow commit message rules (#752)
  CLAUDE.md
Due: prettier

test: account for the faq page in the docs pager order
  tests/docs.pager.test.jsx
Due: prettier, eslint, test

feat(export): always offer paginated exports when a page does not fit
  DEVELOPMENT.md
  bin/maker.js
  e2e/cli.spec.js
  public/schemas/game.schema.json
  src/cli/README.md
  src/cli/exportCommand.js
  src/cli/exportCommand.test.js
  src/cli/legacy.test.js
  src/cli/maker.test.js
  src/cli/print.js
  src/cli/print.test.js
  src/cli/validate.test.js
  src/components/ExportOptions.jsx
  src/docs/games/exports.en.md
  src/docs/index.en.md
  src/docs/output/pdf.en.md
  src/export/documents.js
  src/export/documents.test.js
  src/export/options.js
  src/export/options.test.js
  src/export/run.js
  src/export/select.js
  src/locales/en.json
  src/schemas/game.schema.json
  src/util/exportPlan.js
  src/util/exportPlan.test.js
  tests/coverage.electron.test.jsx
  tests/export.exports.test.jsx
  tests/export.options.test.jsx
  tests/export.variation.test.jsx
Due: schemas, prettier, eslint, test

fix(export): ignore a leftover exports.paginated instead of rejecting the game
  CLAUDE.md
  public/schemas/game.schema.json
  src/cli/legacy.test.js
  src/cli/maker.test.js
  src/cli/validate.test.js
  src/docs/games/exports.en.md
  src/docs/output/pdf.en.md
  src/schemas/game.schema.json
Due: schemas, prettier, eslint, test

fix: load the code highlighter without suspending
  src/components/Code.jsx
  tests/setup.js
Due: prettier, eslint, test

docs(site): fix stale docs, add examples, images, first-game guide and faq (#750)
  package.json
  public/images/borders-example.png
  public/images/export-button.png
  public/images/tokens-example.png
  scripts/docs-images.mjs
  src/components/nav/index.jsx
  src/docs/faq.en.md
  src/docs/files.en.md
  src/docs/games/borders.en.md
  src/docs/games/exports.en.md
  src/docs/games/first-game.en.md
  src/docs/games/logos.en.md
  src/docs/games/overrides.en.md
  src/docs/games/positioning.en.md
  src/docs/games/schemas.en.md
  src/docs/games/trains.en.md
  src/docs/games/types.en.md
  src/docs/index.en.md
  src/docs/output/b18.en.md
  src/docs/output/pdf.en.md
  src/docs/output/png.en.md
  src/docs/pnp/die.en.md
  src/docs/pnp/tokens.en.md
  src/docs/translation.en.md
  src/locales/en.json
  tests/docs.pager.test.jsx
Due: prettier, eslint, test

fix(export): always export paginated files when a page does not fit (#745)
  CLAUDE.md
  DEVELOPMENT.md
  bin/maker.js
  e2e/cli.spec.js
  public/schemas/game.schema.json
  src/cli/README.md
  src/cli/exportCommand.js
  src/cli/exportCommand.test.js
  src/cli/legacy.test.js
  src/cli/maker.test.js
  src/cli/print.js
  src/cli/print.test.js
  src/cli/validate.test.js
  src/components/ExportOptions.jsx
  src/docs/games/exports.en.md
  src/docs/index.en.md
  src/docs/output/pdf.en.md
  src/export/documents.js
  src/export/documents.test.js
  src/export/options.js
  src/export/options.test.js
  src/export/run.js
  src/export/select.js
  src/locales/en.json
  src/schemas/game.schema.json
  src/util/exportPlan.js
  src/util/exportPlan.test.js
  tests/coverage.electron.test.jsx
  tests/export.exports.test.jsx
  tests/export.options.test.jsx
  tests/export.variation.test.jsx
Due: schemas, prettier, eslint, test

fix(ui): fall back to english docs and home for other browser languages
  src/components/pages/Docs.jsx
  src/components/pages/Home.jsx
  tests/docs.language.test.jsx
Due: prettier, eslint, test

fix: save games in safari where createWritable is missing
  src/util/opfs.js
  src/util/opfs.test.js
Due: prettier, eslint, test

fix(ui): fall back to english docs and home for other browser languages (#753)
  src/components/pages/Docs.jsx
  src/components/pages/Home.jsx
  tests/docs.language.test.jsx
Due: prettier, eslint, test

fix: start loading the config schema validator at startup
  src/hooks/validation.js
Due: prettier, eslint, test

docs(site): add color themes page for map, company and game colors
  src/components/nav/index.jsx
  src/docs/games/themes.en.md
  src/locales/en.json
Due: prettier, eslint, test

fix: save games in safari where createWritable is missing (#754)
  src/util/opfs.js
  src/util/opfs.test.js
Due: prettier, eslint, test

perf: trim dependencies from the app package and the web bundle (#749)
  package.json
  pnpm-lock.yaml
  src/cli/b18.test.js
  src/components/Code.jsx
  src/components/CodeHighlighted.jsx
  src/export/zip.js
  src/export/zip.test.js
  src/hooks/validation.js
  tests/bugfixes.chrome.test.jsx
  tests/coverage.chrome.test.jsx
  tests/setup.js
  vite.config.js
  vitest.config.js
Due: prettier, eslint, test

docs(site): add color themes page for map, company and game colors (#755)
  src/components/nav/index.jsx
  src/docs/games/themes.en.md
  src/locales/en.json
Due: prettier, eslint, test

feat(ui): add export keybindings to the app
  src/components/ExportButton.jsx
  src/docs/index.en.md
  src/hooks/bindings.js
  tests/export.keys.test.jsx
Due: prettier, eslint, test

fix(ui): keep config panel fixed on screen and tidy its layout
  src/components/config/Config.jsx
  src/components/config/Input.jsx
  src/components/config/Items.jsx
  src/components/config/PinConfig.jsx
  src/components/config/ThemePreview.jsx
  src/components/config/UnitInput.jsx
Due: prettier, eslint, test

fix(ui): let measurement config labels use the full width
  src/components/config/UnitInput.jsx
Due: prettier, eslint, test

fix(print): reorder die-cut tiles so bleed track lines up
  src/components/pages/games/Tiles.jsx
  src/util/tilesheet.js
  src/util/tilesheet.reorder.test.js
  src/util/track.js
  tests/__snapshots__/1889/tiles.html
Due: prettier, eslint, test

feat(ui): add export keybindings to the app (#756)
  src/components/ExportButton.jsx
  src/docs/index.en.md
  src/hooks/bindings.js
  tests/export.keys.test.jsx
Due: prettier, eslint, test

fix(ui): keep config panel fixed on screen and tidy its layout (#757)
  src/components/config/Config.jsx
  src/components/config/Input.jsx
  src/components/config/Items.jsx
  src/components/config/PinConfig.jsx
  src/components/config/ThemePreview.jsx
  src/components/config/UnitInput.jsx
Due: prettier, eslint, test

fix(print): reorder die-cut tiles so bleed track lines up (#758)
  src/components/pages/games/Tiles.jsx
  src/util/tilesheet.js
  src/util/tilesheet.reorder.test.js
  src/util/track.js
  tests/__snapshots__/1889/tiles.html
Due: prettier, eslint, test

docs: remove square cash donation link from readme
  README.md
Due: prettier

docs: remove square cash donation link from readme (#759)
  README.md
Due: prettier

feat(ui): rework keybindings around the game page and edit page
  src/components/SvgEditor.jsx
  src/components/Toolbar.jsx
  src/components/gameNav.js
  src/docs/index.en.md
  src/hooks/bindings.js
  tests/bindings.1.test.jsx
  tests/bindings.2.test.jsx
  tests/bindings.3.test.jsx
  tests/coverage.chrome.test.jsx
Due: prettier, eslint, test

ci: fail PRs whose body would add stray release notes
  .github/workflows/pr-body.yml
  CLAUDE.md
  scripts/check-pr-body.mjs
  src/util/prBody.js
  src/util/prBody.test.js
Due: prettier, eslint, test

ci: fail PRs whose body would add stray release notes (#761)
  .github/workflows/pr-body.yml
  CLAUDE.md
  scripts/check-pr-body.mjs
  src/util/prBody.js
  src/util/prBody.test.js
Due: prettier, eslint, test

test: expect the section key in the game section select
  e2e/games.spec.js
Due: prettier, eslint, test

fix(export): paint the png border white and wait for a frame before the shot
  src/export/capture.js
  src/export/capture.test.js
Due: prettier, eslint, test

feat(ui): rework keybindings around the game page and edit page (#760)
  e2e/games.spec.js
  src/components/SvgEditor.jsx
  src/components/Toolbar.jsx
  src/components/gameNav.js
  src/docs/index.en.md
  src/hooks/bindings.js
  tests/bindings.1.test.jsx
  tests/bindings.2.test.jsx
  tests/bindings.3.test.jsx
  tests/coverage.chrome.test.jsx
Due: prettier, eslint, test

fix(export): paint the png border white and wait for a frame before the shot (#762)
  src/export/capture.js
  src/export/capture.test.js
Due: prettier, eslint, test

docs: caption, annotate and describe doc screenshots
  public/images/borders-example.png
  public/images/export-button.png
  public/images/print-button.png
  public/images/ruby-and-python-in-atlanta.png
  public/images/tokens-example.png
  src/components/Markdown.jsx
  src/docs/games/borders.en.md
  src/docs/games/logos.en.md
  src/docs/games/overrides.en.md
  src/docs/index.en.md
  src/docs/output/pdf.en.md
  src/docs/output/png.en.md
  src/docs/pnp/tokens.en.md
  tests/coverage.chrome.test.jsx
  tests/coverage.electron.test.jsx
  tests/markdown.images.test.jsx
Due: prettier, eslint, test
