Repository 18xx-maker/18xx-maker: changes, and which lefthook commands are due for each by the changed paths.
All: schemas, validate, svgo, prettier, eslint, stylelint, test

lefthook.yml:

commit-msg:
  commands:
    commitlint:
      run: yarn commitlint --edit {1}

pre-commit:
  commands:
    schemas:
      run: make && yarn validate:schemas
      glob: "{public,src}/schemas/*.json"
      stage_fixed: true
      priority: 10
    validate:
      glob: "*.json"
      exclude:
        - "package.json"
        - "release-please-config.json"
        - ".release-please-manifest.json"
        - "public/*"
        - "src/locales/*"
        - "src/schemas/*"
      run: node ./bin/schemas.cjs {staged_files}
      priority: 40
    svgo:
      glob: "*.svg"
      run: yarn svgo:check {staged_files}
      stage_fixed: true
      priority: 40
    prettier:
      glob: "*.{css,js,mjs,cjs,jsx,json,yml,yaml,md}"
      run: yarn prettier --write {staged_files}
      stage_fixed: true
      priority: 20
    eslint:
      glob: "*.{js,mjs,cjs,jsx}"
      run: yarn eslint --fix {staged_files}
      stage_fixed: true
      priority: 30
    stylelint:
      glob: "*.css"
      run: yarn stylelint --fix {staged_files}
      stage_fixed: true
      priority: 30
    test:
      glob: "*.{js,mjs,cjs,jsx,json}"
      run: yarn vitest related --coverage.enabled=false --reporter=basic --exclude "tests/**" --run {staged_files}
      priority: 50

docs: update docker link in readme
  README.md
Due: prettier

docs: update docker link in readme (#567)
  README.md
Due: prettier

chore(release): v1.0.0-beta.91
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: prettier, test

chore(release): v1.0.0-beta.91 (#565)
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: prettier, test

ci: only run commitlint on PRs
  .github/workflows/test.yml
Due: prettier

ci: only run commitlint on PRs (#568)
  .github/workflows/test.yml
Due: prettier

ci: properly quote artifact files for gh release
  .github/workflows/app.yml
Due: prettier

ci: properly quote artifact files for gh release (#569)
  .github/workflows/app.yml
Due: prettier

build: attempt to add better annotations to the docker images
  .github/workflows/docker.yml
Due: prettier

ci: do not upload docker build records to github
  .github/workflows/docker.yml
Due: prettier

build: attempt to add better annotations to the docker images (#571)
  .github/workflows/docker.yml
Due: prettier

ci: do not upload docker build records to github (#572)
  .github/workflows/docker.yml
Due: prettier

build: add annotations to build action
  .github/workflows/docker.yml
Due: prettier

revert: will test docker builds without extra annotation config
  .github/workflows/docker.yml
Due: prettier

build: add annotations to build action (#573)
  .github/workflows/docker.yml
Due: prettier

revert: will test docker builds without extra annotation config (#574)
  .github/workflows/docker.yml
Due: prettier

chore(release): v1.0.0-beta.92
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: prettier, test

chore(release): v1.0.0-beta.92 (#570)
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: prettier, test

ci: fix the artifact paths in the app workflow
  .github/workflows/app.yml
Due: prettier

build: make sure electron-builder does not publish
  package.json
Due: prettier, test

ci: fix the artifact paths in the app workflow (#575)
  .github/workflows/app.yml
Due: prettier

build: make sure electron-builder does not publish (#576)
  package.json
Due: prettier, test

build: add explicit title update to docker annotations
  .github/workflows/docker.yml
Due: prettier

build: add explicit title update to docker annotations (#578)
  .github/workflows/docker.yml
Due: prettier

chore(release): v1.0.0-beta.93
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: prettier, test

chore(release): v1.0.0-beta.93 (#577)
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: prettier, test

ci: do not run tests again on main branch
  .github/workflows/test.yml
Due: prettier

ci: do not run tests again on main branch (#579)
  .github/workflows/test.yml
Due: prettier

build: set annotations at the index level as well as manifest
  .github/workflows/docker.yml
Due: prettier

build: set annotations at the index level as well as manifest (#580)
  .github/workflows/docker.yml
Due: prettier

chore(release): v1.0.0-beta.94
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: prettier, test

chore(release): v1.0.0-beta.94 (#581)
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: prettier, test

build: attempt to fix ghcr display by removing manifest annotations
  .github/workflows/docker.yml
Due: prettier

build: attempt to fix ghcr display by removing manifest annotations (#582)
  .github/workflows/docker.yml
Due: prettier

build: adding docker cache to build workflow
  .github/workflows/docker.yml
Due: prettier

build: adding docker cache to build workflow (#584)
  .github/workflows/docker.yml
Due: prettier

fix: use node:path.basename to load ID
  electron/main/game.js
Due: prettier, eslint, test

fix: use node:path.basename to load ID (#585)
  electron/main/game.js
Due: prettier, eslint, test

test: move to playwright for jsx tests
  .github/workflows/test.yml
  package.json
  vitest.config.js
  yarn.lock
Due: prettier, eslint, test

ci: set shell to bash to make sure windows summary works
  .github/workflows/test.yml
Due: prettier
