Repository 18xx-maker/18xx-maker: changes, and which lefthook commands are due for each by the changed paths.
All: schemas, validate, svgo, prettier, eslint, stylelint, test

schemas:
  run: make && pnpm validate:schemas
  stage_fixed: true
  priority: 10

validate:
  run: node ./bin/maker.js validate {staged_files}
  priority: 40

svgo:
  run: pnpm exec svgo {staged_files}
  stage_fixed: true
  priority: 40

prettier:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true
  priority: 20

eslint:
  run: pnpm eslint --fix {staged_files}
  stage_fixed: true
  priority: 30

stylelint:
  run: pnpm stylelint --fix {staged_files}
  stage_fixed: true
  priority: 30

test:
  run: pnpm vitest related --coverage.enabled=false --reporter=basic --exclude "tests/**" --run {staged_files}
  priority: 50

test(export): expect the loading state in the ui state
  tests/export/keys.test.jsx
Due: prettier, eslint, test

fix(ui): keep a dropped game from reloading the open game or losing to a stale drop
  src/components/Root.jsx
  src/components/pages/games/GamePage.jsx
  tests/coverage/browser.test.jsx
Due: prettier, eslint, test

feat(ui): show a loading state when a game file is dropped (#1072)
  src/components/DropOverlay.jsx
  src/components/LoadingOverlay.jsx
  src/components/LoadingOverlay.test.jsx
  src/components/Root.jsx
  src/components/pages/games/GamePage.jsx
  src/locales/de.json
  src/locales/en.json
  src/locales/zh.json
  src/state/persist.test.js
  src/state/reducers.test.js
  src/state/root.test.js
  src/state/selectors.js
  src/state/ui.js
  src/styles/ui.css
  src/util/recent.js
  src/util/recent.test.js
  tests/chrome/drop-images.test.jsx
  tests/coverage/browser.test.jsx
  tests/coverage/electron.test.jsx
  tests/export/keys.test.jsx
Due: prettier, eslint, stylelint, test

chore(release): v1.0.0-beta.137
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: prettier, test

chore(release): v1.0.0-beta.137 (#1070)
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: prettier, test

Path conditions:
  schemas: any of: {public,src}/schemas/*.json
  validate: any of: *.json, but not: package.json, release-please-config.json, .release-please-manifest.json, public/*, src/locales/*, src/schemas/*
  svgo: any of: *.svg
  prettier: any of: *.{css,js,mjs,cjs,jsx,json,yml,yaml,md}
  eslint: any of: *.{js,mjs,cjs,jsx}
  stylelint: any of: *.css
  test: any of: *.{js,mjs,cjs,jsx,json}
