Repository 18xx-maker/18xx-maker: changes, and which lefthook commands are due for each by the changed paths.
All: schemas, validate, svgo, prettier, eslint, stylelint, test

schemas:
  run: make && pnpm validate:schemas
  stage_fixed: true
  priority: 10

validate:
  run: node ./bin/maker.js validate {staged_files}
  priority: 40

svgo:
  run: pnpm exec svgo {staged_files}
  stage_fixed: true
  priority: 40

prettier:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true
  priority: 20

eslint:
  run: pnpm eslint --fix {staged_files}
  stage_fixed: true
  priority: 30

stylelint:
  run: pnpm stylelint --fix {staged_files}
  stage_fixed: true
  priority: 30

test:
  run: pnpm vitest related --coverage.enabled=false --reporter=basic --exclude "tests/**" --run {staged_files}
  priority: 50

feat: add 1878 logos
  pnpm-lock.yaml
  src/data/logos/1878/GJ.svg
  src/data/logos/1878/GuJ.svg
  src/data/logos/1878/HRJ.svg
  src/data/logos/1878/KIRJ.svg
  src/data/logos/1878/OJK.svg
  src/data/logos/1878/SFL.svg
  src/data/logos/1878/SGJ.svg
  src/data/logos/1878/SIRJ.svg
  src/data/logos/1878/SJ.svg
  src/data/logos/1878/SJa.svg
  src/data/logos/1878/TVV.svg
Due: svgo, prettier

feat: add 1878 logos (#698)
  pnpm-lock.yaml
  src/data/logos/1878/GJ.svg
  src/data/logos/1878/GuJ.svg
  src/data/logos/1878/HRJ.svg
  src/data/logos/1878/KIRJ.svg
  src/data/logos/1878/OJK.svg
  src/data/logos/1878/SFL.svg
  src/data/logos/1878/SGJ.svg
  src/data/logos/1878/SIRJ.svg
  src/data/logos/1878/SJ.svg
  src/data/logos/1878/SJa.svg
  src/data/logos/1878/TVV.svg
Due: svgo, prettier

chore(release): v1.0.0-beta.118
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: prettier, test

chore(release): v1.0.0-beta.118 (#699)
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: prettier, test

chore: update publisher data for GTG
  src/data/games/TheOldPrince1871.json
  src/locales/en.json
Due: validate, prettier, test

chore: update publisher data for GTG (#702)
  src/data/games/TheOldPrince1871.json
  src/locales/en.json
Due: validate, prettier, test

chore: updating some 1871 data. Closes #687
  src/data/games/TheOldPrince1871.json
Due: validate, prettier, test

chore: updating some 1871 data (#704)
  src/data/games/TheOldPrince1871.json
Due: validate, prettier, test

chore(release): v1.0.0-beta.119
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: prettier, test

chore(release): v1.0.0-beta.119 (#703)
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: prettier, test

chore: removed prototype
  src/data/games/TheOldPrince1871.json
Due: validate, prettier, test

chore: added pnpm approved builds
  package.json
Due: prettier, test

chore: removed prototype (#705)
  package.json
  src/data/games/TheOldPrince1871.json
Due: validate, prettier, test

chore(release): v1.0.0-beta.120
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: prettier, test

chore(release): v1.0.0-beta.120 (#706)
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: prettier, test

chore: update to node 24
  .github/workflows/app.yml
  .github/workflows/test.yml
  .node-version
  docker/Dockerfile.develop
  docker/Dockerfile.site
  pnpm-workspace.yaml
Due: prettier

fix: pnpm onlyBuiltDependencies settings
  docker/Dockerfile.develop
  docker/Dockerfile.site
  package.json
  pnpm-workspace.yaml
Due: prettier, test

chore: update to node 24 (#707)
  .github/workflows/app.yml
  .github/workflows/test.yml
  .node-version
  docker/Dockerfile.develop
  docker/Dockerfile.site
  package.json
  pnpm-workspace.yaml
Due: prettier, test

chore(release): v1.0.0-beta.121
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: prettier, test

chore(release): v1.0.0-beta.121 (#708)
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: prettier, test

test: run integration tests in browser mode
  .github/workflows/test.yml
  vitest.config.js
  vitest.workspace.js
Due: prettier, eslint, test

test: address browser mode review feedback
  .github/workflows/test.yml
  DEVELOPMENT.md
  package.json
  pnpm-lock.yaml
  src/components/pages/games/b18/Map.jsx
  src/components/pages/games/b18/Tiles.jsx
  src/components/pages/games/b18/Tokens.jsx
  tests/game.b18.test.jsx
Due: prettier, eslint, test

test: run integration tests in browser mode (#713)
  .github/workflows/test.yml
  DEVELOPMENT.md
  package.json
  pnpm-lock.yaml
  src/components/pages/games/b18/Map.jsx
  src/components/pages/games/b18/Tiles.jsx
  src/components/pages/games/b18/Tokens.jsx
  tests/game.b18.test.jsx
  vitest.config.js
  vitest.workspace.js
Due: prettier, eslint, test

test: smoke test every game and route
  src/components/map/MapPaginated.jsx
  src/components/map/MapSingle.jsx
  src/components/market/MarketPaginated.jsx
  src/components/market/MarketSingle.jsx
  src/components/market/ParPaginated.jsx
  src/components/market/ParSingle.jsx
  src/components/pages/App.jsx
  src/components/pages/Docs.jsx
  src/components/pages/games/Charter.jsx
  src/components/pages/games/Charters.jsx
  src/components/pages/games/Tile.jsx
  src/components/pages/games/TileManifest.jsx
  src/components/pages/games/Tiles.jsx
  src/components/pages/games/Tokens.jsx
  tests/bindings.1.test.jsx
  tests/game.b18.test.jsx
  tests/game.markets.test.jsx
  tests/game.parts.test.jsx
  tests/game.single.test.jsx
  tests/helpers.jsx
  tests/routes.app.test.jsx
  tests/routes.js
  tests/routes.test.jsx
  tests/setup.js
Due: prettier, eslint, test

test: address smoke test review feedback
  src/components/pages/games/Game.jsx
  src/components/pages/games/b18/Map.jsx
  tests/console.js
  tests/game.b18.1.test.jsx
  tests/game.b18.2.test.jsx
  tests/game.b18.test.jsx
  tests/game.navigation.test.jsx
  tests/game.parts.1.test.jsx
  tests/game.parts.2.test.jsx
  tests/game.parts.3.test.jsx
  tests/game.parts.4.test.jsx
  tests/game.parts.test.jsx
  tests/game.redirects.test.jsx
  tests/helpers.jsx
  tests/routes.js
  tests/routes.test.jsx
  tests/setup.js
  tests/smoke.js
Due: prettier, eslint, test

test: smoke test every game and route (#716)
  src/components/map/MapPaginated.jsx
  src/components/map/MapSingle.jsx
  src/components/market/MarketPaginated.jsx
  src/components/market/MarketSingle.jsx
  src/components/market/ParPaginated.jsx
  src/components/market/ParSingle.jsx
  src/components/pages/App.jsx
  src/components/pages/Docs.jsx
  src/components/pages/games/Charter.jsx
  src/components/pages/games/Charters.jsx
  src/components/pages/games/Game.jsx
  src/components/pages/games/Tile.jsx
  src/components/pages/games/TileManifest.jsx
  src/components/pages/games/Tiles.jsx
  src/components/pages/games/Tokens.jsx
  src/components/pages/games/b18/Map.jsx
  tests/bindings.1.test.jsx
  tests/console.js
  tests/game.b18.1.test.jsx
  tests/game.b18.2.test.jsx
  tests/game.b18.test.jsx
  tests/game.markets.test.jsx
  tests/game.navigation.test.jsx
  tests/game.parts.1.test.jsx
  tests/game.parts.2.test.jsx
  tests/game.parts.3.test.jsx
  tests/game.parts.4.test.jsx
  tests/game.parts.test.jsx
  tests/game.redirects.test.jsx
  tests/helpers.jsx
  tests/routes.app.test.jsx
  tests/routes.js
  tests/routes.test.jsx
  tests/setup.js
  tests/smoke.js
Due: prettier, eslint, test

test: address snapshot review feedback
  DEVELOPMENT.md
  src/components/atoms/CenterTown.stories.js
  src/components/atoms/City.stories.js
  src/components/atoms/Town.stories.js
  src/components/atoms/Track.stories.js
  src/components/pages/games/Tokens.jsx
  src/util/cards.test.js
  src/util/companies.js
  src/util/companies.test.js
  src/util/map.test.js
  src/util/market.test.js
  src/util/tilesheet.test.js
  tests/__snapshots__/1858/background.html
  tests/__snapshots__/1867/background.html
  tests/__snapshots__/1889/background.html
  tests/__snapshots__/18Test/background.html
  tests/snapshots.test.jsx
  tests/stories.test.jsx
  vitest.workspace.js
Due: prettier, eslint, test

fix(market): use extraTotalWidth when sizing total width
  src/util/market.js
  src/util/market.test.js
Due: prettier, eslint, test

test: pin the state layer with reducer, thunk, root and persistence tests
  src/state/errors.js
  src/state/persist.test.js
  src/state/reducers.test.js
  src/state/root.test.js
  src/state/thunks.test.js
  tests/bindings.3.test.jsx
  tests/chrome.config.test.jsx
  tests/chrome.load.test.jsx
  tests/chrome.nav.test.jsx
  tests/helpers.jsx
  vitest.config.js
Due: prettier, eslint, test

test: address state and chrome review feedback
  DEVELOPMENT.md
  src/components/config/UnitInput.jsx
  src/components/nav/GameNav.jsx
  src/components/nav/MobileMenuButton.jsx
  src/components/pages/load/GameRow.jsx
  src/state/game.js
  src/state/persist.test.js
  src/state/reducers.test.js
  src/state/root.test.js
  src/state/storage.test.js
  src/state/store.js
  src/state/summaries.js
  src/state/thunks.test.js
  src/util/loading.js
  tests/bindings.3.test.jsx
  tests/chrome.config.test.jsx
  tests/chrome.load.test.jsx
  tests/chrome.nav.test.jsx
Due: prettier, eslint, test

test: pin the state layer and chrome behavior (#718)
  DEVELOPMENT.md
  src/components/config/UnitInput.jsx
  src/components/nav/GameNav.jsx
  src/components/nav/MobileMenuButton.jsx
  src/components/pages/load/GameRow.jsx
  src/state/errors.js
  src/state/game.js
  src/state/persist.test.js
  src/state/reducers.test.js
  src/state/root.test.js
  src/state/storage.test.js
  src/state/store.js
  src/state/summaries.js
  src/state/thunks.test.js
  src/util/loading.js
  tests/bindings.3.test.jsx
  tests/chrome.config.test.jsx
  tests/chrome.load.test.jsx
  tests/chrome.nav.test.jsx
  tests/helpers.jsx
  vitest.config.js
Due: prettier, eslint, test

test: add end to end tests on the built site
  .github/workflows/test.yml
  .prettierignore
  DEVELOPMENT.md
  e2e/a11y.spec.js
  e2e/config.spec.js
  e2e/fixtures/e2e-game.json
  e2e/games.spec.js
  e2e/load.spec.js
  e2e/package.json
  e2e/print.spec.js
  eslint.config.js
  lefthook.yml
  package.json
  playwright.config.cjs
  pnpm-lock.yaml
Due: validate, prettier, eslint, test

test: address e2e review feedback
  DEVELOPMENT.md
  e2e/a11y.spec.js
  e2e/config.spec.js
  e2e/games.spec.js
  e2e/load.spec.js
  src/components/pages/games/Charters.jsx
  tests/__snapshots__/1858/charters.html
  tests/__snapshots__/1867/charters.html
  tests/__snapshots__/1889/charters.html
  tests/__snapshots__/18Test/charters.html
Due: prettier, eslint, test

test: end-to-end specs on the built site (#719)
  .github/workflows/test.yml
  .prettierignore
  DEVELOPMENT.md
  e2e/a11y.spec.js
  e2e/config.spec.js
  e2e/fixtures/e2e-game.json
  e2e/games.spec.js
  e2e/load.spec.js
  e2e/package.json
  e2e/print.spec.js
  eslint.config.js
  lefthook.yml
  package.json
  playwright.config.cjs
  pnpm-lock.yaml
  src/components/pages/games/Charters.jsx
  tests/__snapshots__/1858/charters.html
  tests/__snapshots__/1867/charters.html
  tests/__snapshots__/1889/charters.html
  tests/__snapshots__/18Test/charters.html
Due: validate, prettier, eslint, test

test(e2e): stop vite preview from opening a browser
  playwright.config.cjs
Due: prettier, eslint, test

test(e2e): stop vite preview from opening a browser (#720)
  playwright.config.cjs
Due: prettier, eslint, test

chore: declare node 24 as the baseline
  .nvmrc
  package.json
Due: prettier, test

Path conditions:
  schemas: any of: {public,src}/schemas/*.json
  validate: any of: *.json, but not: package.json, release-please-config.json, .release-please-manifest.json, public/*, src/locales/*, src/schemas/*
  svgo: any of: *.svg
  prettier: any of: *.{css,js,mjs,cjs,jsx,json,yml,yaml,md}
  eslint: any of: *.{js,mjs,cjs,jsx}
  stylelint: any of: *.css
  test: any of: *.{js,mjs,cjs,jsx,json}
