Repository 18xx-maker/18xx-maker: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint, stylelint

lefthook.yml:

commit-msg:
  commands:
    commitlint:
      run: yarn -s commitlint --edit

pre-commit:
  parallel: true
  commands:
    prettier:
      glob: "*.{css,scss,js,mjs,cjs,jsx,json,yml,yaml}"
      run: yarn -s prettier --write {staged_files}
      stage_fixed: true
    eslint:
      glob: "*.{js,mjs,cjs,jsx}"
      run: yarn -s eslint --fix {staged_files}
      stage_fixed: true
    stylelint:
      glob: "*.{css,scss}"
      run: yarn -s stylelint --fix {staged_files}
      stage_fixed: true

fix: better Makefile clean
  Makefile
Due: none

chore: adding make and svgo to lefthook
  lefthook.yml
Due: prettier

chore: adding tests to lefthook
  lefthook.yml
Due: prettier

fix: suggested lefthook commitlint config
  lefthook.yml
Due: prettier

fix: remove wait-on
  package.json
  yarn.lock
Due: prettier

fix: stylelint on windows
  package.json
Due: prettier

v1.0.0-beta.71
  package.json
Due: prettier

chore: changing to universal mac build
  package.json
Due: prettier

chore: much better schema handling
  Makefile
  bin/compileSchemas.cjs
  lefthook.yml
  package.json
  public/schemas/companies.schema.json
  public/schemas/config.schema.json
  public/schemas/game.schema.json
  public/schemas/publishers.schema.json
  public/schemas/theme.schema.json
  public/schemas/tiles.defs.json
  public/schemas/tiles.schema.json
  src/schemas/companies.schema.json
  src/schemas/config.schema.json
  src/schemas/game.schema.json
  src/schemas/index.cjs
  src/schemas/publishers.schema.json
  src/schemas/theme.schema.json
  src/schemas/tiles.defs.json
  src/schemas/tiles.schema.json
  src/schemas/tiles.src.json
Due: prettier, eslint

fix: improving electron/notarize.js
  electron/notarize.js
Due: prettier, eslint

chore: yarn settings and cleanup
  .yarnrc
  package.json
Due: prettier

fix: proper selection of changes to run validate on
  lefthook.yml
Due: prettier

chore: improve notarize script, schema handling and universal mac build (#522)
  .yarnrc
  Makefile
  bin/compileSchemas.cjs
  electron/notarize.js
  lefthook.yml
  package.json
  public/schemas/companies.schema.json
  public/schemas/config.schema.json
  public/schemas/game.schema.json
  public/schemas/publishers.schema.json
  public/schemas/theme.schema.json
  public/schemas/tiles.defs.json
  public/schemas/tiles.schema.json
  src/schemas/companies.schema.json
  src/schemas/config.schema.json
  src/schemas/game.schema.json
  src/schemas/index.cjs
  src/schemas/publishers.schema.json
  src/schemas/theme.schema.json
  src/schemas/tiles.defs.json
  src/schemas/tiles.schema.json
  src/schemas/tiles.src.json
Due: prettier, eslint

chore(release): v1.0.0-beta.72
  package.json
Due: prettier

chore: commitlint on github actions too
  .github/workflows/pr.yml
Due: prettier

fix: notarize vars
  .github/workflows/app.yml
Due: prettier

chore: commitlint on github actions too (#523)
  .github/workflows/app.yml
  .github/workflows/pr.yml
Due: prettier

chore(release): v1.0.0-beta.73
  package.json
Due: prettier

chore: fix body and name of releases
  .github/workflows/app.yml
Due: prettier

chore: cleaning up notarize.js
  electron/notarize.js
Due: prettier, eslint

chore: adding in mac zip target
  package.json
Due: prettier

chore(release): v1.0.0-beta.74
  package.json
Due: prettier

chore: add in postcss plugins
  electron.vite.config.js
  package.json
  vite.config.js
  yarn.lock
Due: prettier, eslint

chore: remove Players.jsx and clean MapPaginated.css
  src/Players.jsx
  src/Players.scss
  src/games/MapPaginated.css
  src/games/MapPaginated.jsx
Due: prettier, eslint, stylelint

chore: remove font awesome
  index.html
  public/fa/all.min.css
  src/Movement.jsx
Due: prettier, eslint, stylelint

chore: remove ipo config
  lefthook.yml
  public/schemas/config.schema.json
  public/schemas/game.schema.json
  src/IPO.jsx
  src/IPO.scss
  src/config/Config.jsx
  src/data/games/1861.json
  src/data/games/1867.json
  src/data/games/1871BC.json
  src/data/games/1883ExpressdOrient.json
  src/data/games/1888.json
  src/data/games/1889.json
  src/data/games/18EB.json
  src/data/games/18LA.json
  src/data/games/18NC.json
  src/data/games/18TE.json
  src/data/games/18Test.json
  src/data/games/18TraXX2020.json
  src/data/games/21Moon.json
  src/data/games/TheOldPrince1871.json
  src/defaults.json
  src/schemas/config.schema.json
  src/schemas/game.schema.json
Due: prettier, eslint, stylelint

chore: removed the rest of scss
  electron.vite.config.js
  lefthook.yml
  package.json
  src/cards/Number.jsx
  src/cards/Private.jsx
  src/cards/Share.jsx
  src/cards/Train.jsx
  src/cards/card.css
  src/cards/index.jsx
  src/cards/number.css
  src/cards/private.css
  src/cards/share.css
  src/cards/train.css
  src/docs/docs.css
  src/pages/games/Card.jsx
  src/pages/games/Tiles.css
  src/pages/games/Tiles.jsx
  src/pages/games/Token.jsx
  src/pages/games/b18/Tiles.jsx
  src/pages/games/b18/Tokens.jsx
  src/pages/games/b18/b18.css
  vite.config.js
  yarn.lock
Due: prettier, eslint, stylelint

chore: putting manifest.json back
  public/logo.png
  public/manifest.json
Due: prettier

chore: putting manifest.json back (#525)
  public/logo.png
  public/manifest.json
Due: prettier

docs: better readme shields
  README.md
Due: none

docs: better license badge
  README.md
Due: none

docs: better license badge color
  README.md
Due: none

fix: formatting of README.md
  README.md
  lefthook.yml
Due: prettier

fix: create proper capture windows
  electron/main/index.js
Due: prettier, eslint

chore(release): v1.0.0-beta.75
  package.json
Due: prettier

fix: side menu logic
  src/hooks/useSideMenu.js
Due: prettier, eslint

fix: company tokens propEq fix
  src/cards/Private.jsx
  src/tokens/GameCompanyToken.jsx
Due: prettier, eslint

chore(release): v1.0.0-beta.76
  package.json
Due: prettier
