Repository 18xx-maker/18xx-maker: changes, and which lefthook commands are due for each by the changed paths.
All: schemas, validate, svgo, prettier, eslint, stylelint, test

schemas:
  run: make && yarn validate
  stage_fixed: true
  priority: 10

validate:
  run: node ./bin/schemas.cjs {staged_files}
  priority: 40

svgo:
  run: yarn svgo -f {staged_files}
  stage_fixed: true
  priority: 40

prettier:
  run: yarn prettier --write {staged_files}
  stage_fixed: true
  priority: 20

eslint:
  run: yarn eslint --fix {staged_files}
  stage_fixed: true
  priority: 30

stylelint:
  run: yarn stylelint --fix {staged_files}
  stage_fixed: true
  priority: 30

test:
  run: yarn vitest related --run {staged_files}
  priority: 50

chore: add readme update to docker pushes
  .github/workflows/docker.yml
  README.md
Due: prettier

chore: updating readme information
  README.md
Due: none

fix: electron builder assets
  Dockerfile.develop
  package.json
  src/pages/docs/developing.en.md
Due: prettier, test

chore(release): v1.0.0-beta.85
  package.json
Due: prettier, test

fix: vars in docker context
  .github/workflows/docker.yml
Due: prettier

chore(release): v1.0.0-beta.86
  package.json
Due: prettier, test

chore: rename workflows
  .github/workflows/app.yml
  .github/workflows/push.yml
Due: prettier

fix: readme update
  .github/workflows/docker.yml
Due: prettier

fix: update to newer publish release action
  .github/workflows/app.yml
Due: prettier

chore(release): v1.0.0-beta.87
  package.json
Due: prettier, test

chore: add release goal to Makefile
  Makefile
Due: none

fix: readme update
  .github/workflows/docker.yml
  README.md
Due: prettier

chore(release): v1.0.0-beta.88
  package.json
Due: prettier, test

feat: move to playwright
  .gitignore
  Dockerfile
  Dockerfile.develop
  Makefile
  bin/b18.js
  bin/print.js
  package.json
  src/pages/docs/developing.en.md
  yarn.lock
Due: prettier, eslint, test

chore: moving docker related things to docker/
  .dockerignore
  .github/workflows/docker.yml
  Makefile
  dev-app-update.yml
  docker/Dockerfile
  docker/Dockerfile.develop
  docker/default.conf
  electron/main/index.js
  eslint.config.js
  package.json
Due: prettier, eslint, test

feat: move to playwright and docker improvements (#544)
  .dockerignore
  .github/workflows/docker.yml
  .gitignore
  Dockerfile
  Dockerfile.develop
  Makefile
  bin/b18.js
  bin/print.js
  dev-app-update.yml
  docker/Dockerfile
  docker/Dockerfile.develop
  docker/default.conf
  electron/main/index.js
  eslint.config.js
  package.json
  src/pages/docs/developing.en.md
  yarn.lock
Due: prettier, eslint, test

feat: adding code highlighting to all relevant places
  package.json
  src/SyntaxHighlighter.js
  src/config/Config.jsx
  src/pages/Docs.jsx
  src/pages/docs/developing.en.md
  src/pages/docs/games/logos.en.md
  src/pages/docs/games/positioning.en.md
  src/pages/docs/games/schemas.en.md
  src/pages/docs/output/b18.en.md
  src/pages/docs/output/pdf.en.md
  src/pages/elements/Atoms.jsx
  yarn.lock
Due: prettier, eslint, test

feat: adding code highlighting to all relevant places (#545)
  package.json
  src/SyntaxHighlighter.js
  src/config/Config.jsx
  src/pages/Docs.jsx
  src/pages/docs/developing.en.md
  src/pages/docs/games/logos.en.md
  src/pages/docs/games/positioning.en.md
  src/pages/docs/games/schemas.en.md
  src/pages/docs/output/b18.en.md
  src/pages/docs/output/pdf.en.md
  src/pages/elements/Atoms.jsx
  yarn.lock
Due: prettier, eslint, test

chore: multi-platform docker images
  .github/workflows/docker.yml
Due: prettier

fix: adding venmo link
  src/locales/en.json
  src/pages/Home.jsx
Due: prettier, eslint, test

fix: adding venmo link (#546)
  src/locales/en.json
  src/pages/Home.jsx
Due: prettier, eslint, test

chore: fix up the developing page links
  src/pages/Docs.jsx
  src/pages/docs/developing.en.md
Due: prettier, eslint, test

chore: upgrade to react-router 7
  package.json
  src/Root.jsx
  src/ScrollToTop.jsx
  src/Viewport.jsx
  src/config/ConfigDrawer.jsx
  src/games/MapPaginated.jsx
  src/games/MapSingle.jsx
  src/hooks/bindings.js
  src/hooks/config.js
  src/index.jsx
  src/market/MarketPaginated.jsx
  src/market/MarketSingle.jsx
  src/market/ParPaginated.jsx
  src/market/ParSingle.jsx
  src/nav/AppNav.jsx
  src/nav/DocsNav.jsx
  src/nav/ElementsNav.jsx
  src/nav/GameNav.jsx
  src/pages/Docs.jsx
  src/pages/Elements.jsx
  src/pages/Tile.jsx
  src/pages/elements/Cheat.jsx
  src/pages/games/Card.jsx
  src/pages/games/Charter.jsx
  src/pages/games/Charters.jsx
  src/pages/games/Game.jsx
  src/pages/games/Tile.jsx
  src/pages/games/TileManifest.jsx
  src/pages/games/Tiles.jsx
  src/pages/games/Token.jsx
  src/pages/games/Tokens.jsx
  src/pages/games/b18/Tiles.jsx
  src/pages/load/GameRow.jsx
  src/pages/load/LoadGames.jsx
  src/routes.jsx
  src/util/query.js
  tests/helpers.jsx
  yarn.lock
Due: prettier, eslint, test

chore: remove react-router future flags
  src/index.jsx
  src/routes.jsx
  tests/helpers.jsx
Due: prettier, eslint, test

fix: apply fix from react-router team
  tests/helpers.jsx
Due: prettier, eslint, test

chore: fix up the developing page links (#547)
  src/pages/Docs.jsx
  src/pages/docs/developing.en.md
Due: prettier, eslint, test

chore: add playwright link to readme
  README.md
Due: none

chore: add playwright link to readme (#549)
  README.md
Due: none

fix: storybook build
  .storybook/preview.jsx
Due: prettier, eslint, test

feat: upgrade to react-router 7 (#548)
  .storybook/preview.jsx
  package.json
  src/Root.jsx
  src/ScrollToTop.jsx
  src/Viewport.jsx
  src/config/ConfigDrawer.jsx
  src/games/MapPaginated.jsx
  src/games/MapSingle.jsx
  src/hooks/bindings.js
  src/hooks/config.js
  src/index.jsx
  src/market/MarketPaginated.jsx
  src/market/MarketSingle.jsx
  src/market/ParPaginated.jsx
  src/market/ParSingle.jsx
  src/nav/AppNav.jsx
  src/nav/DocsNav.jsx
  src/nav/ElementsNav.jsx
  src/nav/GameNav.jsx
  src/pages/Docs.jsx
  src/pages/Elements.jsx
  src/pages/Tile.jsx
  src/pages/elements/Cheat.jsx
  src/pages/games/Card.jsx
  src/pages/games/Charter.jsx
  src/pages/games/Charters.jsx
  src/pages/games/Game.jsx
  src/pages/games/Tile.jsx
  src/pages/games/TileManifest.jsx
  src/pages/games/Tiles.jsx
  src/pages/games/Token.jsx
  src/pages/games/Tokens.jsx
  src/pages/games/b18/Tiles.jsx
  src/pages/load/GameRow.jsx
  src/pages/load/LoadGames.jsx
  src/routes.jsx
  src/util/query.js
  tests/helpers.jsx
  yarn.lock
Due: prettier, eslint, test

chore: better docker readme
  .github/workflows/docker-description.yml
  .github/workflows/docker.yml
  docker/README.md
Due: prettier

chore: better docker readme (#550)
  .github/workflows/docker-description.yml
  .github/workflows/docker.yml
  docker/README.md
Due: prettier

chore: slightly improve current releases
  .github/workflows/app.yml
Due: prettier

chore: improved dockerhub readme
  docker/README.md
Due: none

chore: adding release please
  .github/workflows/release.yml
Due: prettier

chore: remove release target in Makefile
  Makefile
Due: none

chore: improve releases (#551)
  .github/workflows/app.yml
  .github/workflows/release.yml
  Makefile
  docker/README.md
Due: prettier

fix: add new paths to prettierignore
  .prettierignore
Due: none

fix: add new paths to prettierignore (#553)
  .prettierignore
Due: none

chore: bootstrap releases
  .github/workflows/release.yml
  .release-please-manifest.json
  lefthook.yml
  release-please-config.json
Due: validate, prettier, test

Path conditions:
  schemas: any of: {public,src}/schemas/*.json
  validate: any of: *.json, but not: package.json, public/*, src/locales/*, src/schemas/*
  svgo: any of: *.svg
  prettier: any of: *.{css,js,mjs,cjs,jsx,json,yml,yaml}
  eslint: any of: *.{js,mjs,cjs,jsx}
  stylelint: any of: *.css
  test: any of: *.{js,mjs,cjs,jsx,json}
