Repository 18xx-maker/18xx-maker: changes, and which lefthook commands are due for each by the changed paths.
All: schemas, validate, svgo, prettier, eslint, stylelint, test

lefthook.yml:

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit {1}

pre-commit:
  commands:
    schemas:
      run: make && pnpm validate:schemas
      glob: "{public,src}/schemas/*.json"
      stage_fixed: true
      priority: 10
    validate:
      glob: "*.json"
      exclude:
        - "package.json"
        - "release-please-config.json"
        - ".release-please-manifest.json"
        - "public/*"
        - "src/locales/*"
        - "src/schemas/*"
      run: node ./bin/maker.js validate {staged_files}
      priority: 40
    svgo:
      glob: "*.svg"
      run: pnpm exec svgo {staged_files}
      stage_fixed: true
      priority: 40
    prettier:
      glob: "*.{css,js,mjs,cjs,jsx,json,yml,yaml,md}"
      run: pnpm prettier --write {staged_files}
      stage_fixed: true
      priority: 20
    eslint:
      glob: "*.{js,mjs,cjs,jsx}"
      run: pnpm eslint --fix {staged_files}
      stage_fixed: true
      priority: 30
    stylelint:
      glob: "*.css"
      run: pnpm stylelint --fix {staged_files}
      stage_fixed: true
      priority: 30
    test:
      glob: "*.{js,mjs,cjs,jsx,json}"
      run: pnpm vitest related --coverage.enabled=false --reporter=basic --exclude "tests/**" --run {staged_files}
      priority: 50

feat(ui): filter games by publisher, designer and type on the games page (#803)
  src/components/pages/load/GameFilters.jsx
  src/components/pages/load/GameRow.jsx
  src/components/pages/load/LoadGames.jsx
  src/locales/de.json
  src/locales/en.json
  src/locales/zh.json
  tests/chrome.load.test.jsx
Due: prettier, eslint, test

fix(ui): left align doc pages (#807)
  src/components/pages/Docs.jsx
  tests/docs.layout.test.jsx
Due: prettier, eslint, test

fix(ui): left align the app information page (#808)
  src/components/pages/App.jsx
Due: prettier, eslint, test

ci: run linux jobs in parallel and shard the export tests
  .github/workflows/test.yml
  DEVELOPMENT.md
Due: prettier

ci: run linux jobs in parallel and shard the export tests (#810)
  .github/workflows/test.yml
  DEVELOPMENT.md
Due: prettier

fix(charters): give the name room above the token row and space the tokens
  src/components/Charter.jsx
  src/docs/games/types.de.md
  src/docs/games/types.en.md
  src/docs/games/types.zh.md
  src/styles/root.css
  tests/__snapshots__/18Test/charters.html
  tests/charter.loans.test.jsx
Due: prettier, eslint, stylelint, test

feat(charters): add a tokensBelow option to print many tokens under the company name
  public/schemas/game.schema.json
  src/cli/__fixtures__/legacy-cli.js
  src/cli/validate.test.js
  src/components/Charter.jsx
  src/data/games/18Test.json
  src/docs/games/types.de.md
  src/docs/games/types.en.md
  src/docs/games/types.zh.md
  src/schemas/game.schema.json
  src/styles/root.css
  tests/__snapshots__/18Test/charters.html
  tests/__snapshots__/18Test/tokens.html
  tests/charter.loans.test.jsx
Due: schemas, validate, prettier, eslint, stylelint, test

fix(charters): align the name with the logo when tokens print below
  src/styles/root.css
Due: prettier, stylelint

feat(charters): add a tokensBelow option to print many tokens under the company name (#809)
  public/schemas/game.schema.json
  src/cli/__fixtures__/legacy-cli.js
  src/cli/validate.test.js
  src/components/Charter.jsx
  src/data/games/18Test.json
  src/docs/games/types.de.md
  src/docs/games/types.en.md
  src/docs/games/types.zh.md
  src/schemas/game.schema.json
  src/styles/root.css
  tests/__snapshots__/18Test/charters.html
  tests/__snapshots__/18Test/tokens.html
  tests/charter.loans.test.jsx
Due: schemas, validate, prettier, eslint, stylelint, test

feat(charters): mark which token spaces a company starts with
  public/schemas/game.schema.json
  src/cli/validate.test.js
  src/components/Charter.jsx
  src/data/games/18Test.json
  src/docs/games/types.de.md
  src/docs/games/types.en.md
  src/docs/games/types.zh.md
  src/schemas/game.schema.json
  tests/__snapshots__/18Test/charters.html
  tests/coverage.charter.test.jsx
Due: schemas, validate, prettier, eslint, test

feat(charters): mark which token spaces a company starts with (#813)
  public/schemas/game.schema.json
  src/cli/validate.test.js
  src/components/Charter.jsx
  src/data/games/18Test.json
  src/docs/games/types.de.md
  src/docs/games/types.en.md
  src/docs/games/types.zh.md
  src/schemas/game.schema.json
  tests/__snapshots__/18Test/charters.html
  tests/coverage.charter.test.jsx
Due: schemas, validate, prettier, eslint, test

docs: require 18Test examples for every new feature
  CLAUDE.md
Due: prettier

docs: require 18Test examples for every new feature (#816)
  CLAUDE.md
Due: prettier

test(trains): add upgrade and tradeIn to the 18Test trains
  src/data/games/18Test.json
  tests/__snapshots__/18Test/cards.html
Due: validate, prettier, test

feat(trains): add upgrade and tradeIn values to trains
  public/schemas/game.schema.json
  src/cli/validate.test.js
  src/components/cards/Train.jsx
  src/components/cards/Train.stories.js
  src/docs/games/trains.de.md
  src/docs/games/trains.en.md
  src/docs/games/trains.zh.md
  src/schemas/game.schema.json
  src/styles/train.css
  tests/coverage.cards.test.jsx
Due: schemas, prettier, eslint, stylelint, test

fix(trains): keep upgrade and trade-in values on one line within the color bar
  src/components/cards/Train.jsx
  src/styles/train.css
  tests/__snapshots__/18Test/cards.html
Due: prettier, eslint, stylelint, test

feat(trains): add upgrade and tradeIn values to trains (#814)
  public/schemas/game.schema.json
  src/cli/validate.test.js
  src/components/cards/Train.jsx
  src/components/cards/Train.stories.js
  src/data/games/18Test.json
  src/docs/games/trains.de.md
  src/docs/games/trains.en.md
  src/docs/games/trains.zh.md
  src/schemas/game.schema.json
  src/styles/train.css
  tests/__snapshots__/18Test/cards.html
  tests/coverage.cards.test.jsx
Due: schemas, validate, prettier, eslint, stylelint, test

feat(schemas): describe stock, rounds, turns, pools, colors and tokens in the game schema
  public/schemas/game.schema.json
  public/schemas/tiles.defs.json
  src/cli/compile-schemas.js
  src/cli/compile-schemas.test.js
  src/cli/validate.test.js
  src/data/games/TheOldPrince1871.json
  src/schemas/game.schema.json
  src/schemas/tiles.defs.json
  src/schemas/tiles.src.json
Due: schemas, validate, prettier, eslint, test

fix(data): correct the capital of the third player in 18EB
  src/data/games/18EB.json
Due: validate, prettier, test

feat(schemas): tighten the game schema with the properties the print code reads
  public/schemas/companies.schema.json
  public/schemas/game.schema.json
  src/cli/validate.test.js
  src/schemas/companies.schema.json
  src/schemas/game.schema.json
Due: schemas, prettier, eslint, test

docs(schemas): drop the note that the game schema is incomplete
  src/docs/games/schemas.de.md
  src/docs/games/schemas.en.md
  src/docs/games/schemas.zh.md
Due: prettier

feat(cards): set the size of each type of card
  public/schemas/config.schema.json
  src/cli/validate.test.js
  src/components/Charter.jsx
  src/components/cards/index.jsx
  src/components/config/Input.jsx
  src/components/config/Items.jsx
  src/components/config/UnitInput.jsx
  src/components/config/index.js
  src/components/pages/games/Card.jsx
  src/docs/pnp/die.de.md
  src/docs/pnp/die.en.md
  src/docs/pnp/die.zh.md
  src/export/documents.js
  src/export/documents.test.js
  src/locales/de.json
  src/locales/en.json
  src/locales/zh.json
  src/schemas/config.schema.json
  src/util/cards.js
  src/util/cards.test.js
  src/util/sizes.js
  src/util/sizes.test.js
  tests/chrome.config.test.jsx
  tests/coverage.cards.test.jsx
Due: schemas, prettier, eslint, test

fix(schemas): keep phase events open and fix schema descriptions
  public/schemas/game.schema.json
  public/schemas/tiles.defs.json
  src/cli/validate.test.js
  src/schemas/game.schema.json
  src/schemas/tiles.defs.json
  src/schemas/tiles.src.json
Due: schemas, prettier, eslint, test

fix(cards): group equal sizes and flatten number cards when sizes differ
  public/schemas/config.schema.json
  src/components/cards/index.jsx
  src/components/config/UnitInput.jsx
  src/schemas/config.schema.json
  tests/coverage.cards.test.jsx
Due: schemas, prettier, eslint, test

test(cards): match the rounded size placeholder
  tests/chrome.config.test.jsx
Due: prettier, eslint, test

feat(cards): set the size of each type of card (#819)
  public/schemas/config.schema.json
  src/cli/validate.test.js
  src/components/Charter.jsx
  src/components/cards/index.jsx
  src/components/config/Input.jsx
  src/components/config/Items.jsx
  src/components/config/UnitInput.jsx
  src/components/config/index.js
  src/components/pages/games/Card.jsx
  src/docs/pnp/die.de.md
  src/docs/pnp/die.en.md
  src/docs/pnp/die.zh.md
  src/export/documents.js
  src/export/documents.test.js
  src/locales/de.json
  src/locales/en.json
  src/locales/zh.json
  src/schemas/config.schema.json
  src/util/cards.js
  src/util/cards.test.js
  src/util/sizes.js
  src/util/sizes.test.js
  tests/chrome.config.test.jsx
  tests/coverage.cards.test.jsx
Due: schemas, prettier, eslint, test

feat(schemas): fill in the missing items of the game schema (#818)
  public/schemas/companies.schema.json
  public/schemas/game.schema.json
  public/schemas/tiles.defs.json
  src/cli/compile-schemas.js
  src/cli/compile-schemas.test.js
  src/cli/validate.test.js
  src/data/games/18EB.json
  src/data/games/TheOldPrince1871.json
  src/docs/games/schemas.de.md
  src/docs/games/schemas.en.md
  src/docs/games/schemas.zh.md
  src/schemas/companies.schema.json
  src/schemas/game.schema.json
  src/schemas/tiles.defs.json
  src/schemas/tiles.src.json
Due: schemas, validate, prettier, eslint, test

fix(tokens): keep the label stroke on the second line
  src/components/tokens/Token.jsx
Due: prettier, eslint, test

feat(tokens): add a second line of text to tokens
  src/components/pages/elements/Atoms.jsx
  src/components/tokens/Token.jsx
  src/components/tokens/Token.stories.js
  src/data/games/18Test.json
  src/docs/pnp/tokens.de.md
  src/docs/pnp/tokens.en.md
  src/docs/pnp/tokens.zh.md
  tests/__snapshots__/18Test/cards.html
  tests/__snapshots__/18Test/charters.html
  tests/__snapshots__/18Test/tokens.html
  tests/coverage.tokens.test.jsx
Due: validate, prettier, eslint, test

fix(tokens): keep the label stroke on the second line
  tests/coverage.tokens.test.jsx
Due: prettier, eslint, test

fix(tokens): nudge two-line token text up for better padding
  src/components/tokens/Token.jsx
  tests/__snapshots__/18Test/cards.html
  tests/__snapshots__/18Test/charters.html
  tests/__snapshots__/18Test/tokens.html
Due: prettier, eslint, test

fix(tokens): make the second token line almost the size of the label
  src/components/tokens/Token.jsx
  tests/__snapshots__/18Test/cards.html
  tests/__snapshots__/18Test/charters.html
  tests/__snapshots__/18Test/tokens.html
Due: prettier, eslint, test

fix(tokens): tighten the second line below and loosen it above the label
  src/components/tokens/Token.jsx
  tests/__snapshots__/18Test/cards.html
  tests/__snapshots__/18Test/charters.html
  tests/__snapshots__/18Test/tokens.html
Due: prettier, eslint, test

fix(tokens): center two-line token text as a block with more line spacing
  src/components/tokens/Token.jsx
  tests/__snapshots__/18Test/cards.html
  tests/__snapshots__/18Test/charters.html
  tests/__snapshots__/18Test/tokens.html
Due: prettier, eslint, test

fix(tokens): lower the second line when it is above the label
  src/components/tokens/Token.jsx
  tests/__snapshots__/18Test/cards.html
  tests/__snapshots__/18Test/charters.html
  tests/__snapshots__/18Test/tokens.html
Due: prettier, eslint, test

fix(schema): allow label2 settings on company tokens
  public/schemas/tiles.defs.json
  src/cli/validate.test.js
  src/schemas/tiles.defs.json
  src/schemas/tiles.src.json
Due: schemas, prettier, eslint, test

feat(tokens): add a second line of text to tokens (#815)
  public/schemas/tiles.defs.json
  src/cli/validate.test.js
  src/components/pages/elements/Atoms.jsx
  src/components/tokens/Token.jsx
  src/components/tokens/Token.stories.js
  src/data/games/18Test.json
  src/docs/pnp/tokens.de.md
  src/docs/pnp/tokens.en.md
  src/docs/pnp/tokens.zh.md
  src/schemas/tiles.defs.json
  src/schemas/tiles.src.json
  tests/__snapshots__/18Test/cards.html
  tests/__snapshots__/18Test/charters.html
  tests/__snapshots__/18Test/tokens.html
  tests/coverage.tokens.test.jsx
Due: schemas, validate, prettier, eslint, test

feat(ui): export svg files from the export menu and options
  src/components/ExportButton.jsx
  src/components/ExportOptions.jsx
  src/locales/de.json
  src/locales/en.json
  src/locales/zh.json
  tests/coverage.electron.test.jsx
  tests/export.keys.test.jsx
  tests/export.options.test.jsx
Due: prettier, eslint, test

feat(export): capture svg files of maps, markets, tiles and tokens
  bin/maker.js
  electron/main/export.js
  public/schemas/game.schema.json
  src/cli/README.md
  src/cli/__fixtures__/browser.js
  src/cli/exportCommand.js
  src/cli/exportCommand.test.js
  src/cli/validate.test.js
  src/export/capture.js
  src/export/capture.test.js
  src/export/documents.js
  src/export/documents.test.js
  src/export/options.js
  src/export/options.test.js
  src/export/service.js
  src/export/service.test.js
  src/export/svg.js
  src/export/svg.test.js
  src/schemas/game.schema.json
  src/util/exportPlan.js
  src/util/exportPlan.test.js
  tests/export.svg.test.jsx
Due: schemas, prettier, eslint, test

test(e2e): export svg files from the cli and the app
  e2e/cli.spec.js
  e2e/electron.spec.js
  e2e/export-files.js
  e2e/export.spec.js
Due: prettier, eslint, test
