Repository 18xx-maker/18xx-maker: changes, and which lefthook commands are due for each by the changed paths.
All: schemas, validate, svgo, prettier, eslint, stylelint, test

schemas:
  run: make && pnpm validate:schemas
  stage_fixed: true
  priority: 10

validate:
  run: node ./bin/maker.js validate {staged_files}
  priority: 40

svgo:
  run: pnpm exec svgo {staged_files}
  stage_fixed: true
  priority: 40

prettier:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true
  priority: 20

eslint:
  run: pnpm eslint --fix {staged_files}
  stage_fixed: true
  priority: 30

stylelint:
  run: pnpm stylelint --fix {staged_files}
  stage_fixed: true
  priority: 30

test:
  run: pnpm vitest related --coverage.enabled=false --reporter=basic --exclude "tests/**" --run {staged_files}
  priority: 50

fix(app): keep capture windows out of recents and b18 images out of the document list
  src/components/pages/games/Game.jsx
  src/util/exportPlan.js
  src/util/exportPlan.test.js
  tests/export.options.test.jsx
  tests/render.recent.test.jsx
Due: prettier, eslint, test

fix(cli): print --all with its default game, --layouts current, and listen on localhost only
  src/cli/exportCommand.js
  src/cli/exportCommand.test.js
  src/cli/maker.test.js
  src/cli/print.js
  src/cli/util.js
  src/cli/util.test.js
Due: prettier, eslint, test

fix(security): only the main window exports, into the folder it chose, with a minimal capture preload
  electron/main/export.js
  electron/main/index.js
  electron/main/window.js
  electron/preload/api.js
  electron/preload/preload.js
  src/components/Root.jsx
  src/export/ipc.js
  src/export/ipc.test.js
  src/export/preload.test.js
  src/export/service.js
  src/export/service.test.js
  src/export/sink.js
  src/export/zip.js
  src/export/zip.test.js
  src/util/analytics.js
Due: prettier, eslint, test

feat(export): set every export option in the game file's exports field
  bin/maker.js
  public/schemas/game.schema.json
  src/cli/exportCommand.js
  src/cli/exportCommand.test.js
  src/cli/validate.test.js
  src/components/ExportButton.jsx
  src/components/ExportOptions.jsx
  src/data/games/18Test.json
  src/export/options.js
  src/export/options.test.js
  src/schemas/game.schema.json
  src/util/exportPlan.js
  src/util/exportPlan.test.js
  tests/export.exports.test.jsx
Due: schemas, validate, prettier, eslint, test

docs: the exports field of a game file and where its options win
  DEVELOPMENT.md
  src/cli/README.md
  src/components/nav/index.jsx
  src/docs/games/exports.en.md
  src/docs/games/schemas.en.md
  src/docs/index.en.md
  src/docs/output/b18.en.md
  src/docs/output/pdf.en.md
  src/docs/output/png.en.md
  src/locales/en.json
Due: prettier, eslint, test

feat(export): every exports field has a flag and a panel control, and the game file is their default
  DEVELOPMENT.md
  bin/maker.js
  e2e/cli.spec.js
  src/cli/README.md
  src/cli/exportCommand.js
  src/cli/exportCommand.test.js
  src/cli/maker.test.js
  src/components/ExportOptions.jsx
  src/docs/games/exports.en.md
  src/docs/output/b18.en.md
  src/docs/output/pdf.en.md
  src/docs/output/png.en.md
  src/export/options.js
  src/export/options.test.js
  src/locales/en.json
  src/util/exportPlan.js
  src/util/exportPlan.test.js
  tests/export.exports.test.jsx
  tests/export.variation.test.jsx
Due: prettier, eslint, test

docs: export conventions and working notes in CLAUDE.md
  CLAUDE.md
Due: prettier

test(cli): compare paths with forward slashes so Windows passes
  src/cli/b18.test.js
  src/cli/print.test.js
Due: prettier, eslint, test

test(cli): compare the zip path with forward slashes
  src/cli/b18.test.js
Due: prettier, eslint, test

ci: run the six real export paths on Linux, macOS and Windows
  .github/workflows/test.yml
  CLAUDE.md
  DEVELOPMENT.md
  e2e/electron.spec.js
  e2e/export-files.js
  e2e/export.spec.js
  package.json
  playwright.config.js
  playwright.export.config.js
Due: prettier, eslint, test

docs: update exporting from the app on the main docs page
  src/docs/index.en.md
Due: prettier

fix(charters): no blank charter after the majors in full width free layouts
  src/components/pages/games/Charters.jsx
  tests/__snapshots__/1867/charters.html
  tests/__snapshots__/1889/charters.html
  tests/coverage.pages.test.jsx
Due: prettier, eslint, test

fix(export): make the background of every PNG transparent
  e2e/cli.spec.js
  scripts/export-golden.mjs
  src/cli/b18.test.js
  src/cli/legacy.test.js
  src/docs/output/png.en.md
  src/export/b18.js
  src/export/b18.test.js
  src/export/capture.js
  src/export/capture.test.js
  src/export/documents.js
  src/export/documents.test.js
  src/export/page.test.js
Due: prettier, eslint, test

fix(export): round PNG capture size down so the clip stays inside the element
  src/export/capture.js
  src/export/capture.test.js
Due: prettier, eslint, test

feat(export): background option for png and b18 images
  DEVELOPMENT.md
  bin/maker.js
  e2e/cli.spec.js
  public/schemas/game.schema.json
  src/cli/README.md
  src/cli/b18.test.js
  src/cli/export.js
  src/cli/exportCommand.js
  src/cli/exportCommand.test.js
  src/cli/legacy.test.js
  src/components/ExportOptions.jsx
  src/docs/games/exports.en.md
  src/docs/output/b18.en.md
  src/docs/output/png.en.md
  src/export/b18.js
  src/export/b18.test.js
  src/export/capture.js
  src/export/capture.test.js
  src/export/documents.js
  src/export/documents.test.js
  src/export/options.js
  src/export/options.test.js
  src/export/page.js
  src/export/service.js
  src/export/service.test.js
  src/locales/en.json
  src/schemas/game.schema.json
  src/util/exportPlan.js
  src/util/exportPlan.test.js
  tests/export.options.test.jsx
Due: schemas, prettier, eslint, test

fix(export): only the pixels an element covers whole in a png
  CLAUDE.md
  e2e/cli.spec.js
  e2e/export-files.js
  e2e/export.spec.js
  electron/main/capture.js
  src/cli/__fixtures__/browser.js
  src/docs/output/png.en.md
  src/export/__fixtures__/png.js
  src/export/capture.js
  src/export/capture.test.js
  src/export/png.js
  src/export/png.test.js
Due: prettier, eslint, test

fix(export): board18 images do not take the background option
  DEVELOPMENT.md
  bin/maker.js
  e2e/cli.spec.js
  public/schemas/game.schema.json
  src/cli/README.md
  src/cli/b18.test.js
  src/components/ExportOptions.jsx
  src/docs/games/exports.en.md
  src/docs/output/b18.en.md
  src/docs/output/png.en.md
  src/export/capture.js
  src/export/capture.test.js
  src/locales/en.json
  src/schemas/game.schema.json
  src/util/exportPlan.js
  tests/export.options.test.jsx
Due: schemas, prettier, eslint, test

fix(export): capture the map, market and background at their print size
  e2e/export-files.js
  e2e/export.spec.js
  src/components/Editor.jsx
  src/export/capture.js
  src/export/capture.test.js
  tests/render.mode.test.jsx
Due: prettier, eslint, test

feat(export): background option only for map, market, par, revenue and tile manifest
  DEVELOPMENT.md
  bin/maker.js
  e2e/cli.spec.js
  e2e/export.spec.js
  public/schemas/game.schema.json
  src/cli/README.md
  src/cli/exportCommand.test.js
  src/cli/legacy.test.js
  src/docs/games/exports.en.md
  src/docs/output/png.en.md
  src/export/b18.js
  src/export/b18.test.js
  src/export/capture.js
  src/export/capture.test.js
  src/export/documents.js
  src/export/documents.test.js
  src/export/options.js
  src/export/options.test.js
  src/locales/en.json
  src/schemas/game.schema.json
  src/util/exportPlan.js
  src/util/exportPlan.test.js
  tests/coverage.electron.test.jsx
  tests/export.options.test.jsx
Due: schemas, prettier, eslint, test

test: wait for the game info page to render again after forgetting fails
  tests/chrome.load.test.jsx
Due: prettier, eslint, test

fix(export): capture images without scrollbars that take room
  e2e/export.spec.js
  src/export/capture.js
  src/export/capture.test.js
Due: prettier, eslint, test

refactor(app): remove export this component menu entries
  e2e/electron.spec.js
  src/components/ExportButton.jsx
  src/docs/index.en.md
  src/docs/output/pdf.en.md
  src/docs/output/png.en.md
  src/locales/en.json
  tests/coverage.electron.test.jsx
Due: prettier, eslint, test

Remove export this component menu entries (#740)
  e2e/electron.spec.js
  src/components/ExportButton.jsx
  src/docs/index.en.md
  src/docs/output/pdf.en.md
  src/docs/output/png.en.md
  src/locales/en.json
  tests/coverage.electron.test.jsx
Due: prettier, eslint, test

docs: document the full test run in CLAUDE.md
  CLAUDE.md
Due: prettier

docs: document the full test run in CLAUDE.md (#741)
  CLAUDE.md
Due: prettier

fix(export): render exports in the light theme so system dark mode does not paint pngs dark
  src/context/ThemeProvider.jsx
Due: prettier, eslint, test

Render exports in the light theme (#742)
  src/context/ThemeProvider.jsx
Due: prettier, eslint, test

docs: add conventional commit rules to CLAUDE.md
  CLAUDE.md
Due: prettier

docs: add conventional commit rules to CLAUDE.md (#744)
  CLAUDE.md
Due: prettier

feat(docs): heading anchors with a link on hover
  src/components/Markdown.jsx
  src/components/ScrollToTop.jsx
  src/components/pages/Docs.jsx
  src/util/headingIds.js
  src/util/headingIds.test.js
  tests/docs.anchors.test.jsx
Due: prettier, eslint, test

feat(docs): centered 800px article
  src/components/Markdown.jsx
  src/components/pages/Docs.jsx
  tests/docs.layout.test.jsx
Due: prettier, eslint, test

feat(docs): on this page column
  src/components/DocsToc.jsx
  src/components/Markdown.jsx
  src/components/pages/Docs.jsx
  src/locales/en.json
  tests/docs.layout.test.jsx
  tests/docs.toc.test.jsx
Due: prettier, eslint, test

feat(docs): previous and next links
  src/components/DocsPager.jsx
  src/components/nav/index.jsx
  src/components/pages/Docs.jsx
  src/locales/en.json
  tests/docs.pager.test.jsx
Due: prettier, eslint, test

feat(docs): labeled docs sidebar groups
  src/components/nav/index.jsx
  src/locales/en.json
  tests/docs.sidebar.test.jsx
Due: prettier, eslint, test

Docs layout: anchors, TOC, grouped sidebar, previous/next (#746)
  src/components/DocsPager.jsx
  src/components/DocsToc.jsx
  src/components/Markdown.jsx
  src/components/ScrollToTop.jsx
  src/components/nav/index.jsx
  src/components/pages/Docs.jsx
  src/locales/en.json
  src/util/headingIds.js
  src/util/headingIds.test.js
  tests/docs.anchors.test.jsx
  tests/docs.layout.test.jsx
  tests/docs.pager.test.jsx
  tests/docs.sidebar.test.jsx
  tests/docs.toc.test.jsx
Due: prettier, eslint, test

ci: deploy netlify sites from release workflow
  .github/workflows/release.yml
Due: prettier

fix(editor): stop the map editor view jumping when clicking quickly
  src/components/SvgEditor.jsx
  src/components/SvgEditor.test.jsx
Due: prettier, eslint, test

ci: deploy netlify sites from release workflow (#747)
  .github/workflows/release.yml
Due: prettier

test(export): expect the border in the map and market png sizes
  e2e/cli.spec.js
  e2e/electron.spec.js
  e2e/export-files.js
Due: prettier, eslint, test

Path conditions:
  schemas: any of: {public,src}/schemas/*.json
  validate: any of: *.json, but not: package.json, release-please-config.json, .release-please-manifest.json, public/*, src/locales/*, src/schemas/*
  svgo: any of: *.svg
  prettier: any of: *.{css,js,mjs,cjs,jsx,json,yml,yaml,md}
  eslint: any of: *.{js,mjs,cjs,jsx}
  stylelint: any of: *.css
  test: any of: *.{js,mjs,cjs,jsx,json}
