Repository 18xx-maker/18xx-maker: changes, and which lefthook commands are due for each by the changed paths.
All: schemas, validate, svgo, prettier, eslint, stylelint, test

schemas:
  run: make && pnpm validate:schemas
  stage_fixed: true
  priority: 10

validate:
  run: node ./bin/maker.js validate {staged_files}
  priority: 40

svgo:
  run: pnpm exec svgo {staged_files}
  stage_fixed: true
  priority: 40

prettier:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true
  priority: 20

eslint:
  run: pnpm eslint --fix {staged_files}
  stage_fixed: true
  priority: 30

stylelint:
  run: pnpm stylelint --fix {staged_files}
  stage_fixed: true
  priority: 30

test:
  run: pnpm vitest related --coverage.enabled=false --reporter=basic --exclude "tests/**" --run {staged_files}
  priority: 50

feat(data): add 18xx maker publisher
  src/data/games/18Broken.json
  src/data/games/18Test.json
  src/data/publishers/18xx-maker.png
  src/data/publishers/index.json
  tests/game/publisher.test.jsx
Due: validate, prettier, eslint, test

refactor(ui): share the number field with the config panel
  src/components/config/Input.jsx
  src/components/form/NumberField.jsx
  src/components/form/NumberField.test.jsx
  src/components/ui/textarea.jsx
Due: prettier, eslint, test

feat(ui): add an edit panel for the game info
  DEVELOPMENT.md
  e2e/a11y.spec.js
  e2e/games.spec.js
  src/components/Toolbar.jsx
  src/components/editPanel/EditPanel.jsx
  src/components/page/Viewport.jsx
  src/components/pages/games/ProblemsPage.jsx
  src/components/schemaForm/GameInfoForm.jsx
  src/components/schemaForm/SchemaField.jsx
  src/components/schemaForm/issueText.js
  src/components/schemaForm/resolve.js
  src/components/schemaForm/resolve.test.js
  src/docs/files.de.md
  src/docs/files.en.md
  src/docs/files.zh.md
  src/hooks/bindings.js
  src/hooks/index.js
  src/hooks/useEditPanel.js
  src/locales/de.json
  src/locales/en.json
  src/locales/zh.json
  src/util/query.js
  tests/bindings/2.test.jsx
  tests/game/edit-panel.test.jsx
Due: prettier, eslint, test

fix(data): keep the publisher logo aspect ratio
  src/components/pages/games/InfoPage.jsx
  src/data/publishers/18xx-maker.png
Due: prettier, eslint, test

fix(ui): keep the value of a number field closed with a bad input
  src/components/form/NumberField.jsx
  src/components/form/NumberField.test.jsx
  src/components/schemaForm/SchemaField.jsx
  src/locales/de.json
  src/locales/zh.json
  src/state/game.js
  src/state/gameEdits.test.js
  tests/game/edit-panel.test.jsx
Due: prettier, eslint, test

fix(ui): keep publisher logo aspect ratio on the load games page
  src/components/pages/load/GameRow.jsx
Due: prettier, eslint, test

feat(ui): add an edit panel for the game info (#908)
  DEVELOPMENT.md
  e2e/a11y.spec.js
  e2e/games.spec.js
  src/components/Toolbar.jsx
  src/components/config/Input.jsx
  src/components/editPanel/EditPanel.jsx
  src/components/form/NumberField.jsx
  src/components/form/NumberField.test.jsx
  src/components/page/Viewport.jsx
  src/components/pages/games/ProblemsPage.jsx
  src/components/schemaForm/GameInfoForm.jsx
  src/components/schemaForm/SchemaField.jsx
  src/components/schemaForm/issueText.js
  src/components/schemaForm/resolve.js
  src/components/schemaForm/resolve.test.js
  src/components/ui/textarea.jsx
  src/docs/files.de.md
  src/docs/files.en.md
  src/docs/files.zh.md
  src/hooks/bindings.js
  src/hooks/index.js
  src/hooks/useEditPanel.js
  src/locales/de.json
  src/locales/en.json
  src/locales/zh.json
  src/state/game.js
  src/state/gameEdits.test.js
  src/util/query.js
  tests/bindings/2.test.jsx
  tests/game/edit-panel.test.jsx
Due: prettier, eslint, test

feat(data): add 18xx maker publisher (#907)
  src/components/pages/games/InfoPage.jsx
  src/components/pages/load/GameRow.jsx
  src/data/games/18Broken.json
  src/data/games/18Test.json
  src/data/publishers/18xx-maker.png
  src/data/publishers/index.json
  tests/game/publisher.test.jsx
Due: validate, prettier, eslint, test

feat(schema): add movement legend placement and config toggles
  public/schemas/config.schema.json
  public/schemas/game.schema.json
  src/components/config/index.js
  src/defaults.json
  src/locales/de.json
  src/locales/en.json
  src/locales/zh.json
  src/schemas/config.schema.json
  src/schemas/game.schema.json
Due: schemas, validate, prettier, eslint, test

feat(market): print the stock movement legend on markets and maps
  src/components/map/Map.jsx
  src/components/map/MapMovement.jsx
  src/components/market/Market.jsx
  src/components/market/Movement.jsx
  src/components/market/Movement.stories.js
  src/stories/marketFrames.jsx
  src/util/market.js
Due: prettier, eslint, test

test: cover the movement legend and add it to 18Test
  e2e/export-files.js
  src/cli/__fixtures__/legacy-cli.js
  src/cli/validate.test.js
  src/data/games/18Test.json
  src/util/map.test.js
  src/util/market.test.js
  tests/__snapshots__/18Test/map.html
  tests/__snapshots__/18Test/market.html
  tests/coverage/map.test.jsx
  tests/coverage/market.test.jsx
Due: validate, prettier, eslint, test

test(export): update 18Test map sizes for the larger map
  e2e/export-files.js
Due: prettier, eslint, test

fix(market): keep movement legend up text above the price box
  public/schemas/game.schema.json
  src/schemas/game.schema.json
  src/util/market.js
  src/util/market.test.js
  tests/coverage/map.test.jsx
Due: schemas, prettier, eslint, test

feat(market): print the stock movement legend (#911)
  e2e/export-files.js
  public/schemas/config.schema.json
  public/schemas/game.schema.json
  src/cli/__fixtures__/legacy-cli.js
  src/cli/validate.test.js
  src/components/config/index.js
  src/components/map/Map.jsx
  src/components/map/MapMovement.jsx
  src/components/market/Market.jsx
  src/components/market/Movement.jsx
  src/components/market/Movement.stories.js
  src/data/games/18Test.json
  src/defaults.json
  src/locales/de.json
  src/locales/en.json
  src/locales/zh.json
  src/schemas/config.schema.json
  src/schemas/game.schema.json
  src/stories/marketFrames.jsx
  src/util/map.test.js
  src/util/market.js
  src/util/market.test.js
  tests/__snapshots__/18Test/map.html
  tests/__snapshots__/18Test/market.html
  tests/coverage/map.test.jsx
  tests/coverage/market.test.jsx
Due: schemas, validate, prettier, eslint, test

feat(trains): add format strings for train and private values
  public/schemas/game.schema.json
  src/cli/validate.test.js
  src/components/Currency.jsx
  src/components/Currency.stories.js
  src/components/Phase.jsx
  src/components/atoms/Value.jsx
  src/components/cards/Private.jsx
  src/components/cards/Train.jsx
  src/components/cards/Train.stories.js
  src/data/games/18Test.json
  src/docs/games/trains.de.md
  src/docs/games/trains.en.md
  src/docs/games/trains.zh.md
  src/schemas/game.schema.json
  src/util/currency.js
  src/util/currency.test.js
  tests/__snapshots__/18Test/cards.html
  tests/__snapshots__/18Test/charters.html
  tests/format.render.test.jsx
Due: schemas, validate, prettier, eslint, test

fix(trains): correct the company train format note
  public/schemas/game.schema.json
  src/docs/games/trains.de.md
  src/docs/games/trains.en.md
  src/docs/games/trains.zh.md
  src/schemas/game.schema.json
Due: schemas, prettier, test

feat(trains): add format strings for train and private values (#912)
  public/schemas/game.schema.json
  src/cli/validate.test.js
  src/components/Currency.jsx
  src/components/Currency.stories.js
  src/components/Phase.jsx
  src/components/atoms/Value.jsx
  src/components/cards/Private.jsx
  src/components/cards/Train.jsx
  src/components/cards/Train.stories.js
  src/data/games/18Test.json
  src/docs/games/trains.de.md
  src/docs/games/trains.en.md
  src/docs/games/trains.zh.md
  src/schemas/game.schema.json
  src/util/currency.js
  src/util/currency.test.js
  tests/__snapshots__/18Test/cards.html
  tests/__snapshots__/18Test/charters.html
  tests/format.render.test.jsx
Due: schemas, validate, prettier, eslint, test

feat(config): add print scale and die card sizes to the config
  public/schemas/config.schema.json
  src/cli/validate.test.js
  src/defaults.json
  src/hooks/config.js
  src/schemas/config.schema.json
  src/state/selectors.js
  src/state/selectors.test.js
  src/stories/frames.jsx
  src/util/cards.js
  src/util/cards.test.js
  src/util/index.js
  src/util/index.layout.test.js
  src/util/resolveConfig.js
  src/util/resolveConfig.test.js
  src/util/sizes.js
  src/util/sizes.test.js
Due: schemas, validate, prettier, eslint, test

feat(print): scale the print pages with the print scale
  src/components/Cutlines.jsx
  src/components/cards/index.jsx
  src/components/config/index.js
  src/components/map/MapSingle.jsx
  src/components/market/StockFrame.jsx
  src/components/page/Paginate.jsx
  src/components/page/Viewport.jsx
  src/components/pages/games/ChartersPage.jsx
  src/components/pages/games/TilesPage.jsx
  src/components/pages/games/TokensPage.jsx
  src/styles/root.css
  tests/chrome/config.test.jsx
  tests/print/dice.test.jsx
  tests/print/render.test.jsx
  tests/print/scale.test.jsx
Due: prettier, eslint, stylelint, test

docs(config): document the print scale and die card sizes
  src/cli/README.md
  src/docs/output/pdf.de.md
  src/docs/output/pdf.en.md
  src/docs/output/pdf.zh.md
  src/docs/pnp/die.de.md
  src/docs/pnp/die.en.md
  src/docs/pnp/die.zh.md
  src/locales/de.json
  src/locales/en.json
  src/locales/zh.json
Due: prettier, test

test(print): check render mode ignores the print scale layout
  tests/print/render.test.jsx
Due: prettier, eslint, test

feat(tiles): add named mid positions and align
  e2e/export-files.js
  public/schemas/tiles.defs.json
  src/cli/__fixtures__/legacy-cli.js
  src/cli/b18.test.js
  src/cli/validate.test.js
  src/components/Position.jsx
  src/components/atoms/Track.jsx
  src/components/pages/elements/PositioningPage.jsx
  src/data/games/18Test.json
  src/data/tiles/README.md
  src/docs/games/positioning.de.md
  src/docs/games/positioning.en.md
  src/docs/games/positioning.zh.md
  src/locales/de.json
  src/locales/en.json
  src/locales/zh.json
  src/schemas/fields.schema.json
  src/schemas/tiles.defs.json
  src/util/tiles/trackGeometry.js
  src/util/tiles/trackGeometry.test.js
  tests/__snapshots__/18Test/tile-manifest.html
  tests/__snapshots__/18Test/tiles.html
  tests/coverage/chrome.test.jsx
  tests/game/tiles.test.jsx
  tests/positioning.test.jsx
Due: schemas, validate, prettier, eslint, test

fix(tiles): align children, follow map orientation and require mid for align
  public/schemas/tiles.defs.json
  src/cli/compile-schemas.js
  src/cli/validate.test.js
  src/components/Position.jsx
  src/docs/games/positioning.de.md
  src/docs/games/positioning.en.md
  src/docs/games/positioning.zh.md
  src/locales/de.json
  src/locales/en.json
  src/locales/zh.json
  src/schemas/tiles.defs.json
  src/util/tiles/trackGeometry.js
  tests/__snapshots__/18Test/tile-manifest.html
  tests/__snapshots__/18Test/tiles.html
  tests/positioning.test.jsx
Due: schemas, prettier, eslint, test

docs(ui): rename auto positioning to positioning and document every option
  src/components/pages/elements/PositioningPage.jsx
  src/docs/games/first-game.de.md
  src/docs/games/first-game.en.md
  src/docs/games/first-game.zh.md
  src/docs/games/positioning.de.md
  src/docs/games/positioning.en.md
  src/docs/games/positioning.zh.md
  src/locales/de.json
  src/locales/en.json
  src/locales/zh.json
  tests/chrome/nav.test.jsx
  tests/positioning.test.jsx
Due: prettier, eslint, test

fix(ui): correct side wording and tighten positioning example tests
  src/components/pages/elements/PositioningPage.jsx
  src/docs/games/positioning.de.md
  src/docs/games/positioning.en.md
  src/docs/games/positioning.zh.md
  src/locales/de.json
  src/locales/en.json
  src/locales/zh.json
  tests/positioning.test.jsx
Due: prettier, eslint, test

feat(tiles): add named mid positions and align (#919)
  e2e/export-files.js
  public/schemas/tiles.defs.json
  src/cli/__fixtures__/legacy-cli.js
  src/cli/b18.test.js
  src/cli/compile-schemas.js
  src/cli/validate.test.js
  src/components/Position.jsx
  src/components/atoms/Track.jsx
  src/components/pages/elements/PositioningPage.jsx
  src/data/games/18Test.json
  src/data/tiles/README.md
  src/docs/games/first-game.de.md
  src/docs/games/first-game.en.md
  src/docs/games/first-game.zh.md
  src/docs/games/positioning.de.md
  src/docs/games/positioning.en.md
  src/docs/games/positioning.zh.md
  src/locales/de.json
  src/locales/en.json
  src/locales/zh.json
  src/schemas/fields.schema.json
  src/schemas/tiles.defs.json
  src/util/tiles/trackGeometry.js
  src/util/tiles/trackGeometry.test.js
  tests/__snapshots__/18Test/tile-manifest.html
  tests/__snapshots__/18Test/tiles.html
  tests/chrome/nav.test.jsx
  tests/coverage/chrome.test.jsx
  tests/game/tiles.test.jsx
  tests/positioning.test.jsx
Due: schemas, validate, prettier, eslint, test

feat(cards): add iconSize to privates
  public/schemas/game.schema.json
  src/cli/validate.test.js
  src/components/cards/Private.jsx
  src/components/cards/index.jsx
  src/data/games/18Test.json
  src/docs/pnp/tokens.de.md
  src/docs/pnp/tokens.en.md
  src/docs/pnp/tokens.zh.md
  src/locales/de.json
  src/locales/en.json
  src/locales/zh.json
  src/schemas/game.schema.json
  src/stories/frames.jsx
  src/styles/private.css
  tests/__snapshots__/18Test/cards.html
  tests/coverage/cards.test.jsx
Due: schemas, validate, prettier, eslint, stylelint, test

fix(cards): ignore a null icon size
  src/components/cards/Private.jsx
  src/docs/pnp/tokens.de.md
  src/docs/pnp/tokens.en.md
  src/docs/pnp/tokens.zh.md
  tests/coverage/cards.test.jsx
Due: prettier, eslint, test

feat(cards): add icon size to privates (#920)
  public/schemas/game.schema.json
  src/cli/validate.test.js
  src/components/cards/Private.jsx
  src/components/cards/index.jsx
  src/data/games/18Test.json
  src/docs/pnp/tokens.de.md
  src/docs/pnp/tokens.en.md
  src/docs/pnp/tokens.zh.md
  src/locales/de.json
  src/locales/en.json
  src/locales/zh.json
  src/schemas/game.schema.json
  src/stories/frames.jsx
  src/styles/private.css
  tests/__snapshots__/18Test/cards.html
  tests/coverage/cards.test.jsx
Due: schemas, validate, prettier, eslint, stylelint, test

fix(ui): use the body font for element descriptions
  src/components/pages/elements/AtomsPage.jsx
  src/components/pages/elements/PositioningPage.jsx
  tests/elements/fonts.test.jsx
Due: prettier, eslint, test

fix(ui): use the body font for element descriptions (#925)
  src/components/pages/elements/AtomsPage.jsx
  src/components/pages/elements/PositioningPage.jsx
  tests/elements/fonts.test.jsx
Due: prettier, eslint, test

refactor(ui): split root.css by topic
  src/styles/charter-traincards.css
  src/styles/charter.css
  src/styles/cutlines.css
  src/styles/footer.css
  src/styles/index.css
  src/styles/market.css
  src/styles/page-elements.css
  src/styles/print-pages.css
  src/styles/root.css
  src/styles/shell.css
  src/styles/tile-manifest.css
  tests/charter.loans.test.jsx
  tests/game/charters.test.jsx
  tests/print/scale.test.jsx
Due: prettier, eslint, stylelint, test

docs: describe the css layers and file layout
  CLAUDE.md
Due: prettier

chore(ui): remove unused css rules
  src/styles/cutlines.css
  src/styles/footer.css
  src/styles/market.css
Due: prettier, stylelint

docs(ui): fix stale css comments
  src/styles/index.css
  tests/game/charters.test.jsx
Due: prettier, eslint, stylelint, test

feat(ui): warn about deprecated fields inside lists of the game
  src/styles/ui.css
  src/styles/uiContrast.test.js
  src/util/gameValidation.js
  src/util/gameValidation.test.js
Due: prettier, eslint, stylelint, test

feat(ui): add tabs and a trains section to the edit panel
  e2e/a11y.spec.js
  e2e/games.spec.js
  src/components/editPanel/EditPanel.jsx
  src/components/editPanel/EditTabs.jsx
  src/components/editPanel/sections.js
  src/components/schemaForm/SchemaField.jsx
  src/components/schemaForm/SchemaField.test.jsx
  src/components/schemaForm/TrainsForm.jsx
  src/hooks/bindings.js
  src/hooks/useEditPanel.js
  src/locales/de.json
  src/locales/en.json
  src/locales/zh.json
  src/util/query.js
  src/util/query.test.js
  tests/bindings/2.test.jsx
  tests/game/edit-panel.test.jsx
Due: prettier, eslint, test

refactor(ui): share the schema form provider and read lists in the form schema helpers
  src/components/schemaForm/GameInfoForm.jsx
  src/components/schemaForm/SchemaFormProvider.jsx
  src/components/schemaForm/resolve.js
  src/components/schemaForm/resolve.test.js
Due: prettier, eslint, test

fix(ui): move the focus to the new tab with [ and ]
  src/hooks/bindings.js
  tests/bindings/2.test.jsx
Due: prettier, eslint, test

Path conditions:
  schemas: any of: {public,src}/schemas/*.json
  validate: any of: *.json, but not: package.json, release-please-config.json, .release-please-manifest.json, public/*, src/locales/*, src/schemas/*
  svgo: any of: *.svg
  prettier: any of: *.{css,js,mjs,cjs,jsx,json,yml,yaml,md}
  eslint: any of: *.{js,mjs,cjs,jsx}
  stylelint: any of: *.css
  test: any of: *.{js,mjs,cjs,jsx,json}
