Repository 18xx-maker/18xx-maker: changes, and which lefthook commands are due for each by the changed paths.
All: schemas, validate, svgo, prettier, eslint, stylelint, test

schemas:
  run: make && pnpm validate:schemas
  stage_fixed: true
  priority: 10

validate:
  run: node ./bin/maker.js validate {staged_files}
  priority: 40

svgo:
  run: pnpm exec svgo {staged_files}
  stage_fixed: true
  priority: 40

prettier:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true
  priority: 20

eslint:
  run: pnpm eslint --fix {staged_files}
  stage_fixed: true
  priority: 30

stylelint:
  run: pnpm stylelint --fix {staged_files}
  stage_fixed: true
  priority: 30

test:
  run: pnpm vitest related --coverage.enabled=false --reporter=basic --exclude "tests/**" --run {staged_files}
  priority: 50

test(ui): check the reserved logo preview is recolored
  src/locales/zh.json
  tests/elements.logos.test.jsx
Due: prettier, eslint, test

style(ui): format the logos test
  tests/elements.logos.test.jsx
Due: prettier, eslint, test

feat(ui): show the reserved back of recolorable logos on the logos page (#791)
  src/components/pages/elements/Logos.jsx
  src/locales/de.json
  src/locales/en.json
  src/locales/zh.json
  tests/elements.logos.test.jsx
Due: prettier, eslint, test

fix(tiles): stop offset tile bleeds from overwriting each other
  src/components/pages/games/Tiles.jsx
  src/util/tilesheet.js
  src/util/tilesheet.test.js
  tests/game.tiles.test.jsx
Due: prettier, eslint, test

test(tiles): add adjacent bordered tiles to 18Test
  src/cli/__fixtures__/legacy-cli.js
  src/cli/b18.test.js
  src/data/games/18Test.json
  tests/__snapshots__/18Test/tile-manifest.html
  tests/__snapshots__/18Test/tiles.html
Due: validate, prettier, eslint, test

test(e2e): expect wider 18Test yellow tile image
  e2e/export-files.js
Due: prettier, eslint, test

feat(ui): underline shortcut keys in labels
  src/components/ExportButton.jsx
  src/components/KeyLabel.jsx
  src/components/KeyLabel.test.jsx
  src/components/Toolbar.jsx
  src/components/nav/AppSidebar.jsx
  src/components/nav/index.jsx
  src/components/nav/sidebar/Item.jsx
  tests/chrome.nav.test.jsx
Due: prettier, eslint, test

fix(tiles): pack individual tiles together in the offset tile sheet
  src/components/pages/games/Tiles.jsx
  tests/tiles.offset.test.jsx
Due: prettier, eslint, test

fix(ui): keep export menu labels one flex item so their names stay whole
  src/components/ExportButton.jsx
Due: prettier, eslint, test

refactor(tiles): drop the unused offset bleed clip and tighten tests
  src/components/Root.jsx
  src/util/tilesheet.js
  src/util/tilesheet.test.js
  tests/game.tiles.test.jsx
Due: prettier, eslint, test

fix(ui): match the shortcut word regardless of case
  src/components/KeyLabel.jsx
  src/components/KeyLabel.test.jsx
Due: prettier, eslint, test

fix(tiles): pack individual tiles together in the offset tile sheet (#800)
  src/components/pages/games/Tiles.jsx
  tests/tiles.offset.test.jsx
Due: prettier, eslint, test

feat(ui): underline shortcut keys in labels (#801)
  src/components/ExportButton.jsx
  src/components/KeyLabel.jsx
  src/components/KeyLabel.test.jsx
  src/components/Toolbar.jsx
  src/components/nav/AppSidebar.jsx
  src/components/nav/index.jsx
  src/components/nav/sidebar/Item.jsx
  tests/chrome.nav.test.jsx
Due: prettier, eslint, test

fix(tiles): stop offset tile bleeds from overwriting each other (#795)
  e2e/export-files.js
  src/cli/__fixtures__/legacy-cli.js
  src/cli/b18.test.js
  src/components/Root.jsx
  src/components/pages/games/Tiles.jsx
  src/data/games/18Test.json
  src/util/tilesheet.js
  src/util/tilesheet.test.js
  tests/__snapshots__/18Test/tile-manifest.html
  tests/__snapshots__/18Test/tiles.html
  tests/game.tiles.test.jsx
Due: validate, prettier, eslint, test

feat(ui): add helpers to merge the tiles of all games
  src/util/tiles.js
  src/util/tiles.test.js
Due: prettier, eslint, test

feat(ui): load stored games read-only to know their tiles
  src/hooks/useKnownGames.js
  src/util/idb.handles.test.js
  src/util/idb.js
  src/util/knownGames.js
  src/util/knownGames.test.js
  src/util/opfs.js
  src/util/opfs.test.js
Due: prettier, eslint, test

feat(ui): show all known tiles on the tiles page with a game filter
  src/components/TileFilters.jsx
  src/components/pages/elements/Tiles.jsx
  src/components/ui/slider.jsx
  src/locales/de.json
  src/locales/en.json
  src/locales/zh.json
  tests/coverage.chrome.test.jsx
  tests/tiles.known.test.jsx
Due: prettier, eslint, test

fix(ui): credit alias targets and defining games, guard tile rendering
  src/components/pages/elements/Tiles.jsx
  src/util/tiles.js
  src/util/tiles.test.js
  tests/coverage.chrome.test.jsx
  tests/tiles.known.test.jsx
Due: prettier, eslint, test

feat(ui): show the games using a tile in a hover popover
  src/components/pages/elements/Tiles.jsx
  tests/coverage.chrome.test.jsx
  tests/tiles.known.test.jsx
Due: prettier, eslint, test

fix(ui): harden known tiles against malformed games and miscredited usage
  src/components/pages/elements/Tiles.jsx
  src/docs/games/first-game.de.md
  src/docs/games/first-game.en.md
  src/docs/games/first-game.zh.md
  src/util/tiles.js
  src/util/tiles.test.js
  tests/tiles.known.test.jsx
Due: prettier, eslint, test

fix(ui): style the tile popover with the theme popover colors and a border
  src/components/pages/elements/Tiles.jsx
  tests/tiles.known.test.jsx
Due: prettier, eslint, test

fix(ui): ignore malformed tile ids, colors and titles in stored games
  src/util/knownGames.js
  src/util/tiles.js
  tests/tiles.known.test.jsx
Due: prettier, eslint, test

fix(ui): open the tile popover with a tap on touch screens
  src/components/pages/elements/Tiles.jsx
  tests/tiles.known.test.jsx
Due: prettier, eslint, test

test(ui): expect the new 18Test border tiles in the game filter test
  tests/coverage.chrome.test.jsx
Due: prettier, eslint, test

feat(ui): show all known tiles with a game filter (#794)
  src/components/TileFilters.jsx
  src/components/pages/elements/Tiles.jsx
  src/components/ui/slider.jsx
  src/docs/games/first-game.de.md
  src/docs/games/first-game.en.md
  src/docs/games/first-game.zh.md
  src/hooks/useKnownGames.js
  src/locales/de.json
  src/locales/en.json
  src/locales/zh.json
  src/util/idb.handles.test.js
  src/util/idb.js
  src/util/knownGames.js
  src/util/knownGames.test.js
  src/util/opfs.js
  src/util/opfs.test.js
  src/util/tiles.js
  src/util/tiles.test.js
  tests/coverage.chrome.test.jsx
  tests/tiles.known.test.jsx
Due: prettier, eslint, test

feat(maps): add option to turn off companies on tiles
  public/schemas/config.schema.json
  src/components/Hex.jsx
  src/components/atoms/City.jsx
  src/components/config/index.js
  src/defaults.json
  src/locales/de.json
  src/locales/en.json
  src/locales/zh.json
  src/schemas/config.schema.json
  tests/coverage.hex.test.jsx
Due: schemas, validate, prettier, eslint, test

feat(charters): add loan slots to a company charter
  public/schemas/game.schema.json
  src/cli/validate.test.js
  src/components/Charter.jsx
  src/data/games/18Test.json
  src/docs/games/types.de.md
  src/docs/games/types.en.md
  src/docs/games/types.zh.md
  src/schemas/game.schema.json
  tests/__snapshots__/18Test/charters.html
  tests/coverage.charter.test.jsx
Due: schemas, validate, prettier, eslint, test

docs(charters): use the zh terminology for charter and token
  src/docs/games/types.zh.md
Due: prettier

feat(charters): print loan slots in the charter body
  public/schemas/game.schema.json
  src/components/Charter.jsx
  src/docs/games/types.de.md
  src/docs/games/types.en.md
  src/docs/games/types.zh.md
  src/schemas/game.schema.json
  src/styles/root.css
  tests/__snapshots__/18Test/charters.html
  tests/coverage.charter.test.jsx
Due: schemas, prettier, eslint, stylelint, test

fix(charters): keep loan slots clear of the turn order and inside their box
  src/components/Charter.jsx
  src/styles/root.css
  tests/__snapshots__/18Test/charters.html
  tests/charter.loans.test.jsx
Due: prettier, eslint, stylelint, test

fix(charters): keep loan labels readable and fit loan slots to the charter height
  public/schemas/game.schema.json
  src/components/Charter.jsx
  src/docs/games/types.de.md
  src/docs/games/types.en.md
  src/docs/games/types.zh.md
  src/schemas/game.schema.json
  src/styles/root.css
  tests/__snapshots__/18Test/charters.html
  tests/coverage.charter.test.jsx
Due: schemas, prettier, eslint, stylelint, test

test(charters): give the gray 18Test charter ten loan slots
  src/data/games/18Test.json
  tests/__snapshots__/18Test/charters.html
Due: validate, prettier, test

fix(charters): shrink loan slots so ten fit on a full charter
  src/components/Charter.jsx
  src/styles/root.css
  tests/__snapshots__/18Test/charters.html
  tests/charter.loans.test.jsx
Due: prettier, eslint, stylelint, test

fix(charters): flow loan slots from the right column to the left
  src/docs/games/types.de.md
  src/docs/games/types.en.md
  src/docs/games/types.zh.md
  src/styles/root.css
  tests/charter.loans.test.jsx
Due: prettier, eslint, stylelint, test

feat(ui): sort the designer filter by last name
  src/components/pages/load/LoadGames.jsx
  tests/chrome.load.test.jsx
Due: prettier, eslint, test

feat(ui): filter games by publisher, designer and type on the games page
  src/components/pages/load/GameFilters.jsx
  src/components/pages/load/GameRow.jsx
  src/components/pages/load/LoadGames.jsx
  src/locales/de.json
  src/locales/en.json
  src/locales/zh.json
  tests/chrome.load.test.jsx
Due: prettier, eslint, test

fix(ui): left align doc pages
  src/components/pages/Docs.jsx
  tests/docs.layout.test.jsx
Due: prettier, eslint, test

fix(ui): left align the app information page
  src/components/pages/App.jsx
Due: prettier, eslint, test

feat(maps): add option to turn off companies on tiles (#804)
  public/schemas/config.schema.json
  src/components/Hex.jsx
  src/components/atoms/City.jsx
  src/components/config/index.js
  src/defaults.json
  src/locales/de.json
  src/locales/en.json
  src/locales/zh.json
  src/schemas/config.schema.json
  tests/coverage.hex.test.jsx
Due: schemas, validate, prettier, eslint, test

feat(charters): add loan slots to a company charter (#793)
  public/schemas/game.schema.json
  src/cli/validate.test.js
  src/components/Charter.jsx
  src/data/games/18Test.json
  src/docs/games/types.de.md
  src/docs/games/types.en.md
  src/docs/games/types.zh.md
  src/schemas/game.schema.json
  src/styles/root.css
  tests/__snapshots__/18Test/charters.html
  tests/charter.loans.test.jsx
  tests/coverage.charter.test.jsx
Due: schemas, validate, prettier, eslint, stylelint, test

Path conditions:
  schemas: any of: {public,src}/schemas/*.json
  validate: any of: *.json, but not: package.json, release-please-config.json, .release-please-manifest.json, public/*, src/locales/*, src/schemas/*
  svgo: any of: *.svg
  prettier: any of: *.{css,js,mjs,cjs,jsx,json,yml,yaml,md}
  eslint: any of: *.{js,mjs,cjs,jsx}
  stylelint: any of: *.css
  test: any of: *.{js,mjs,cjs,jsx,json}
