Repository 18xx-maker/18xx-maker: changes, and which lefthook commands are due for each by the changed paths.
All: schemas, validate, svgo, prettier, eslint, stylelint, test

schemas:
  run: make && pnpm validate:schemas
  stage_fixed: true
  priority: 10

validate:
  run: node ./bin/maker.js validate {staged_files}
  priority: 40

svgo:
  run: pnpm exec svgo {staged_files}
  stage_fixed: true
  priority: 40

prettier:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true
  priority: 20

eslint:
  run: pnpm eslint --fix {staged_files}
  stage_fixed: true
  priority: 30

stylelint:
  run: pnpm stylelint --fix {staged_files}
  stage_fixed: true
  priority: 30

test:
  run: pnpm vitest related --coverage.enabled=false --reporter=basic --exclude "tests/**" --run {staged_files}
  priority: 50

chore: remove unused storage state hooks
  src/util/useLocalState.js
  src/util/useSessionState.js
  src/util/useStorageState.test.js
Due: prettier, eslint, test

feat(schema): allow shape, width and height on tile values
  public/schemas/tiles.defs.json
  src/components/pages/elements/Atoms.jsx
  src/schemas/tiles.defs.json
  src/schemas/tiles.src.json
Due: schemas, prettier, eslint, test

fix(state): drop deleted games from summaries
  src/state/reducers.test.js
  src/state/root.test.js
  src/state/summaries.js
Due: prettier, eslint, test

refactor(state): add memoized config and game selectors
  src/components/pages/games/Game.jsx
  src/hooks/bindings.js
  src/hooks/config.js
  src/hooks/game.js
  src/state/selectors.js
  src/state/selectors.test.js
Due: prettier, eslint, test

refactor(ui): derive theme from settings and persist sidebar state
  src/components/ui/sidebar.jsx
  src/context/ThemeProvider.jsx
  src/hooks/use-prefers-dark.js
  src/state/persist.test.js
  src/state/reducers.test.js
  src/state/selectors.js
  src/state/selectors.test.js
  src/state/settings.js
  tests/coverage.chrome.test.jsx
Due: prettier, eslint, test

feat(i18n): store the language in settings and stop caching it
  CLAUDE.md
  src/hooks/index.js
  src/hooks/use-language.js
  src/locales/i18n.js
  src/state/render.test.js
Due: prettier, eslint, test

refactor(state): add a transient ui slice for the export menu and sheet
  src/state/index.js
  src/state/persist.test.js
  src/state/reducers.test.js
  src/state/root.test.js
  src/state/selectors.js
  src/state/store.js
  src/state/ui.js
Due: prettier, eslint, test

refactor(ui): handle every global key in one keymap
  src/components/ExportButton.jsx
  src/components/Toolbar.jsx
  src/hooks/bindings.js
  tests/export.keys.test.jsx
  tests/keymap.test.jsx
Due: prettier, eslint, test

fix(ui): make cards tolerate small sizes and one card per page
  package.json
  pnpm-lock.yaml
  public/schemas/config.schema.json
  src/components/RouteError.jsx
  src/components/cards/Private.jsx
  src/components/cards/index.jsx
  src/components/config/Input.jsx
  src/components/config/UnitInput.jsx
  src/components/config/index.js
  src/defaults.json
  src/locales/en.json
  src/routes.jsx
  src/schemas/config.schema.json
  src/styles/card.css
  src/styles/private.css
  src/styles/share.css
  src/styles/train.css
  src/util/cards.js
  src/util/cards.test.js
  tests/bugfixes.chrome.test.jsx
  tests/chrome.config.test.jsx
  tests/coverage.cards.test.jsx
  tests/coverage.chrome.test.jsx
  tests/route-error.test.jsx
Due: schemas, validate, prettier, eslint, stylelint, test

docs: swap UI screenshots by theme and redo the tokens image
  public/images/export-button-dark.png
  public/images/export-button-light.png
  public/images/export-button.png
  public/images/print-button-dark.png
  public/images/print-button-light.png
  public/images/print-button.png
  public/images/tokens-example.png
  src/components/Markdown.jsx
  src/docs/index.en.md
  src/docs/output/pdf.en.md
  src/docs/output/png.en.md
  tests/coverage.chrome.test.jsx
  tests/coverage.electron.test.jsx
  tests/markdown.images.test.jsx
Due: prettier, eslint, test

fix(ui): make cards tolerate small sizes and one card per page (#766)
  package.json
  pnpm-lock.yaml
  public/schemas/config.schema.json
  src/components/RouteError.jsx
  src/components/cards/Private.jsx
  src/components/cards/index.jsx
  src/components/config/Input.jsx
  src/components/config/UnitInput.jsx
  src/components/config/index.js
  src/defaults.json
  src/locales/en.json
  src/routes.jsx
  src/schemas/config.schema.json
  src/styles/card.css
  src/styles/private.css
  src/styles/share.css
  src/styles/train.css
  src/util/cards.js
  src/util/cards.test.js
  tests/bugfixes.chrome.test.jsx
  tests/chrome.config.test.jsx
  tests/coverage.cards.test.jsx
  tests/coverage.chrome.test.jsx
  tests/route-error.test.jsx
Due: schemas, validate, prettier, eslint, stylelint, test

docs: use one background color across the toolbar images
  public/images/export-button-dark.png
  public/images/export-button-light.png
  public/images/print-button-dark.png
  public/images/print-button-light.png
Due: none

docs: keep the transparent-square background in toolbar images
  public/images/export-button-dark.png
  public/images/export-button-light.png
  public/images/print-button-dark.png
  public/images/print-button-light.png
Due: none

fix(state): reset export flags off the game page and ignore stale language caches
  src/hooks/bindings.js
  src/hooks/index.js
  src/hooks/use-language.js
  src/locales/i18n.js
  src/state/reducers.test.js
  src/state/render.test.js
  src/state/selectors.js
  src/state/selectors.test.js
  src/state/settings.js
  tests/export.keys.test.jsx
  tests/helpers.jsx
  tests/keymap.test.jsx
  tests/prefers-dark.test.jsx
  tests/theme.render.test.jsx
Due: prettier, eslint, test

docs: record screenshot conventions in CLAUDE.md
  CLAUDE.md
Due: prettier

refactor(state): consolidate shared app state into redux (#765)
  CLAUDE.md
  src/components/ExportButton.jsx
  src/components/Toolbar.jsx
  src/components/pages/games/Game.jsx
  src/components/ui/sidebar.jsx
  src/context/ThemeProvider.jsx
  src/hooks/bindings.js
  src/hooks/config.js
  src/hooks/game.js
  src/hooks/use-prefers-dark.js
  src/locales/i18n.js
  src/state/index.js
  src/state/persist.test.js
  src/state/reducers.test.js
  src/state/render.test.js
  src/state/root.test.js
  src/state/selectors.js
  src/state/selectors.test.js
  src/state/settings.js
  src/state/store.js
  src/state/summaries.js
  src/state/ui.js
  src/util/useLocalState.js
  src/util/useSessionState.js
  src/util/useStorageState.test.js
  tests/coverage.chrome.test.jsx
  tests/export.keys.test.jsx
  tests/helpers.jsx
  tests/keymap.test.jsx
  tests/prefers-dark.test.jsx
  tests/theme.render.test.jsx
Due: prettier, eslint, test

feat(ui): add a keyboard shortcuts dialog, d for docs and esc to go home
  eslint.config.js
  src/components/Markdown.jsx
  src/components/Root.jsx
  src/components/Shortcuts.jsx
  src/components/ui/dialog.jsx
  src/docs/index.en.md
  src/hooks/bindings.js
  src/locales/en.json
  tests/bindings.1.test.jsx
  tests/bindings.2.test.jsx
Due: prettier, eslint, test

docs: caption, annotate and describe doc screenshots (#763)
  CLAUDE.md
  public/images/borders-example.png
  public/images/export-button-dark.png
  public/images/export-button-light.png
  public/images/export-button.png
  public/images/print-button-dark.png
  public/images/print-button-light.png
  public/images/print-button.png
  public/images/ruby-and-python-in-atlanta.png
  public/images/tokens-example.png
  src/components/Markdown.jsx
  src/docs/games/borders.en.md
  src/docs/games/logos.en.md
  src/docs/games/overrides.en.md
  src/docs/index.en.md
  src/docs/output/pdf.en.md
  src/docs/output/png.en.md
  src/docs/pnp/tokens.en.md
  tests/coverage.chrome.test.jsx
  tests/coverage.electron.test.jsx
  tests/markdown.images.test.jsx
Due: prettier, eslint, test

feat(ui): add language override to settings
  src/components/Root.jsx
  src/components/pages/Settings.jsx
  src/locales/en.json
  src/locales/language.js
  tests/i18n.js
  tests/settings.test.jsx
Due: prettier, eslint, test

feat(ui): add language override to settings (#767)
  src/components/Root.jsx
  src/components/pages/Settings.jsx
  src/locales/en.json
  src/locales/language.js
  tests/i18n.js
  tests/settings.test.jsx
Due: prettier, eslint, test

feat(ui): add a keyboard shortcuts dialog, d for docs and esc to go home (#768)
  eslint.config.js
  src/components/Markdown.jsx
  src/components/Root.jsx
  src/components/Shortcuts.jsx
  src/components/ui/dialog.jsx
  src/docs/index.en.md
  src/hooks/bindings.js
  src/locales/en.json
  tests/bindings.1.test.jsx
  tests/bindings.2.test.jsx
Due: prettier, eslint, test

feat(analytics): send the language with plausible events
  src/util/analytics.js
  src/util/analytics.send.test.js
Due: prettier, eslint, test

feat(analytics): send the language with plausible events (#769)
  src/util/analytics.js
  src/util/analytics.send.test.js
Due: prettier, eslint, test

chore(release): v1.0.0-beta.125
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: prettier, test

feat(i18n): add german and chinese ui translations
  src/components/ExportButton.jsx
  src/components/PrintButton.jsx
  src/components/Root.jsx
  src/components/TileFilters.jsx
  src/components/Toolbar.jsx
  src/components/config/Config.jsx
  src/components/config/PinConfig.jsx
  src/components/pages/elements/Atoms.jsx
  src/components/pages/elements/Logos.jsx
  src/components/pages/load/LoadGames.jsx
  src/components/ui/pagination.jsx
  src/components/ui/sheet.jsx
  src/components/ui/sidebar.jsx
  src/locales/de.json
  src/locales/en.json
  src/locales/i18n.js
  src/locales/locales.test.js
  src/locales/zh.json
  tests/docs.language.test.jsx
Due: prettier, eslint, test

fix(i18n): translate new shortcuts, language and doc changes after merging main
  src/components/Root.jsx
Due: prettier, eslint, test

chore(release): v1.0.0-beta.125 (#739)
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: prettier, test

feat(ui): add [ and ] keys to cycle docs pages, game sections and config sections
  src/components/Shortcuts.jsx
  src/hooks/bindings.js
  src/locales/de.json
  src/locales/en.json
  src/locales/zh.json
  tests/bindings.2.test.jsx
Due: prettier, eslint, test

ci(release): publish netlify deploys after their auto build finishes
  .github/workflows/release.yml
Due: prettier

feat(ui): add [ and ] keys to cycle docs pages, game sections and config sections (#771)
  src/components/Shortcuts.jsx
  src/hooks/bindings.js
  src/locales/de.json
  src/locales/en.json
  src/locales/zh.json
  tests/bindings.2.test.jsx
Due: prettier, eslint, test

ci(release): publish netlify deploys after their auto build finishes (#772)
  .github/workflows/release.yml
Due: prettier

fix(ui): fill the whole window with the editor transparent background
  src/components/Viewport.jsx
Due: prettier, eslint, test

fix(ui): style the app info page for both themes and load the sidebar logo in electron
  src/components/nav/AppSidebar.jsx
  src/components/pages/App.jsx
Due: prettier, eslint, test

fix(ui): keep the editor background visible when scrolling past the edge
  src/components/Viewport.jsx
Due: prettier, eslint, test

fix(ui): style the app info page for both themes and load the sidebar logo in electron (#775)
  src/components/nav/AppSidebar.jsx
  src/components/pages/App.jsx
Due: prettier, eslint, test

fix(ui): keep card cut lines visible above the viewport background
  src/styles/root.css
Due: prettier, stylelint

feat(ui): pan and zoom the single token page in the editor
  src/components/pages/games/Token.jsx
Due: prettier, eslint, test

Path conditions:
  schemas: any of: {public,src}/schemas/*.json
  validate: any of: *.json, but not: package.json, release-please-config.json, .release-please-manifest.json, public/*, src/locales/*, src/schemas/*
  svgo: any of: *.svg
  prettier: any of: *.{css,js,mjs,cjs,jsx,json,yml,yaml,md}
  eslint: any of: *.{js,mjs,cjs,jsx}
  stylelint: any of: *.css
  test: any of: *.{js,mjs,cjs,jsx,json}
