Repository 18xx-maker/18xx-maker: changes, and which lefthook commands are due for each by the changed paths.
All: schemas, validate, svgo, prettier, eslint, stylelint, test

schemas:
  run: make && pnpm validate:schemas
  stage_fixed: true
  priority: 10

validate:
  run: node ./bin/maker.js validate {staged_files}
  priority: 40

svgo:
  run: pnpm exec svgo {staged_files}
  stage_fixed: true
  priority: 40

prettier:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true
  priority: 20

eslint:
  run: pnpm eslint --fix {staged_files}
  stage_fixed: true
  priority: 30

stylelint:
  run: pnpm stylelint --fix {staged_files}
  stage_fixed: true
  priority: 30

test:
  run: pnpm vitest related --coverage.enabled=false --reporter=basic --exclude "tests/**" --run {staged_files}
  priority: 50

docs(cli): adding cli README.md
  src/cli/README.md
Due: prettier

chore(cli): move version.js so app can use it
  bin/maker.js
  src/util/version.js
Due: prettier, eslint, test

chore(cli): abstract express into util function
  src/cli/b18.js
  src/cli/print.js
  src/cli/util.js
Due: prettier, eslint, test

chore(cli): clean up b18 imports (except tiles)
  DEVELOPMENT.md
  Makefile
  src/cli/b18.js
Due: prettier, eslint, test

chore(cli): no more json imports in b18
  src/cli/b18.js
  src/cli/util.js
  src/data/tiles/index.js
  src/util/tiles.js
Due: prettier, eslint, test

fix(b18): terrain now rotates like other elements in B18 boxes
  src/components/atoms/Terrain.jsx
  src/data/tiles/green.json
Due: validate, prettier, eslint, test

docs(cli): adding cli README.md (#659)
  DEVELOPMENT.md
  Makefile
  bin/maker.js
  package.json
  src/cli/README.md
  src/cli/b18.js
  src/cli/print.js
  src/cli/util.js
  src/components/atoms/Terrain.jsx
  src/data/tiles/green.json
  src/data/tiles/index.js
  src/util/tiles.js
  src/util/version.js
Due: validate, prettier, eslint, test

fix(app): fix electron url links
  electron/main/window.js
  src/components/pages/Docs.jsx
  src/docs/index.en.md
Due: prettier, eslint, test

fix(app): fix electron url links (#660)
  electron/main/window.js
  src/components/pages/Docs.jsx
  src/docs/index.en.md
Due: prettier, eslint, test

chore(b18): abstract out takeScreenshot
  src/cli/b18.js
Due: prettier, eslint, test

chore(b18): clean up comments and ordering
  src/cli/b18.js
Due: prettier, eslint, test

chore(hooks): make sure useConfig hook is callback safe
  src/hooks/config.js
Due: prettier, eslint, test

chore(b18): abstract out takeScreenshot (#661)
  src/cli/b18.js
  src/hooks/config.js
Due: prettier, eslint, test

feat(validation): add error state to config input field
  src/components/config/Input.jsx
  src/components/config/UnitInput.jsx
  src/hooks/config.js
  src/hooks/index.js
  src/hooks/validation.js
  src/state/errors.js
  src/state/index.js
  src/state/store.js
  src/util/input.js
Due: prettier, eslint, test

chore(validation): remove unused hook functions
  src/hooks/config.js
  src/hooks/validation.js
Due: prettier, eslint, test

feat(validation): add error state to config input field (#662)
  src/components/config/Input.jsx
  src/components/config/UnitInput.jsx
  src/hooks/config.js
  src/hooks/index.js
  src/hooks/validation.js
  src/state/errors.js
  src/state/index.js
  src/state/store.js
  src/util/input.js
Due: prettier, eslint, test

feat(app): add debounce to config unit input update
  package.json
  pnpm-lock.yaml
  src/components/config/Input.jsx
Due: prettier, eslint, test

feat(app): add debounce to config unit input update (#663)
  package.json
  pnpm-lock.yaml
  src/components/config/Input.jsx
Due: prettier, eslint, test

chore(release): v1.0.0-beta.107
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: prettier, test

chore(release): v1.0.0-beta.107 (#657)
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: prettier, test

fix(charters): allow charters with no trains to load
  src/components/Phase.jsx
Due: prettier, eslint, test

fix(crypto): switch crypto use cases to useId to avoid non-https problems
  src/components/Paginate.jsx
  src/components/atoms/Name.jsx
  src/components/tokens/Token.jsx
Due: prettier, eslint, test

fix: allow charters with no trains and non-https contexts to work (#666)
  src/components/Paginate.jsx
  src/components/Phase.jsx
  src/components/atoms/Name.jsx
  src/components/tokens/Token.jsx
Due: prettier, eslint, test

chore(release): v1.0.0-beta.108
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: prettier, test

chore(release): v1.0.0-beta.108 (#667)
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: prettier, test

chore(ui): adding shadcn
  components.json
  jsconfig.json
  lefthook.yml
  package.json
  pnpm-lock.yaml
  src/lib/utils.js
  src/styles/index.css
  tailwind.config.js
Due: validate, prettier, eslint, stylelint, test

chore(ui): add shadcn sidebar
  package.json
  pnpm-lock.yaml
  src/components/ui/button.jsx
  src/components/ui/input.jsx
  src/components/ui/separator.jsx
  src/components/ui/sheet.jsx
  src/components/ui/sidebar.jsx
  src/components/ui/skeleton.jsx
  src/components/ui/tooltip.jsx
  src/hooks/use-mobile.jsx
  src/styles/index.css
  tailwind.config.js
Due: prettier, eslint, stylelint, test

chore(ui): adding tailwindcss and cleaning postcss config
  .github/workflows/test.yml
  electron.vite.config.js
  lefthook.yml
  package.json
  pnpm-lock.yaml
  src/styles/index.css
  src/styles/manifest.css
  tailwind.config.js
  vite.config.js
Due: prettier, eslint, stylelint, test

feat(settings): site settings to change theme
  src/components/Root.jsx
  src/components/nav/AppSidebar.jsx
  src/components/nav/Header.jsx
  src/components/pages/Settings.jsx
  src/components/pages/games/Info.jsx
  src/context/ThemeProvider.jsx
  src/hooks/index.js
  src/hooks/use-settings.js
  src/locales/en.json
  src/routes.jsx
  src/state/index.js
  src/state/settings.js
  src/state/store.js
Due: prettier, eslint, test

chore(ui): working on fixing b18 output
  src/cli/b18.js
  src/components/Toolbar.jsx
  src/components/pages/games/Tokens.jsx
  src/components/pages/games/b18/Tiles.jsx
  src/components/pages/games/b18/Tokens.jsx
  src/hooks/use-editor.js
  src/styles/root.css
Due: prettier, eslint, stylelint, test

feat(ui): starting work on game editor
  package.json
  pnpm-lock.yaml
  src/components/Editor.jsx
  src/components/Root.jsx
  src/components/Svg.jsx
  src/components/SvgEditor.jsx
  src/components/Toolbar.jsx
  src/components/Viewport.jsx
  src/components/map/MapSingle.jsx
  src/components/market/MarketSingle.jsx
  src/components/nav/AppSidebar.jsx
  src/components/nav/Header.jsx
  src/components/nav/HeaderGame.jsx
  src/components/nav/HeaderTitle.jsx
  src/components/nav/index.jsx
  src/components/pages/games/Game.jsx
  src/components/pages/games/Info.jsx
  src/components/pages/load/GameRow.jsx
  src/components/pages/load/GameType.jsx
  src/components/ui/switch.jsx
  src/hooks/bindings.js
  src/hooks/index.js
  src/hooks/use-editor.js
  src/hooks/use-print.jsx
  src/hooks/useSideMenu.js
  src/locales/en.json
  src/state/game.js
  src/styles/ui.css
Due: prettier, eslint, stylelint, test

chore(ui): cleaning up game tiles
  src/components/Alert.jsx
  src/components/Page.jsx
  src/components/pages/games/Tiles.css
  src/components/pages/games/Tiles.jsx
  src/styles/ui.css
Due: prettier, eslint, stylelint, test

chore(ui): convert config from MUI to shadcn
  package.json
  pnpm-lock.yaml
  src/components/File.jsx
  src/components/SvgEditor.jsx
  src/components/Toolbar.jsx
  src/components/Viewport.jsx
  src/components/config/Config.jsx
  src/components/config/ConfigDrawer.jsx
  src/components/config/Input.jsx
  src/components/config/PinConfig.jsx
  src/components/config/ThemePreview.jsx
  src/components/config/UnitInput.jsx
  src/components/config/index.js
  src/components/nav/AppNav.jsx
  src/components/nav/DocsNav.jsx
  src/components/nav/ElementsNav.jsx
  src/components/nav/GameNav.jsx
  src/components/nav/MobileMenuButton.jsx
  src/components/nav/SideNav.jsx
  src/components/ui/checkbox.jsx
  src/components/ui/form.jsx
  src/locales/en.json
  src/routes.jsx
Due: prettier, eslint, test

fix(ui): zooming for trackpads
  src/components/SvgEditor.jsx
Due: prettier, eslint, test

chore(ui): better config page layouts
  package.json
  pnpm-lock.yaml
  src/components/Toolbar.jsx
  src/components/config/Config.jsx
  src/components/config/Input.jsx
  src/components/config/Items.jsx
  src/components/config/PinConfig.jsx
  src/components/config/UnitInput.jsx
  src/components/config/index.js
  src/components/ui/toggle.jsx
  src/locales/en.json
Due: prettier, eslint, test

chore(css): adding back most css
  src/components/Viewport.jsx
  src/components/config/Input.jsx
  src/components/config/Items.jsx
  src/styles/index.css
  src/styles/private.css
  src/styles/root.css
Due: prettier, eslint, stylelint, test

fix(game): match params slug with decoded meta slug
  src/components/pages/games/Game.jsx
Due: prettier, eslint, test

fix(game): match params slug with decoded meta slug (#668)
  src/components/pages/games/Game.jsx
Due: prettier, eslint, test

chore(release): v1.0.0-beta.109
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: prettier, test

Path conditions:
  schemas: any of: {public,src}/schemas/*.json
  validate: any of: *.json, but not: package.json, release-please-config.json, .release-please-manifest.json, public/*, src/locales/*, src/schemas/*
  svgo: any of: *.svg
  prettier: any of: *.{css,js,mjs,cjs,jsx,json,yml,yaml,md}
  eslint: any of: *.{js,mjs,cjs,jsx}
  stylelint: any of: *.css
  test: any of: *.{js,mjs,cjs,jsx,json}
