Repository 18xx-maker/18xx-maker: changes, and which lefthook commands are due for each by the changed paths.
All: schemas, validate, svgo, prettier, eslint, stylelint, test

lefthook.yml:

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit {1}

pre-commit:
  commands:
    schemas:
      run: make && pnpm validate:schemas
      glob: "{public,src}/schemas/*.json"
      stage_fixed: true
      priority: 10
    validate:
      glob: "*.json"
      exclude:
        - "package.json"
        - "release-please-config.json"
        - ".release-please-manifest.json"
        - "public/*"
        - "src/locales/*"
        - "src/schemas/*"
      run: node ./bin/maker.js validate {staged_files}
      priority: 40
    svgo:
      glob: "*.svg"
      run: pnpm exec svgo {staged_files}
      stage_fixed: true
      priority: 40
    prettier:
      glob: "*.{css,js,mjs,cjs,jsx,json,yml,yaml,md}"
      run: pnpm prettier --write {staged_files}
      stage_fixed: true
      priority: 20
    eslint:
      glob: "*.{js,mjs,cjs,jsx}"
      run: pnpm eslint --fix {staged_files}
      stage_fixed: true
      priority: 30
    stylelint:
      glob: "*.css"
      run: pnpm stylelint --fix {staged_files}
      stage_fixed: true
      priority: 30
    test:
      glob: "*.{js,mjs,cjs,jsx,json}"
      run: pnpm vitest related --coverage.enabled=false --reporter=basic --exclude "tests/**" --run {staged_files}
      priority: 50

feat(ui): label edit toolbar buttons and keep the filter menu open (#830)
  src/components/ExportButton.jsx
  src/components/PrintButton.jsx
  src/components/Toolbar.jsx
  src/locales/de.json
  src/locales/en.json
  src/locales/zh.json
  tests/chrome.config.test.jsx
  tests/chrome.nav.test.jsx
  tests/coverage.chrome.test.jsx
  tests/coverage.electron.test.jsx
  tests/editor.test.jsx
  tests/toolbar.test.jsx
Due: prettier, eslint, test

feat(ui): show game statistics on the game info page
  src/components/pages/games/GameStats.jsx
  src/components/pages/games/Info.jsx
  src/locales/de.json
  src/locales/en.json
  src/locales/zh.json
  src/util/gameStats.js
  src/util/gameStats.test.js
  tests/game.stats.test.jsx
Due: prettier, eslint, test

feat(ui): show game statistics on the game info page (#836)
  src/components/pages/games/GameStats.jsx
  src/components/pages/games/Info.jsx
  src/locales/de.json
  src/locales/en.json
  src/locales/zh.json
  src/util/gameStats.js
  src/util/gameStats.test.js
  tests/game.stats.test.jsx
Due: prettier, eslint, test

feat(ui): pan and zoom editor for every game section
  src/components/HtmlEditor.jsx
  src/components/HtmlEditor.test.jsx
  src/components/Paginate.jsx
  src/components/SvgEditor.jsx
  src/components/cards/index.jsx
  src/components/market/ParSingle.jsx
  src/components/market/RevenueSingle.jsx
  src/components/pages/games/Background.jsx
  src/components/pages/games/Card.jsx
  src/components/pages/games/Charter.jsx
  src/components/pages/games/Charters.jsx
  src/components/pages/games/Tile.jsx
  src/components/pages/games/TileManifest.jsx
  src/components/pages/games/Tiles.jsx
  src/components/pages/games/Token.jsx
  src/hooks/use-pan-zoom.js
Due: prettier, eslint, test

fix(ui): fill the window with the market, par and revenue editors
  src/components/market/MarketSingle.jsx
  src/components/market/ParSingle.jsx
  src/components/market/RevenueSingle.jsx
Due: prettier, eslint, test

fix(ui): pinch to zoom and wrap pages in the html editor
  src/components/HtmlEditor.jsx
  src/components/HtmlEditor.test.jsx
  src/hooks/use-pan-zoom.js
Due: prettier, eslint, test

fix(ui): zoom the editors to the first page or with padding to start
  src/components/Editor.jsx
  src/components/HtmlEditor.jsx
  src/components/HtmlEditor.test.jsx
  src/components/Paginate.jsx
  src/components/SvgEditor.jsx
  src/components/cards/index.jsx
  src/components/market/ParSingle.jsx
  src/components/market/RevenueSingle.jsx
  src/components/pages/games/Charters.jsx
  src/components/pages/games/Tiles.jsx
Due: prettier, eslint, test

fix(ui): start the editors below the toolbar and zoom charters to two
  src/components/HtmlEditor.jsx
  src/components/HtmlEditor.test.jsx
  src/components/SvgEditor.jsx
  src/components/SvgEditor.test.jsx
  src/components/pages/games/Charters.jsx
  src/hooks/use-pan-zoom.js
  tests/coverage.chrome.test.jsx
Due: prettier, eslint, test

fix(ui): pad the initial stock market view in the editor
  src/components/SvgEditor.test.jsx
  src/components/market/MarketSingle.jsx
Due: prettier, eslint, test

feat(ui): pan and zoom editor for every game section (#833)
  src/components/Editor.jsx
  src/components/HtmlEditor.jsx
  src/components/HtmlEditor.test.jsx
  src/components/Paginate.jsx
  src/components/SvgEditor.jsx
  src/components/SvgEditor.test.jsx
  src/components/cards/index.jsx
  src/components/market/MarketSingle.jsx
  src/components/market/ParSingle.jsx
  src/components/market/RevenueSingle.jsx
  src/components/pages/games/Background.jsx
  src/components/pages/games/Card.jsx
  src/components/pages/games/Charter.jsx
  src/components/pages/games/Charters.jsx
  src/components/pages/games/Tile.jsx
  src/components/pages/games/TileManifest.jsx
  src/components/pages/games/Tiles.jsx
  src/components/pages/games/Token.jsx
  src/hooks/use-pan-zoom.js
  tests/coverage.chrome.test.jsx
Due: prettier, eslint, test

fix(1858): remove per-cell height from the stock market
  src/data/games/1858.json
  tests/__snapshots__/1858/market.html
Due: validate, prettier, test

fix(1858): remove per-cell height from the stock market (#837)
  src/data/games/1858.json
  tests/__snapshots__/1858/market.html
Due: validate, prettier, test

refactor(ui): remove unused page components
  src/components/pages/Tile.jsx
  src/components/pages/elements/Cheat.jsx
Due: prettier, eslint, test

ci: make the e2e job depend on pr-body
  .github/workflows/test.yml
Due: prettier

ci: make the e2e job depend on pr-body (#839)
  .github/workflows/test.yml
Due: prettier

chore(release): v1.0.0-beta.127
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: prettier, test

chore(release): v1.0.0-beta.127 (#786)
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: prettier, test

fix(ui): use crosshair and shield icons for docs nav items
  src/components/nav/index.jsx
Due: prettier, eslint, test

feat(data): add TraXX publisher and remove 18 Grand Junction
  src/cli/__fixtures__/legacy-cli.js
  src/cli/legacy.test.js
  src/data/games/1883ExpressdOrient.json
  src/data/games/1888.json
  src/data/games/18GJ.json
  src/data/games/18LA.json
  src/data/games/18TraXX2020.json
  src/data/publishers/index.json
  src/data/publishers/traxx.png
Due: validate, prettier, eslint, test

fix(ui): use crosshair and shield icons for docs nav items (#843)
  src/components/nav/index.jsx
Due: prettier, eslint, test

feat(ui): add a download shortcut and move the docs key to m
  src/components/File.jsx
  src/components/Shortcuts.jsx
  src/components/nav/AppSidebar.jsx
  src/components/nav/index.jsx
  src/components/nav/sidebar/DownloadItem.jsx
  src/components/pages/games/InfoPage.jsx
  src/hooks/bindings.js
  src/locales/de.json
  src/locales/en.json
  src/locales/zh.json
  src/util/download.js
  tests/bindings/1.test.jsx
  tests/bindings/2.test.jsx
  tests/chrome/download.test.jsx
  tests/chrome/nav.test.jsx
Due: prettier, eslint, test

feat(data): add TraXX publisher and remove 18 Grand Junction (#847)
  src/cli/__fixtures__/legacy-cli.js
  src/cli/legacy.test.js
  src/data/games/1883ExpressdOrient.json
  src/data/games/1888.json
  src/data/games/18GJ.json
  src/data/games/18LA.json
  src/data/games/18TraXX2020.json
  src/data/publishers/index.json
  src/data/publishers/traxx.png
Due: validate, prettier, eslint, test

feat(ui): show markdown alerts with an icon and translated title
  src/components/docs/Markdown.jsx
  src/locales/de.json
  src/locales/en.json
  src/locales/zh.json
  src/styles/markdown.css
  tests/markdown.alerts.test.jsx
Due: prettier, eslint, stylelint, test

feat(ui): add a download shortcut and move the docs key to m (#849)
  src/components/File.jsx
  src/components/Shortcuts.jsx
  src/components/nav/AppSidebar.jsx
  src/components/nav/index.jsx
  src/components/nav/sidebar/DownloadItem.jsx
  src/components/pages/games/InfoPage.jsx
  src/hooks/bindings.js
  src/locales/de.json
  src/locales/en.json
  src/locales/zh.json
  src/util/download.js
  tests/bindings/1.test.jsx
  tests/bindings/2.test.jsx
  tests/chrome/download.test.jsx
  tests/chrome/nav.test.jsx
Due: prettier, eslint, test

feat(ui): make the app update link more noticeable
  src/components/nav/AppSidebar.jsx
  src/components/nav/Header.jsx
  src/components/nav/sidebar/UpdateItem.jsx
  src/locales/de.json
  src/locales/en.json
  src/locales/zh.json
  tests/chrome/nav.test.jsx
Due: prettier, eslint, test

fix(data): keep the 1861 and 1867 purchase links
  src/data/games/1861.json
  src/data/games/1867.json
Due: validate, prettier, test

fix(data): correct and fill in game info links
  src/cli/__fixtures__/legacy-cli.js
  src/data/games/1861.json
  src/data/games/1867.json
  src/data/games/1871BC.json
  src/data/games/18LA.json
  src/data/games/18SJ.json
  src/data/games/21Moon.json
  src/data/games/TheOldPrince1871.json
Due: validate, prettier, eslint, test

feat(ui): show markdown alerts with an icon and translated title (#850)
  src/components/docs/Markdown.jsx
  src/locales/de.json
  src/locales/en.json
  src/locales/zh.json
  src/styles/markdown.css
  tests/markdown.alerts.test.jsx
Due: prettier, eslint, stylelint, test

fix(ui): thin hover-reveal scrollbar in the sidebar
  src/components/ui/sidebar.jsx
Due: prettier, eslint, test

feat(ui): make the app update link more noticeable (#853)
  src/components/nav/AppSidebar.jsx
  src/components/nav/Header.jsx
  src/components/nav/sidebar/UpdateItem.jsx
  src/locales/de.json
  src/locales/en.json
  src/locales/zh.json
  tests/chrome/nav.test.jsx
Due: prettier, eslint, test

fix(data): correct and fill in game info links (#851)
  src/cli/__fixtures__/legacy-cli.js
  src/data/games/1871BC.json
  src/data/games/18LA.json
  src/data/games/18SJ.json
  src/data/games/21Moon.json
  src/data/games/TheOldPrince1871.json
Due: validate, prettier, eslint, test

feat(cli): export each format to its own folder
  DEVELOPMENT.md
  e2e/cli.spec.js
  e2e/export.spec.js
  src/cli/README.md
  src/cli/exportCommand.js
  src/cli/exportCommand.test.js
  src/cli/print.test.js
  src/docs/output/pdf.de.md
  src/docs/output/pdf.en.md
  src/docs/output/pdf.zh.md
  src/docs/output/png.de.md
  src/docs/output/png.en.md
  src/docs/output/png.zh.md
  src/docs/output/svg.de.md
  src/docs/output/svg.en.md
  src/docs/output/svg.zh.md
Due: prettier, eslint, test

fix(ui): thin hover-reveal scrollbar in the sidebar (#857)
  src/components/ui/sidebar.jsx
Due: prettier, eslint, test

feat(cli): export each format to its own folder (#858)
  DEVELOPMENT.md
  e2e/cli.spec.js
  e2e/export.spec.js
  src/cli/README.md
  src/cli/exportCommand.js
  src/cli/exportCommand.test.js
  src/cli/print.test.js
  src/docs/output/pdf.de.md
  src/docs/output/pdf.en.md
  src/docs/output/pdf.zh.md
  src/docs/output/png.de.md
  src/docs/output/png.en.md
  src/docs/output/png.zh.md
  src/docs/output/svg.de.md
  src/docs/output/svg.en.md
  src/docs/output/svg.zh.md
Due: prettier, eslint, test

fix(ui): reduce top margin of the info page marker
  src/components/pages/games/InfoPage.jsx
Due: prettier, eslint, test

fix(ui): reduce top margin of the info page marker (#862)
  src/components/pages/games/InfoPage.jsx
Due: prettier, eslint, test

fix(map): close the gap between hexes with removed borders
  src/components/Hex.jsx
  src/data/games/18Test.json
  src/util/hexClip.js
  src/util/hexClip.test.js
  tests/__snapshots__/1867/map.html
  tests/__snapshots__/18Test/cards.html
  tests/__snapshots__/18Test/map.html
Due: validate, prettier, eslint, test
