Repository 18xx-maker/18xx-maker: changes, and which lefthook commands are due for each by the changed paths.
All: schemas, validate, svgo, prettier, eslint, stylelint, test

lefthook.yml:

commit-msg:
  commands:
    commitlint:
      run: yarn commitlint --edit {1}

pre-commit:
  commands:
    schemas:
      run: make && yarn validate
      glob: "{public,src}/schemas/*.json"
      stage_fixed: true
      priority: 10
    validate:
      glob: "*.json"
      exclude:
        - "package.json"
        - "public/*"
        - "src/locales/*"
        - "src/schemas/*"
      run: node ./bin/schemas.cjs {staged_files}
      priority: 40
    svgo:
      glob: "*.svg"
      run: yarn svgo -f {staged_files}
      stage_fixed: true
      priority: 40
    prettier:
      glob: "*.{css,js,mjs,cjs,jsx,json,yml,yaml}"
      run: yarn prettier --write {staged_files}
      stage_fixed: true
      priority: 20
    eslint:
      glob: "*.{js,mjs,cjs,jsx}"
      run: yarn eslint --fix {staged_files}
      stage_fixed: true
      priority: 30
    stylelint:
      glob: "*.css"
      run: yarn stylelint --fix {staged_files}
      stage_fixed: true
      priority: 30
    test:
      glob: "*.{js,mjs,cjs,jsx,json}"
      run: yarn vitest related --run {staged_files}
      priority: 50

feat: adding config for pin placements on dies
  public/schemas/config.schema.json
  src/Pins.jsx
  src/cards/index.jsx
  src/config/Config.jsx
  src/defaults.json
  src/pages/games/Charters.jsx
  src/pages/games/Tiles.jsx
  src/schemas/config.schema.json
  src/tilesheet/Pins.jsx
Due: schemas, validate, prettier, eslint, test

feat: adding dtgPadding config option
  src/cards/index.jsx
  src/config/Config.jsx
  src/defaults.json
  src/index.css
  src/schemas/config.schema.json
Due: schemas, validate, prettier, eslint, stylelint, test

fix: fixing config schema
  public/schemas/config.schema.json
Due: schemas, prettier, test

fix: file watching in electron
  electron/main/index.js
  electron/preload/preload.js
  src/context/GameContext.jsx
Due: prettier, eslint, test

chore(release): v1.0.0-beta.77
  package.json
Due: prettier, test

fix: all propEq's have the correct argument order
  bin/b18.js
  src/market/Cell.jsx
  src/pages/games/Token.jsx
  src/pages/games/b18/Tokens.jsx
  src/tokens/GameMapCompanyToken.jsx
Due: prettier, eslint, test

chore(release): v1.0.0-beta.78
  package.json
Due: prettier, test

fix: remove console.log
  src/tokens/GameMapCompanyToken.jsx
Due: prettier, eslint, test

feat: adding coverage ability and network timeout
  .yarnrc
  package.json
  yarn.lock
Due: prettier, test

chore: set frozen lockfile
  .github/workflows/app.yml
  .github/workflows/pr.yml
Due: prettier

feat: adding file input for OPFS (non-system) browers
  src/pages/docs/files.en.md
  src/pages/load/LoadGames.jsx
Due: prettier, eslint, test

feat: adding coverage to pr.yml
  .github/workflows/pr.yml
Due: prettier

chore: adding in other code coverage tools to help pick best one
  .github/workflows/pr.yml
Due: prettier

feat: add junit reporting for codecov
  .github/workflows/pr.yml
  .gitignore
  vitest.config.js
Due: prettier, eslint, test

feat: adding codecov bundle analysis
  .github/workflows/pr.yml
  package.json
  vite.config.js
  yarn.lock
Due: prettier, eslint, test

feat: adding build:app to CI
  .github/workflows/pr.yml
  electron.vite.config.js
Due: prettier, eslint, test

feat: adding file input for OPFS (non-system) browers (#530)
  .github/workflows/pr.yml
  .gitignore
  electron.vite.config.js
  package.json
  src/pages/docs/files.en.md
  src/pages/load/LoadGames.jsx
  vite.config.js
  vitest.config.js
  yarn.lock
Due: prettier, eslint, test

docs: new badge setup
  README.md
Due: none

docs: new badge setup (#531)
  README.md
Due: none

chore(release): v1.0.0-beta.79
  package.json
Due: prettier, test

fix: only output junit.xml in CI
  vitest.config.js
Due: prettier, eslint, test

fix: handle canceling open dialogs
  electron/main/menu.js
  electron/main/window.js
  electron/preload/preload.js
  src/hooks/bindings.js
  src/pages/load/LoadGames.jsx
  src/util/idb.js
Due: prettier, eslint, test

fix: handle canceling open dialogs (#532)
  electron/main/menu.js
  electron/main/window.js
  electron/preload/preload.js
  src/hooks/bindings.js
  src/pages/load/LoadGames.jsx
  src/util/idb.js
  vitest.config.js
Due: prettier, eslint, test

fix: progress alerts
  src/Root.jsx
Due: prettier, eslint, test

chore: adding react testing library
  package.json
  setup-tests.js
  vitest.config.js
  yarn.lock
Due: prettier, eslint, test

chore: better vitest coverage options
  vitest.config.js
Due: prettier, eslint, test

feat: improving coverage
  .github/workflows/pr.yml
  eslint.config.js
  lefthook.yml
  package.json
  public/schemas/game.schema.json
  setup-tests.js
  src/Loading.jsx
  src/Root.jsx
  src/data/games/18Test.json
  src/hooks/bindings.js
  src/i18n.js
  src/pages/games/Card.jsx
  src/schemas/game.schema.json
  src/state/storage.test.js
  src/state/store.js
  tests/app.test.jsx
  tests/bindings.1.test.jsx
  tests/bindings.2.test.jsx
  tests/game.b18.test.jsx
  tests/game.charters.test.jsx
  tests/game.config.test.jsx
  tests/game.markets.test.jsx
  tests/game.params.test.jsx
  tests/game.parts.test.jsx
  tests/game.single.test.jsx
  tests/game.test.jsx
  tests/game.tiles.test.jsx
  tests/helpers.jsx
  tests/i18n.js
  tests/setup.js
  vitest.config.js
  yarn.lock
Due: schemas, validate, prettier, eslint, test

fix: exclude slow tests on commit hooks
  lefthook.yml
Due: prettier

chore: clean up ignore files
  .dockerignore
  .ignore
  .prettierignore
Due: none

fix: add basic reporter back to test runner
  vitest.config.js
Due: prettier, eslint, test

chore: better action ordering
  .github/workflows/pr.yml
Due: prettier

fix: longer test timeout
  vitest.config.js
Due: prettier, eslint, test

chore(release): v1.0.0-beta.80
  package.json
Due: prettier, test

chore: add codacy support
  .github/workflows/pr.yml
Due: prettier

chore: add codacy badges
  README.md
Due: none

chore: reformat all of the coverage badges
  README.md
Due: none
