Repository 18xx-maker/18xx-maker: changes, and which lefthook commands are due for each by the changed paths.
All: schemas, validate, svgo, prettier, eslint, stylelint, test

schemas:
  run: make && yarn validate:schemas
  stage_fixed: true
  priority: 10

validate:
  run: node ./bin/schemas.cjs {staged_files}
  priority: 40

svgo:
  run: yarn svgo:check {staged_files}
  stage_fixed: true
  priority: 40

prettier:
  run: yarn prettier --write {staged_files}
  stage_fixed: true
  priority: 20

eslint:
  run: yarn eslint --fix {staged_files}
  stage_fixed: true
  priority: 30

stylelint:
  run: yarn stylelint --fix {staged_files}
  stage_fixed: true
  priority: 30

test:
  run: yarn vitest related --coverage.enabled=false --reporter=basic --exclude "tests/**" --run {staged_files}
  priority: 50

chore(release): v1.0.0-beta.105
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: prettier, test

chore(release): v1.0.0-beta.105 (#640)
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: prettier, test

docs(readme): adding analytics badge
  README.md
Due: prettier

docs(readme): adding analytics badge (#641)
  README.md
Due: prettier

docs(readme): adding UV label to metric
  README.md
Due: prettier

docs(readme): adding UV label to metric (#643)
  README.md
Due: prettier

docs(github): rearrangement of doc files and adding GFM
  DEVELOPMENT.md
  Makefile
  README.md
  docker/README.md
  package.json
  pnpm-lock.yaml
  src/components/Markdown.jsx
  src/components/nav/DocsNav.jsx
  src/components/pages/Docs.jsx
  src/docs/developing.en.md
  src/docs/index.en.md
  src/locales/en.json
  src/styles/index.css
  src/styles/markdown.css
Due: prettier, eslint, stylelint, test

docs(github): rearrangement of doc files and adding GFM (#644)
  DEVELOPMENT.md
  Makefile
  README.md
  docker/README.md
  package.json
  pnpm-lock.yaml
  src/components/Markdown.jsx
  src/components/nav/DocsNav.jsx
  src/components/pages/Docs.jsx
  src/docs/developing.en.md
  src/docs/index.en.md
  src/locales/en.json
  src/styles/index.css
  src/styles/markdown.css
Due: prettier, eslint, stylelint, test

fix(elements): print at least one token on a page.
  src/components/pages/games/Tokens.jsx
Due: prettier, eslint, test

remove perPageCalculations from return statement.
  src/components/pages/games/Tokens.jsx
Due: prettier, eslint, test

fix(elements): print at least one token on a page (#645). (#646)
  src/components/pages/games/Tokens.jsx
Due: prettier, eslint, test

fix(docs): table display is now working in markdown docs
  src/components/pages/Docs.jsx
Due: prettier, eslint, test

fix(docs): table display is now working in markdown docs (#648)
  src/components/pages/Docs.jsx
Due: prettier, eslint, test

chore(app): improve the app info page a bit
  src/components/pages/App.jsx
  src/locales/en.json
Due: prettier, eslint, test

chore(app): improve the app info page a bit (#649)
  src/components/pages/App.jsx
  src/locales/en.json
Due: prettier, eslint, test

fix(app): properly make windows transparent without deprecation warnings
  electron/main/export.js
  electron/main/window.js
Due: prettier, eslint, test

fix(app): properly make windows transparent without deprecation warnings (#651)
  electron/main/export.js
  electron/main/window.js
Due: prettier, eslint, test

chore(app): turn sandbox mode on
  electron.vite.config.js
  electron/main/window.js
  electron/preload/preload.js
  package.json
Due: prettier, eslint, test

chore(app): turn sandbox mode on (#652)
  electron.vite.config.js
  electron/main/window.js
  electron/preload/preload.js
  package.json
Due: prettier, eslint, test

chore(bin): removing renumber script
  bin/hex-renumber.pl
Due: none

feat(cli): maker CLI created with all non-schema commands
  Makefile
  bin/b18.js
  bin/maker.js
  bin/print.js
  package.json
  pnpm-lock.yaml
  src/cli/b18.js
  src/cli/compile.js
  src/cli/config.js
  src/cli/print.js
  src/cli/util.js
  src/cli/version.js
Due: prettier, eslint, test

feat(cli): adding compile schemas to maker cli
  Makefile
  bin/compileSchemas.cjs
  bin/maker.js
  src/cli/compile-schemas.js
  src/cli/compile.js
  src/cli/util.js
Due: prettier, eslint, test

feat(cli): added validate to maker cli
  bin/maker.js
  bin/schemas.cjs
  lefthook.yml
  package.json
  src/cli/util.js
  src/cli/validate.cjs
  src/cli/validate.js
Due: prettier, eslint, test

docs(cli): updated all site documentation with the new maker cli commands
  DEVELOPMENT.md
  src/docs/games/schemas.en.md
  src/docs/output/b18.en.md
  src/docs/output/pdf.en.md
  src/docs/output/png.en.md
Due: prettier

chore(cli): replace ajv with json-schema-library
  bin/maker.js
  package.json
  pnpm-lock.yaml
  public/schemas/game.schema.json
  src/cli/validate.js
  src/schemas/draft07.schema.json
  src/schemas/game.schema.json
Due: schemas, prettier, eslint, test

chore(cli): clean up validate package.json scripts
  package.json
Due: prettier, test

ci(validate): allow colors in github actions
  .github/workflows/test.yml
Due: prettier

feat(cli): consolidated cli into one command: maker (#653)
  .github/workflows/test.yml
  DEVELOPMENT.md
  Makefile
  bin/b18.js
  bin/compileSchemas.cjs
  bin/hex-renumber.pl
  bin/maker.js
  bin/print.js
  bin/schemas.cjs
  lefthook.yml
  package.json
  pnpm-lock.yaml
  public/schemas/game.schema.json
  src/cli/b18.js
  src/cli/compile-schemas.js
  src/cli/config.js
  src/cli/print.js
  src/cli/util.js
  src/cli/validate.cjs
  src/cli/validate.js
  src/cli/version.js
  src/docs/games/schemas.en.md
  src/docs/output/b18.en.md
  src/docs/output/pdf.en.md
  src/docs/output/png.en.md
  src/schemas/draft07.schema.json
  src/schemas/game.schema.json
Due: schemas, prettier, eslint, test

fix: lefthook pre-commit use changed script named validate
  lefthook.yml
Due: prettier

fix(cli): validate:schemas is still needed
  lefthook.yml
  package.json
Due: prettier, test

fix(cli): validate:schemas is still needed (#655)
  lefthook.yml
  package.json
Due: prettier, test

feat: validate config schema before updating store
  src/hooks/config.js
Due: prettier, eslint, test

feat: validate config schema before updating store. (#647)
  src/hooks/config.js
Due: prettier, eslint, test

chore(release): v1.0.0-beta.106
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: prettier, test

chore(release): v1.0.0-beta.106 (#642)
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: prettier, test

docs(home): update the home page
  .ignore
  README.md
  src/components/pages/Home.jsx
  src/locales/en.json
Due: prettier, eslint, test

docs(home): update the home page (#656)
  .ignore
  README.md
  src/components/pages/Home.jsx
  src/locales/en.json
Due: prettier, eslint, test

docs(home): add getting started section
  src/components/TileFilters.jsx
  src/components/pages/Docs.jsx
  src/components/pages/Home.jsx
  src/components/pages/elements/Atoms.jsx
  src/components/pages/elements/Logos.jsx
  src/components/pages/elements/Tiles.jsx
  src/components/pages/load/LoadGames.jsx
  src/locales/en.json
Due: prettier, eslint, test

docs(home): add getting started section (#658)
  src/components/TileFilters.jsx
  src/components/pages/Docs.jsx
  src/components/pages/Home.jsx
  src/components/pages/elements/Atoms.jsx
  src/components/pages/elements/Logos.jsx
  src/components/pages/elements/Tiles.jsx
  src/components/pages/load/LoadGames.jsx
  src/locales/en.json
Due: prettier, eslint, test

chore(cli): add more node import shortcuts
  package.json
Due: prettier, test

Path conditions:
  schemas: any of: {public,src}/schemas/*.json
  validate: any of: *.json, but not: package.json, release-please-config.json, .release-please-manifest.json, public/*, src/locales/*, src/schemas/*
  svgo: any of: *.svg
  prettier: any of: *.{css,js,mjs,cjs,jsx,json,yml,yaml,md}
  eslint: any of: *.{js,mjs,cjs,jsx}
  stylelint: any of: *.css
  test: any of: *.{js,mjs,cjs,jsx,json}
