Repository 18xx-maker/18xx-maker: changes, and which lefthook commands are due for each by the changed paths.
All: schemas, validate, svgo, prettier, eslint, stylelint, test

lefthook.yml:

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit {1}

pre-commit:
  commands:
    schemas:
      run: make && pnpm validate:schemas
      glob: "{public,src}/schemas/*.json"
      stage_fixed: true
      priority: 10
    validate:
      glob: "*.json"
      exclude:
        - "package.json"
        - "release-please-config.json"
        - ".release-please-manifest.json"
        - "public/*"
        - "src/locales/*"
        - "src/schemas/*"
      run: node ./bin/maker.js validate {staged_files}
      priority: 40
    svgo:
      glob: "*.svg"
      run: pnpm exec svgo {staged_files}
      stage_fixed: true
      priority: 40
    prettier:
      glob: "*.{css,js,mjs,cjs,jsx,json,yml,yaml,md}"
      run: pnpm prettier --write {staged_files}
      stage_fixed: true
      priority: 20
    eslint:
      glob: "*.{js,mjs,cjs,jsx}"
      run: pnpm eslint --fix {staged_files}
      stage_fixed: true
      priority: 30
    stylelint:
      glob: "*.css"
      run: pnpm stylelint --fix {staged_files}
      stage_fixed: true
      priority: 30
    test:
      glob: "*.{js,mjs,cjs,jsx,json}"
      run: pnpm vitest related --coverage.enabled=false --reporter=basic --exclude "tests/**" --run {staged_files}
      priority: 50

fix(cards): keep company group marks clear of loans, names and text
  src/components/Charter.jsx
  src/components/atoms/GroupMark.jsx
  src/components/cards/Share.jsx
  src/docs/games/types.de.md
  src/docs/games/types.en.md
  src/docs/games/types.zh.md
  src/styles/card.css
  src/styles/share.css
  tests/__snapshots__/18Test/cards.html
  tests/__snapshots__/18Test/charters.html
  tests/charter.group.test.jsx
  tests/coverage/charter.test.jsx
  tests/game/group-share-card.test.jsx
  tests/group-mark.test.jsx
Due: prettier, eslint, stylelint, test

feat(cards): add company groups with identifying marks (#986)
  public/schemas/game.schema.json
  src/cli/validate.test.js
  src/components/Charter.jsx
  src/components/atoms/GroupMark.jsx
  src/components/atoms/GroupMark.stories.js
  src/components/cards/Private.jsx
  src/components/cards/Share.jsx
  src/data/games/18Test.json
  src/docs/games/game-info.de.md
  src/docs/games/game-info.en.md
  src/docs/games/game-info.zh.md
  src/docs/games/overrides.de.md
  src/docs/games/overrides.en.md
  src/docs/games/overrides.zh.md
  src/docs/games/privates.de.md
  src/docs/games/privates.en.md
  src/docs/games/privates.zh.md
  src/docs/games/types.de.md
  src/docs/games/types.en.md
  src/docs/games/types.zh.md
  src/schemas/game.schema.json
  src/styles/card.css
  src/styles/private.css
  src/styles/share.css
  src/util/companies/companyOverrides.test.js
  tests/__snapshots__/18Test/cards.html
  tests/__snapshots__/18Test/charters.html
  tests/charter.group.test.jsx
  tests/coverage/charter.test.jsx
  tests/game/group-share-card.test.jsx
  tests/group-mark.test.jsx
Due: schemas, validate, prettier, eslint, stylelint, test

fix(export): validate job paths and keep dotted names
  src/export/pool.js
  src/export/pool.test.js
  src/export/service.js
  src/export/service.test.js
  src/export/sink.js
  src/export/sink.test.js
Due: prettier, eslint, test

fix(electron): guard ipc channels and keep config and games safe
  electron/main/config.js
  electron/main/game.js
  electron/main/guard.js
  electron/main/index.js
  electron/main/loadGame.js
  electron/main/menu.js
  electron/main/watch.js
  electron/main/watcher.js
  electron/preload/api.js
  src/components/pages/load/GameRow.jsx
  src/export/config.test.js
  src/export/gamePath.test.js
  src/export/guard.test.js
  src/export/loadGame.test.js
  src/export/preload.test.js
  src/export/watcher.test.js
  src/locales/de.json
  src/locales/en.json
  src/locales/zh.json
  src/state/game.js
  src/util/analytics.js
  tests/chrome/load.test.jsx
Due: prettier, eslint, test

fix(storage): keep unreadable games, survive store failures and guard open errors
  src/components/pages/load/LoadGamesPage.jsx
  src/state/storage.js
  src/state/storage.test.js
  src/state/summaries.js
  src/state/thunks.test.js
  src/util/market.js
  src/util/market.test.js
  src/util/storage/opfs.js
  src/util/storage/opfs.test.js
  tests/coverage/electron.test.jsx
Due: prettier, eslint, test

refactor: remove dead exports and merge duplicate helpers and rules
  electron/main/window.js
  src/cli/exportCommand.js
  src/cli/util.js
  src/components/tokenEditor/tokenModel.js
  src/context/ThemeProvider.jsx
  src/styles/private.css
  src/styles/share.css
  src/styles/train.css
  src/util/index.js
  src/util/jsonEditor.js
  src/util/newGame.js
  src/util/titleFilename.js
Due: prettier, eslint, stylelint, test

fix(electron): address review findings
  e2e/load.spec.js
  electron/main/config.js
  electron/main/index.js
  electron/main/loadGame.js
  src/components/pages/load/GameRow.jsx
  src/export/config.test.js
  src/export/loadGame.test.js
  src/util/storage/opfs.js
  src/util/storage/opfs.test.js
  tests/chrome/load.test.jsx
Due: prettier, eslint, test

feat(cards): print train card backs with duplex
  src/components/cards/TrainBack.jsx
  src/components/cards/TrainBack.stories.js
  src/components/cards/index.jsx
  src/components/config/Input.jsx
  src/components/config/Items.jsx
  src/components/config/index.js
  src/data/games/18Test.json
  src/locales/de.json
  src/locales/en.json
  src/locales/zh.json
  src/styles/card.css
  src/styles/train.css
  tests/__snapshots__/18Test/cards-duplex.html
  tests/print/duplex.test.jsx
  tests/snapshots.test.jsx
Due: validate, prettier, eslint, stylelint, test

feat(cards): add train back and duplex config schema
  public/schemas/config.schema.json
  public/schemas/game.schema.json
  src/cli/validate.test.js
  src/components/schemaForm/resolve.test.js
  src/schemas/config.schema.json
  src/schemas/game.schema.json
  src/util/cards.js
  src/util/cards.test.js
Due: schemas, prettier, eslint, test

fix(cards): right align pages of duplex backs
  src/components/cards/index.jsx
  src/docs/output/pdf.de.md
  src/docs/output/pdf.en.md
  src/docs/output/pdf.zh.md
  src/locales/de.json
  src/locales/en.json
  src/locales/zh.json
  src/styles/card.css
  src/styles/cutlines.css
  src/util/cards.js
  src/util/cards.test.js
  tests/__snapshots__/18Test/cards-duplex.html
  tests/print/duplex.test.jsx
Due: prettier, eslint, stylelint, test

docs(cards): document train backs and duplex printing
  src/docs/games/pages.de.md
  src/docs/games/pages.en.md
  src/docs/games/pages.zh.md
  src/docs/games/trains.de.md
  src/docs/games/trains.en.md
  src/docs/games/trains.zh.md
  src/docs/output/pdf.de.md
  src/docs/output/pdf.en.md
  src/docs/output/pdf.zh.md
Due: prettier

feat(cards): let a train back be a full train card
  public/schemas/game.schema.json
  src/cli/validate.test.js
  src/components/cards/TrainBack.jsx
  src/components/cards/TrainBack.stories.js
  src/components/cards/index.jsx
  src/components/schemaForm/resolve.test.js
  src/data/games/18Test.json
  src/docs/games/trains.de.md
  src/docs/games/trains.en.md
  src/docs/games/trains.zh.md
  src/schemas/game.schema.json
  tests/__snapshots__/18Test/cards-duplex.html
  tests/print/duplex.test.jsx
Due: schemas, validate, prettier, eslint, test

fix(cards): look up back-only trains for rust and obsolete notes
  public/schemas/game.schema.json
  src/components/cards/TrainBack.stories.js
  src/components/cards/index.jsx
  src/data/games/18Test.json
  src/docs/games/trains.de.md
  src/docs/games/trains.en.md
  src/docs/games/trains.zh.md
  src/schemas/game.schema.json
  tests/__snapshots__/18Test/cards-duplex.html
  tests/__snapshots__/18Test/cards.html
  tests/print/duplex.test.jsx
Due: schemas, validate, prettier, eslint, test

fix(cards): look up back-only trains on a single card page
  src/components/cards/index.jsx
  src/components/pages/games/CardPage.jsx
  src/util/companies/companyTrains.js
  src/util/companies/companyTrains.test.js
  tests/coverage/cards.test.jsx
Due: prettier, eslint, test

feat(cards): add double-sided train cards (#988)
  public/schemas/config.schema.json
  public/schemas/game.schema.json
  src/cli/validate.test.js
  src/components/cards/TrainBack.jsx
  src/components/cards/TrainBack.stories.js
  src/components/cards/index.jsx
  src/components/config/Input.jsx
  src/components/config/Items.jsx
  src/components/config/index.js
  src/components/pages/games/CardPage.jsx
  src/components/schemaForm/resolve.test.js
  src/data/games/18Test.json
  src/docs/games/pages.de.md
  src/docs/games/pages.en.md
  src/docs/games/pages.zh.md
  src/docs/games/trains.de.md
  src/docs/games/trains.en.md
  src/docs/games/trains.zh.md
  src/docs/output/pdf.de.md
  src/docs/output/pdf.en.md
  src/docs/output/pdf.zh.md
  src/locales/de.json
  src/locales/en.json
  src/locales/zh.json
  src/schemas/config.schema.json
  src/schemas/game.schema.json
  src/styles/card.css
  src/styles/cutlines.css
  src/styles/train.css
  src/util/cards.js
  src/util/cards.test.js
  src/util/companies/companyTrains.js
  src/util/companies/companyTrains.test.js
  tests/__snapshots__/18Test/cards-duplex.html
  tests/coverage/cards.test.jsx
  tests/print/duplex.test.jsx
  tests/snapshots.test.jsx
Due: schemas, validate, prettier, eslint, stylelint, test

feat(map): add half hexes
  public/schemas/tiles.defs.json
  src/cli/validate.test.js
  src/components/Hex.jsx
  src/components/atoms/HexBorder.jsx
  src/components/atoms/HexBorder.stories.js
  src/data/games/18Test.json
  src/docs/games/tiles.de.md
  src/docs/games/tiles.en.md
  src/docs/games/tiles.zh.md
  src/schemas/tiles.defs.json
  src/schemas/tiles.src.json
  src/util/hexClip.js
  src/util/hexClip.test.js
  tests/__snapshots__/18Test/map.html
  tests/game/map-half.test.jsx
Due: schemas, validate, prettier, eslint, test

feat(map): add trim to cut half a row or column off the map edges
  e2e/cli.spec.js
  e2e/electron.spec.js
  e2e/export-files.js
  e2e/games.spec.js
  public/schemas/game.schema.json
  src/cli/__fixtures__/legacy-cli.js
  src/cli/validate.test.js
  src/components/map/Map.jsx
  src/data/games/18Test.json
  src/docs/games/tiles.de.md
  src/docs/games/tiles.en.md
  src/docs/games/tiles.zh.md
  src/schemas/game.schema.json
  src/util/map.js
  src/util/map.test.js
  src/util/map.trim.test.js
  tests/__snapshots__/18Test/map.html
  tests/game/map-half.test.jsx
  tests/game/map-trim.test.jsx
Due: schemas, validate, prettier, eslint, test

fix(map): keep trimmed map labels, board18 grid and halves consistent
  public/schemas/game.schema.json
  src/components/Hex.jsx
  src/export/b18.js
  src/export/b18.test.js
  src/schemas/game.schema.json
  src/util/map.js
  src/util/map.trim.test.js
  tests/game/map-trim.test.jsx
Due: schemas, prettier, eslint, test

refactor(ui): split SchemaField into per-kind files
  src/components/schemaForm/SchemaField.jsx
  src/components/schemaForm/fields/ChoiceFields.jsx
  src/components/schemaForm/fields/ColorFields.jsx
  src/components/schemaForm/fields/ListFields.jsx
  src/components/schemaForm/fields/NumberFields.jsx
  src/components/schemaForm/fields/ObjectField.jsx
  src/components/schemaForm/fields/RecordField.jsx
  src/components/schemaForm/fields/StringFields.jsx
  src/components/schemaForm/fields/shared.jsx
Due: prettier, eslint, test

feat(ui): trim edit panel chrome
  src/components/editPanel/EditNav.jsx
  src/components/editPanel/EditPanel.jsx
  src/components/editPanel/sections.test.jsx
  src/docs/files.de.md
  src/docs/files.en.md
  src/docs/files.zh.md
  src/locales/de.json
  src/locales/en.json
  src/locales/zh.json
  tests/game/edit-nav-problems.test.jsx
Due: prettier, eslint, test

fix(ui): share hex problem lookup with the nav dots
  src/components/editPanel/EditNav.jsx
  src/components/editPanel/HexSection.jsx
  src/components/editPanel/sections.test.jsx
  src/locales/de.json
  src/locales/en.json
  src/locales/zh.json
  src/util/hexEdit.js
  tests/game/edit-nav-problems.test.jsx
  tests/game/edit-panel-json.test.jsx
  tests/game/edit-panel.test.jsx
Due: prettier, eslint, test

refactor(ui): split SchemaField into per-kind files (#1000)
  src/components/schemaForm/SchemaField.jsx
  src/components/schemaForm/fields/ChoiceFields.jsx
  src/components/schemaForm/fields/ColorFields.jsx
  src/components/schemaForm/fields/ListFields.jsx
  src/components/schemaForm/fields/NumberFields.jsx
  src/components/schemaForm/fields/ObjectField.jsx
  src/components/schemaForm/fields/RecordField.jsx
  src/components/schemaForm/fields/StringFields.jsx
  src/components/schemaForm/fields/shared.jsx
Due: prettier, eslint, test

feat(map): add half hexes and map trim (#994)
  e2e/cli.spec.js
  e2e/electron.spec.js
  e2e/export-files.js
  e2e/games.spec.js
  public/schemas/game.schema.json
  public/schemas/tiles.defs.json
  src/cli/__fixtures__/legacy-cli.js
  src/cli/validate.test.js
  src/components/Hex.jsx
  src/components/atoms/HexBorder.jsx
  src/components/atoms/HexBorder.stories.js
  src/components/map/Map.jsx
  src/data/games/18Test.json
  src/docs/games/tiles.de.md
  src/docs/games/tiles.en.md
  src/docs/games/tiles.zh.md
  src/export/b18.js
  src/export/b18.test.js
  src/schemas/game.schema.json
  src/schemas/tiles.defs.json
  src/schemas/tiles.src.json
  src/util/hexClip.js
  src/util/hexClip.test.js
  src/util/map.js
  src/util/map.test.js
  src/util/map.trim.test.js
  tests/__snapshots__/18Test/map.html
  tests/game/map-trim.test.jsx
Due: schemas, validate, prettier, eslint, test

feat(schemas): localize schema descriptions
  Makefile
  bin/maker.js
  public/schemas/de/companies.schema.json
  public/schemas/de/config.schema.json
  public/schemas/de/game.schema.json
  public/schemas/de/publishers.schema.json
  public/schemas/de/theme.schema.json
  public/schemas/de/tiles.defs.json
  public/schemas/de/tiles.schema.json
  public/schemas/zh/companies.schema.json
  public/schemas/zh/config.schema.json
  public/schemas/zh/game.schema.json
  public/schemas/zh/publishers.schema.json
  public/schemas/zh/theme.schema.json
  public/schemas/zh/tiles.defs.json
  public/schemas/zh/tiles.schema.json
  src/cli/compile-schemas.js
  src/cli/compile-schemas.test.js
  src/components/schemaForm/CellInspector.jsx
  src/components/schemaForm/fields/ListFields.jsx
  src/components/schemaForm/fields/ObjectField.jsx
  src/components/schemaForm/fields/RecordField.jsx
  src/components/schemaForm/fields/shared.jsx
  src/components/schemaForm/resolve.test.js
  src/components/schemaForm/schemaText.js
  src/components/schemaForm/schemaText.test.jsx
  src/components/tokenEditor/TokenEditorDialog.jsx
  src/locales/schema.de.json
  src/locales/schema.en.json
  src/locales/schema.zh.json
  src/schemas/fields.schema.json
  src/schemas/tiles.defs.json
  src/schemas/tiles.src.json
  src/util/schemaKeys.js
  src/util/schemaKeys.test.js
  src/util/schemaRefs.test.js
Due: schemas, prettier, eslint, test

test(schemas): check schema locales and validate localized copies
  CLAUDE.md
  DEVELOPMENT.md
  lefthook.yml
  package.json
  src/cli/validate.test.js
  src/locales/locales.test.js
Due: prettier, eslint, test

feat(schemas): add deprecationMessage to deprecated fields
  public/schemas/de/game.schema.json
  public/schemas/game.schema.json
  public/schemas/zh/game.schema.json
  src/cli/compile-schemas.test.js
  src/locales/schema.de.json
  src/locales/schema.en.json
  src/locales/schema.zh.json
  src/schemas/game.schema.json
Due: schemas, prettier, eslint, test

feat(locales): translate schema strings to chinese
  public/schemas/zh/companies.schema.json
  public/schemas/zh/config.schema.json
  public/schemas/zh/game.schema.json
  public/schemas/zh/theme.schema.json
  public/schemas/zh/tiles.defs.json
  src/locales/schema.zh.json
Due: schemas, prettier, test

fix(schemas): address review findings
  CLAUDE.md
  Makefile
  src/components/schemaForm/schemaText.js
  src/components/schemaForm/schemaText.test.jsx
  src/util/schemaKeys.js
  src/util/schemaKeys.test.js
Due: prettier, eslint, test

feat(locales): translate schema strings to german
  public/schemas/de/companies.schema.json
  public/schemas/de/config.schema.json
  public/schemas/de/game.schema.json
  public/schemas/de/theme.schema.json
  public/schemas/de/tiles.defs.json
  src/locales/schema.de.json
Due: schemas, prettier, test

test(ui): keep pending loads pending and wait for the library after a failed load
  tests/chrome/load.test.jsx
  tests/game/edit-panel-json.test.jsx
Due: prettier, eslint, test

feat(ui): trim edit panel chrome (#1001)
  src/components/editPanel/EditNav.jsx
  src/components/editPanel/EditPanel.jsx
  src/components/editPanel/HexSection.jsx
  src/components/editPanel/sections.test.jsx
  src/docs/files.de.md
  src/docs/files.en.md
  src/docs/files.zh.md
  src/locales/de.json
  src/locales/en.json
  src/locales/zh.json
  src/util/hexEdit.js
  tests/game/edit-nav-problems.test.jsx
  tests/game/edit-panel-json.test.jsx
  tests/game/edit-panel.test.jsx
Due: prettier, eslint, test

fix(schemas): translate half hex and map trim descriptions
  public/schemas/de/game.schema.json
  public/schemas/de/tiles.defs.json
  public/schemas/zh/game.schema.json
  public/schemas/zh/tiles.defs.json
  src/locales/schema.de.json
  src/locales/schema.en.json
  src/locales/schema.zh.json
  src/schemas/game.schema.json
  src/schemas/tiles.defs.json
  src/schemas/tiles.src.json
Due: schemas, prettier, test

chore(release): v1.0.0-beta.132
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: prettier, test

chore(release): v1.0.0-beta.132 (#909)
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: prettier, test

refactor(schema)!: remove unused fields from the schemas and data
  public/schemas/de/game.schema.json
  public/schemas/de/tiles.defs.json
  public/schemas/game.schema.json
  public/schemas/tiles.defs.json
  public/schemas/zh/game.schema.json
  public/schemas/zh/tiles.defs.json
  src/cli/compile-schemas.js
  src/cli/compile-schemas.test.js
  src/data/games/1858.json
  src/data/games/1861.json
  src/data/games/1867.json
  src/data/games/1871BC.json
  src/data/games/1883ExpressdOrient.json
  src/data/games/1888.json
  src/data/games/1889.json
  src/data/games/18Broken.json
  src/data/games/18EB.json
  src/data/games/18GJ.json
  src/data/games/18LA.json
  src/data/games/18NC.json
  src/data/games/18SJ.json
  src/data/games/18Test.json
  src/data/games/18TraXX2020.json
  src/data/tiles/brown.json
  src/data/tiles/green.json
  src/data/tiles/yellow.json
  src/locales/schema.de.json
  src/locales/schema.en.json
  src/locales/schema.zh.json
  src/schemas/fields.schema.json
  src/schemas/game.schema.json
  src/schemas/tiles.defs.json
  src/schemas/tiles.src.json
Due: schemas, validate, prettier, eslint, test

feat(problems): list removed fields as deprecated warnings
  src/cli/exportCommand.js
  src/cli/exportCommand.test.js
  src/cli/validate.js
  src/cli/validate.test.js
  src/locales/de.json
  src/locales/en.json
  src/locales/zh.json
  src/util/gameValidation.js
  src/util/gameValidation.test.js
  tests/game/problems.test.jsx
Due: prettier, eslint, test

refactor(ui): remove the forms of the removed fields
  e2e/a11y.spec.js
  src/components/schemaForm/OutputForm.jsx
  src/components/schemaForm/PlayersForm.jsx
  src/components/schemaForm/RoundsForm.jsx
  src/components/schemaForm/SchemaField.test.jsx
  src/components/schemaForm/resolve.js
  src/components/schemaForm/resolve.test.js
  tests/game/edit-panel.test.jsx
Due: prettier, eslint, test

docs: drop the removed fields and list them
  CLAUDE.md
  DEVELOPMENT.md
  src/docs/files.de.md
  src/docs/files.en.md
  src/docs/files.zh.md
  src/docs/games/game-info.de.md
  src/docs/games/game-info.en.md
  src/docs/games/game-info.zh.md
  src/docs/games/privates.de.md
  src/docs/games/privates.en.md
  src/docs/games/privates.zh.md
  src/docs/games/tiles.de.md
  src/docs/games/tiles.en.md
  src/docs/games/tiles.zh.md
  src/docs/games/trains.de.md
  src/docs/games/trains.en.md
  src/docs/games/trains.zh.md
  src/docs/games/types.de.md
  src/docs/games/types.en.md
  src/docs/games/types.zh.md
Due: prettier
