Repository 18xx-maker/18xx-maker: changes, and which lefthook commands are due for each by the changed paths.
All: schemas, validate, svgo, prettier, eslint, stylelint, test

lefthook.yml:

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit {1}

pre-commit:
  commands:
    schemas:
      run: make && pnpm validate:schemas
      glob: "{public,src}/schemas/*.json"
      stage_fixed: true
      priority: 10
    validate:
      glob: "*.json"
      exclude:
        - "package.json"
        - "release-please-config.json"
        - ".release-please-manifest.json"
        - "public/*"
        - "src/locales/*"
        - "src/schemas/*"
      run: node ./bin/maker.js validate {staged_files}
      priority: 40
    svgo:
      glob: "*.svg"
      run: pnpm exec svgo {staged_files}
      stage_fixed: true
      priority: 40
    prettier:
      glob: "*.{css,js,mjs,cjs,jsx,json,yml,yaml,md}"
      run: pnpm prettier --write {staged_files}
      stage_fixed: true
      priority: 20
    eslint:
      glob: "*.{js,mjs,cjs,jsx}"
      run: pnpm eslint --fix {staged_files}
      stage_fixed: true
      priority: 30
    stylelint:
      glob: "*.css"
      run: pnpm stylelint --fix {staged_files}
      stage_fixed: true
      priority: 30
    test:
      glob: "*.{js,mjs,cjs,jsx,json}"
      run: pnpm vitest related --coverage.enabled=false --reporter=basic --exclude "tests/**" --run {staged_files}
      priority: 50

fix(ui): keep card cut lines visible above the viewport background (#776)
  src/styles/root.css
Due: prettier, stylelint

feat(ui): pan and zoom the tokens sheet in the editor
  src/components/Editor.jsx
  src/components/pages/games/Tokens.jsx
Due: prettier, eslint, test

revert(ui): restore the single token page layout
  src/components/pages/games/Token.jsx
Due: prettier, eslint, test

docs: fix cropped tokens screenshot
  public/images/tokens-example.png
  scripts/docs-images.mjs
Due: prettier, eslint, test

docs: even out tokens screenshot margins
  public/images/tokens-example.png
  scripts/docs-images.mjs
Due: prettier, eslint, test

docs: note clean screenshot rules in claude.md
  CLAUDE.md
Due: prettier

docs: fix cropped tokens screenshot (#777)
  CLAUDE.md
  public/images/tokens-example.png
  scripts/docs-images.mjs
Due: prettier, eslint, test

ci: order test jobs by cost so cheap failures stop expensive jobs
  .github/workflows/pr-body.yml
  .github/workflows/test.yml
Due: prettier

test(e2e): isolate the app user data in the electron spec
  e2e/electron.spec.js
Due: prettier, eslint, test

test(ui): render the tokens sheet tests as print output and cover the editor
  tests/coverage.pages.test.jsx
Due: prettier, eslint, test

fix(electron): build the windows app for x64
  package.json
Due: prettier, test

test(e2e): isolate the app user data in the electron spec (#779)
  e2e/electron.spec.js
Due: prettier, eslint, test

feat(ui): pan and zoom the tokens sheet and keep the editor background filled (#774)
  src/components/Editor.jsx
  src/components/Viewport.jsx
  src/components/pages/games/Tokens.jsx
  tests/coverage.pages.test.jsx
Due: prettier, eslint, test

fix(electron): build the windows app for x64 (#780)
  package.json
Due: prettier, test

ci: order test jobs by cost so cheap failures stop expensive jobs (#778)
  .github/workflows/pr-body.yml
  .github/workflows/test.yml
Due: prettier

chore(release): v1.0.0-beta.126
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: prettier, test

chore(release): v1.0.0-beta.126 (#773)
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: prettier, test

docs: document how to change and compile the json schemas
  CLAUDE.md
Due: prettier

docs: document how to change and compile the json schemas (#784)
  CLAUDE.md
Due: prettier

feat(ui): reorder the editor sections
  src/components/gameNav.js
  src/components/gameNav.test.js
  tests/bindings.2.test.jsx
  tests/chrome.nav.test.jsx
  tests/keymap.test.jsx
Due: prettier, eslint, test

test(e2e): follow the new section keys
  e2e/games.spec.js
Due: prettier, eslint, test

docs(e2e): fix stale section label in comment
  e2e/games.spec.js
Due: prettier, eslint, test

test(e2e): speed up the export tests with parallel capture
  e2e/cli.spec.js
  e2e/export.spec.js
Due: prettier, eslint, test

feat(ui): import config.json settings from the config drawer
  src/components/Root.jsx
  src/components/config/Config.jsx
  src/docs/files.de.md
  src/docs/files.en.md
  src/docs/files.zh.md
  src/hooks/config.js
  src/hooks/validation.js
  src/locales/de.json
  src/locales/en.json
  src/locales/zh.json
  src/util/config.js
  src/util/config.test.js
  tests/chrome.config.test.jsx
  tests/coverage.browser.test.jsx
  tests/coverage.electron.test.jsx
Due: prettier, eslint, test

fix(ui): import config over built-in config and handle dropped handle rejection
  src/components/Root.jsx
  src/hooks/config.js
Due: prettier, eslint, test

feat(ui): reorder the editor sections (#787)
  e2e/games.spec.js
  src/components/gameNav.js
  src/components/gameNav.test.js
  tests/bindings.2.test.jsx
  tests/chrome.nav.test.jsx
  tests/keymap.test.jsx
Due: prettier, eslint, test

test(e2e): speed up the export tests with parallel capture (#788)
  e2e/cli.spec.js
  e2e/export.spec.js
Due: prettier, eslint, test

feat(ui): import config.json settings from the config drawer (#789)
  src/components/Root.jsx
  src/components/config/Config.jsx
  src/docs/files.de.md
  src/docs/files.en.md
  src/docs/files.zh.md
  src/hooks/config.js
  src/hooks/validation.js
  src/locales/de.json
  src/locales/en.json
  src/locales/zh.json
  src/util/config.js
  src/util/config.test.js
  tests/chrome.config.test.jsx
  tests/coverage.browser.test.jsx
  tests/coverage.electron.test.jsx
Due: prettier, eslint, test

feat(charters): add train cards to a company charter
  public/schemas/config.schema.json
  public/schemas/game.schema.json
  src/components/Charter.jsx
  src/components/cards/Train.jsx
  src/components/cards/index.jsx
  src/components/config/index.js
  src/components/pages/games/Card.jsx
  src/data/games/18Test.json
  src/defaults.json
  src/docs/games/trains.de.md
  src/docs/games/trains.en.md
  src/docs/games/trains.zh.md
  src/export/documents.js
  src/export/documents.test.js
  src/locales/de.json
  src/locales/en.json
  src/locales/zh.json
  src/schemas/config.schema.json
  src/schemas/game.schema.json
  src/styles/root.css
  src/util/companyTrains.js
  src/util/companyTrains.test.js
  tests/__snapshots__/18Test/charters.html
  tests/coverage.charter.test.jsx
Due: schemas, validate, prettier, eslint, stylelint, test

feat(charters): add train card border and rounded corner options
  public/schemas/config.schema.json
  src/components/Charter.jsx
  src/components/config/index.js
  src/data/games/18Test.json
  src/defaults.json
  src/docs/games/trains.de.md
  src/docs/games/trains.en.md
  src/docs/games/trains.zh.md
  src/locales/de.json
  src/locales/en.json
  src/locales/zh.json
  src/schemas/config.schema.json
  src/styles/root.css
  tests/__snapshots__/18Test/charters.html
  tests/coverage.charter.test.jsx
Due: schemas, validate, prettier, eslint, stylelint, test

fix(charters): leave company trains to the cards on half width charters
  src/cli/validate.test.js
  src/components/pages/games/Charter.jsx
  src/docs/games/trains.zh.md
  src/export/documents.test.js
  src/locales/zh.json
  tests/coverage.cards.test.jsx
  tests/game.charters.test.jsx
Due: prettier, eslint, test

fix(charters): keep a tall phase chart inside the trains box
  src/components/storyFrames.jsx
  src/styles/root.css
  tests/game.charters.test.jsx
Due: prettier, eslint, stylelint, test

fix(charters): keep train cards clear of the phase chart
  src/components/Charter.jsx
  src/components/cards/index.jsx
  src/components/pages/games/Charters.jsx
  src/docs/games/trains.de.md
  src/export/documents.js
  src/export/documents.test.js
  src/styles/root.css
  src/util/sizes.js
  src/util/sizes.test.js
  tests/game.charters.test.jsx
Due: prettier, eslint, stylelint, test

fix(charters): draw the train card border above the scaled card
  src/styles/root.css
  tests/coverage.charter.test.jsx
Due: prettier, eslint, stylelint, test

feat(charters): add train cards to a company charter (#782)
  public/schemas/config.schema.json
  public/schemas/game.schema.json
  src/cli/validate.test.js
  src/components/Charter.jsx
  src/components/cards/Train.jsx
  src/components/cards/index.jsx
  src/components/config/index.js
  src/components/pages/games/Card.jsx
  src/components/pages/games/Charter.jsx
  src/components/pages/games/Charters.jsx
  src/components/storyFrames.jsx
  src/data/games/18Test.json
  src/defaults.json
  src/docs/games/trains.de.md
  src/docs/games/trains.en.md
  src/docs/games/trains.zh.md
  src/export/documents.js
  src/export/documents.test.js
  src/locales/de.json
  src/locales/en.json
  src/locales/zh.json
  src/schemas/config.schema.json
  src/schemas/game.schema.json
  src/styles/root.css
  src/util/companyTrains.js
  src/util/companyTrains.test.js
  src/util/sizes.js
  src/util/sizes.test.js
  tests/__snapshots__/18Test/charters.html
  tests/coverage.cards.test.jsx
  tests/coverage.charter.test.jsx
  tests/game.charters.test.jsx
Due: schemas, validate, prettier, eslint, stylelint, test

feat(charters): add a half width minors option to the free layout
  public/schemas/config.schema.json
  src/components/config/index.js
  src/defaults.json
  src/locales/de.json
  src/locales/en.json
  src/locales/zh.json
  src/schemas/config.schema.json
  src/util/companyTrains.js
  src/util/companyTrains.test.js
  tests/game.charters.test.jsx
Due: schemas, validate, prettier, eslint, test

feat(charters): add a half width minors option to the free layout (#792)
  public/schemas/config.schema.json
  src/components/config/index.js
  src/defaults.json
  src/locales/de.json
  src/locales/en.json
  src/locales/zh.json
  src/schemas/config.schema.json
  src/util/companyTrains.js
  src/util/companyTrains.test.js
  tests/game.charters.test.jsx
Due: schemas, validate, prettier, eslint, test

fix(ui): address logos page review findings
  src/components/pages/elements/Logos.jsx
  src/locales/zh.json
  tests/elements.logos.test.jsx
Due: prettier, eslint, test

feat(ui): show the reserved back of recolorable logos on the logos page
  src/components/pages/elements/Logos.jsx
  src/locales/de.json
  src/locales/en.json
  src/locales/zh.json
  tests/elements.logos.test.jsx
Due: prettier, eslint, test

fix(ui): always show both sides of each logo
  src/components/pages/elements/Logos.jsx
  src/locales/de.json
  src/locales/en.json
  src/locales/zh.json
  tests/elements.logos.test.jsx
Due: prettier, eslint, test
