Repository 18xx-maker/18xx-maker: changes, and which lefthook commands are due for each by the changed paths.
All: schemas, validate, svgo, prettier, eslint, stylelint, test

lefthook.yml:

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit {1}

pre-commit:
  commands:
    schemas:
      run: make && pnpm validate:schemas
      glob: "{public,src}/schemas/*.json"
      stage_fixed: true
      priority: 10
    validate:
      glob: "*.json"
      exclude:
        - "package.json"
        - "release-please-config.json"
        - ".release-please-manifest.json"
        - "public/*"
        - "src/locales/*"
        - "src/schemas/*"
      run: node ./bin/maker.js validate {staged_files}
      priority: 40
    svgo:
      glob: "*.svg"
      run: pnpm exec svgo {staged_files}
      stage_fixed: true
      priority: 40
    prettier:
      glob: "*.{css,js,mjs,cjs,jsx,json,yml,yaml,md}"
      run: pnpm prettier --write {staged_files}
      stage_fixed: true
      priority: 20
    eslint:
      glob: "*.{js,mjs,cjs,jsx}"
      run: pnpm eslint --fix {staged_files}
      stage_fixed: true
      priority: 30
    stylelint:
      glob: "*.css"
      run: pnpm stylelint --fix {staged_files}
      stage_fixed: true
      priority: 30
    test:
      glob: "*.{js,mjs,cjs,jsx,json}"
      run: pnpm vitest related --coverage.enabled=false --reporter=basic --exclude "tests/**" --run {staged_files}
      priority: 50

fix(map): close the gap between hexes with removed borders (#863)
  src/components/Hex.jsx
  src/data/games/18Test.json
  src/util/hexClip.js
  src/util/hexClip.test.js
  tests/__snapshots__/1867/map.html
  tests/__snapshots__/18Test/cards.html
  tests/__snapshots__/18Test/map.html
Due: validate, prettier, eslint, test

chore(release): v1.0.0-beta.128
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: prettier, test

feat(1888): add the map, companies, privates, trains and phases
  src/data/games/1888.json
Due: validate, prettier, test

feat(1888): add token costs
  src/data/games/1888.json
Due: validate, prettier, test

feat(1883): add the map, companies, privates, trains and phases
  src/data/games/1883ExpressdOrient.json
Due: validate, prettier, test

test: use a bare game now that no bundled game lacks a map
  src/cli/legacy.test.js
  tests/chrome/nav.test.jsx
  tests/coverage/electron.test.jsx
  tests/game/navigation.test.jsx
  tests/game/redirects.test.jsx
  tests/game/stats.test.jsx
  tests/support/bare.js
  tests/toolbar.test.jsx
Due: prettier, eslint, test

chore(release): v1.0.0-beta.128 (#848)
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: prettier, test

feat(data): add off-map gray track to 18 Grand Junction
  src/data/games/18GJ.json
Due: validate, prettier, test

feat(data): add 18 Grand Junction
  CLAUDE.md
  src/cli/legacy.test.js
  src/data/games/18GJ.json
Due: validate, prettier, eslint, test

fix(data): add 18 Grand Junction stubs, attach names and let text auto position
  CLAUDE.md
  src/data/games/18GJ.json
Due: validate, prettier, test

fix(data): tidy 18 Grand Junction city names, D5 stub and Dallas label
  src/data/games/18GJ.json
Due: validate, prettier, test

fix(data): attach 18 Grand Junction city names and keep text inside hexes
  src/data/games/18GJ.json
Due: validate, prettier, test

feat: add the 1888 and 1883 Express d'Orient maps and data (#864)
  src/cli/legacy.test.js
  src/data/games/1883ExpressdOrient.json
  src/data/games/1888.json
  tests/chrome/nav.test.jsx
  tests/coverage/electron.test.jsx
  tests/game/navigation.test.jsx
  tests/game/redirects.test.jsx
  tests/game/stats.test.jsx
  tests/support/bare.js
  tests/toolbar.test.jsx
Due: validate, prettier, eslint, test

feat(data): add 18 Grand Junction (#855)
  src/cli/legacy.test.js
  src/data/games/18GJ.json
Due: validate, prettier, eslint, test

chore(release): v1.0.0-beta.129
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: prettier, test

chore(release): v1.0.0-beta.129 (#865)
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: prettier, test

fix(ui): print the editor on a white background in every theme
  e2e/print.spec.js
  src/components/page/Viewport.jsx
  src/styles/root.css
Due: prettier, eslint, stylelint, test

fix(ui): print the editor on a white background in every theme (#867)
  e2e/print.spec.js
  src/components/page/Viewport.jsx
  src/styles/root.css
Due: prettier, eslint, stylelint, test

fix(ui): ignore section keys for sections the game has no data for
  src/hooks/bindings.js
  tests/bindings/2.test.jsx
Due: prettier, eslint, test

feat(ui): show the publisher on the game info page
  public/schemas/game.schema.json
  src/components/pages/games/InfoPage.jsx
  src/data/games/18Test.json
  src/locales/de.json
  src/locales/en.json
  src/locales/zh.json
  src/schemas/game.schema.json
  tests/game/publisher.test.jsx
Due: schemas, validate, prettier, eslint, test

chore: remove unused archiver and @vitest/ui, fix stale notes in CLAUDE.md
  CLAUDE.md
  package.json
  pnpm-lock.yaml
Due: prettier, test

feat(export): write app exports in the CLI folder layout and remember the folder
  DEVELOPMENT.md
  e2e/electron.spec.js
  e2e/export.spec.js
  electron/main/config.js
  electron/main/export.js
  src/cli/exportCommand.js
  src/docs/output/b18.de.md
  src/docs/output/b18.en.md
  src/docs/output/b18.zh.md
  src/docs/output/pdf.de.md
  src/docs/output/pdf.en.md
  src/docs/output/pdf.zh.md
  src/docs/output/png.de.md
  src/docs/output/png.en.md
  src/docs/output/png.zh.md
  src/docs/output/svg.de.md
  src/docs/output/svg.en.md
  src/docs/output/svg.zh.md
  src/export/folder.js
  src/export/folder.test.js
  src/export/names.js
  src/export/names.test.js
  src/export/service.js
  src/export/service.test.js
  src/export/sink.js
  src/export/sink.test.js
  src/util/exportPlan.js
  src/util/exportPlan.test.js
  tests/coverage/electron.test.jsx
  tests/export/exports.test.jsx
  tests/export/options.test.jsx
  tests/export/variation.test.jsx
Due: prettier, eslint, test

fix(ui): ignore section keys for sections the game has no data for (#877)
  src/hooks/bindings.js
  tests/bindings/2.test.jsx
Due: prettier, eslint, test

feat(ui): show the publisher on the game info page (#878)
  public/schemas/game.schema.json
  src/components/pages/games/InfoPage.jsx
  src/data/games/18Test.json
  src/locales/de.json
  src/locales/en.json
  src/locales/zh.json
  src/schemas/game.schema.json
  tests/game/publisher.test.jsx
Due: schemas, validate, prettier, eslint, test

chore: remove unused archiver and @vitest/ui (#880)
  CLAUDE.md
  package.json
  pnpm-lock.yaml
Due: prettier, test

refactor: share the shape frame and the map stroke path
  src/components/atoms/shapes/Circle.jsx
  src/components/atoms/shapes/Diamond.jsx
  src/components/atoms/shapes/Ellipse.jsx
  src/components/atoms/shapes/Hexagon.jsx
  src/components/atoms/shapes/ShapeFrame.jsx
  src/components/atoms/shapes/Square.jsx
  src/components/atoms/shapes/Star.jsx
  src/components/atoms/shapes/Triangle.jsx
  src/components/map/Borders.jsx
  src/components/map/Lines.jsx
  src/components/map/StrokedPath.jsx
Due: prettier, eslint, test

refactor: share company token and share compilation
  src/cli/util.js
  src/util/index.js
Due: prettier, eslint, test

refactor: share cutline diagonals and polar map coordinates
  src/components/Cutlines.jsx
  src/util/map.js
Due: prettier, eslint, test

refactor: share town stadium paths and center town circles
  src/components/atoms/Boomtown.jsx
  src/components/atoms/CenterTown.jsx
  src/components/atoms/townParts.jsx
Due: prettier, eslint, test

refactor: share the single stock chart frame
  src/components/market/MarketSingle.jsx
  src/components/market/ParSingle.jsx
  src/components/market/RevenueSingle.jsx
  src/components/market/StockFrame.jsx
Due: prettier, eslint, test

refactor: share the market cell layers and legend rows
  src/components/market/Market.jsx
Due: prettier, eslint, test

refactor: share the share card label and the game company token lookup
  src/components/cards/Share.jsx
  src/components/tokens/GameCompanyToken.jsx
  src/components/tokens/GameMapCompanyToken.jsx
  src/components/tokens/useGameCompany.js
Due: prettier, eslint, test

refactor: share market cell normalization
  src/components/market/Cell.jsx
  src/components/market/ParCell.jsx
  src/util/market.js
Due: prettier, eslint, test

refactor: share the charter page css and charter rendering
  src/components/GameCharter.jsx
  src/components/charterCss.js
  src/components/pages/games/CharterPage.jsx
  src/components/pages/games/ChartersPage.jsx
Due: prettier, eslint, test

refactor: share the print margin config options
  src/components/config/index.js
Due: prettier, eslint, test

refactor: share the single token page boxes
  src/components/pages/games/TokenPage.jsx
Due: prettier, eslint, test

test: cover game company tokens without companies
  src/components/map/StrokedPath.jsx
  tests/coverage/tokens.test.jsx
Due: prettier, eslint, test

feat(export): write app exports in the CLI folder layout and remember the folder (#882)
  DEVELOPMENT.md
  e2e/electron.spec.js
  e2e/export.spec.js
  electron/main/config.js
  electron/main/export.js
  src/cli/exportCommand.js
  src/docs/output/b18.de.md
  src/docs/output/b18.en.md
  src/docs/output/b18.zh.md
  src/docs/output/pdf.de.md
  src/docs/output/pdf.en.md
  src/docs/output/pdf.zh.md
  src/docs/output/png.de.md
  src/docs/output/png.en.md
  src/docs/output/png.zh.md
  src/docs/output/svg.de.md
  src/docs/output/svg.en.md
  src/docs/output/svg.zh.md
  src/export/folder.js
  src/export/folder.test.js
  src/export/names.js
  src/export/names.test.js
  src/export/service.js
  src/export/service.test.js
  src/export/sink.js
  src/export/sink.test.js
  src/util/exportPlan.js
  src/util/exportPlan.test.js
  tests/coverage/electron.test.jsx
  tests/export/exports.test.jsx
  tests/export/options.test.jsx
  tests/export/variation.test.jsx
Due: prettier, eslint, test

feat(ui): add print and paginate keys to the game edit page
  src/components/Shortcuts.jsx
  src/components/Toolbar.jsx
  src/components/page/PrintButton.jsx
  src/hooks/bindings.js
  src/locales/de.json
  src/locales/en.json
  src/locales/zh.json
  tests/bindings/3.test.jsx
  tests/export/keys.test.jsx
Due: prettier, eslint, test

feat(ui): add a problems page for game files that drift from the schema
  public/schemas/game.schema.json
  src/cli/validate.test.js
  src/components/nav/AppSidebar.jsx
  src/components/nav/sidebar/Item.jsx
  src/components/nav/sidebar/ProblemsItem.jsx
  src/components/pages/games/GamePage.jsx
  src/components/pages/games/ProblemsPage.jsx
  src/docs/games/schemas.de.md
  src/docs/games/schemas.en.md
  src/docs/games/schemas.zh.md
  src/hooks/useEditor.js
  src/locales/de.json
  src/locales/en.json
  src/locales/zh.json
  src/routes.jsx
  src/schemas/game.schema.json
  src/state/gameProblems.failure.test.js
  src/state/gameProblems.js
  src/state/gameProblems.test.js
  src/state/index.js
  src/state/persist.test.js
  src/state/root.test.js
  src/state/store.js
  src/util/gameValidation.js
  src/util/gameValidation.test.js
  tests/game/problems.test.jsx
  tests/support/brokenGame.js
  tests/support/smoke.js
Due: schemas, prettier, eslint, test
