Repository 18xx-maker/18xx-maker: changes, and which lefthook commands are due for each by the changed paths.
All: schemas, validate, svgo, prettier, eslint, stylelint, test

lefthook.yml:

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit {1}

pre-commit:
  commands:
    schemas:
      run: make && pnpm validate:schemas
      glob: "{public,src}/schemas/*.json"
      stage_fixed: true
      priority: 10
    validate:
      glob: "*.json"
      exclude:
        - "package.json"
        - "release-please-config.json"
        - ".release-please-manifest.json"
        - "public/*"
        - "src/locales/*"
        - "src/schemas/*"
      run: node ./bin/maker.js validate {staged_files}
      priority: 40
    svgo:
      glob: "*.svg"
      run: pnpm exec svgo {staged_files}
      stage_fixed: true
      priority: 40
    prettier:
      glob: "*.{css,js,mjs,cjs,jsx,json,yml,yaml,md}"
      run: pnpm prettier --write {staged_files}
      stage_fixed: true
      priority: 20
    eslint:
      glob: "*.{js,mjs,cjs,jsx}"
      run: pnpm eslint --fix {staged_files}
      stage_fixed: true
      priority: 30
    stylelint:
      glob: "*.css"
      run: pnpm stylelint --fix {staged_files}
      stage_fixed: true
      priority: 30
    test:
      glob: "*.{js,mjs,cjs,jsx,json}"
      run: pnpm vitest related --coverage.enabled=false --reporter=basic --exclude "tests/**" --run {staged_files}
      priority: 50

docs: add an svg output page
  CLAUDE.md
  DEVELOPMENT.md
  src/components/nav/index.jsx
  src/docs/faq.de.md
  src/docs/faq.en.md
  src/docs/faq.zh.md
  src/docs/games/exports.de.md
  src/docs/games/exports.en.md
  src/docs/games/exports.zh.md
  src/docs/output/pdf.de.md
  src/docs/output/pdf.en.md
  src/docs/output/pdf.zh.md
  src/docs/output/png.de.md
  src/docs/output/png.en.md
  src/docs/output/png.zh.md
  src/docs/output/svg.de.md
  src/docs/output/svg.en.md
  src/docs/output/svg.zh.md
  tests/docs.pager.test.jsx
Due: prettier, eslint, test

test(e2e): assert the exact size of the exported svgs
  e2e/export-files.js
Due: prettier, eslint, test

fix(export): say when the chosen formats have no files for the documents
  src/cli/exportCommand.js
  src/cli/exportCommand.test.js
  src/components/ExportOptions.jsx
  src/locales/de.json
  src/locales/en.json
  src/locales/zh.json
  tests/export.options.test.jsx
Due: prettier, eslint, test

fix(export): keep css transforms, drop unsafe svg content and invalid characters
  src/export/svg.js
  tests/export.svg.test.jsx
Due: prettier, eslint, test

fix(export): keep tile svg transforms around their own pivot
  src/export/svg.js
  tests/export.svg.test.jsx
Due: prettier, eslint, test

feat(icons): add triangle flag icon
  src/components/atoms/Terrain.jsx
  src/components/atoms/Terrain.stories.js
  src/components/pages/elements/Atoms.jsx
  src/data/icons/flag.svg
  tests/coverage.atoms.test.jsx
Due: svgo, prettier, eslint, test

fix(icons): add black border to the flag icon
  src/data/icons/flag.svg
Due: svgo

fix(icons): attach the flag triangle to its pole
  src/data/icons/flag.svg
Due: svgo

chore(dev): add pnpm shot and visual change guidelines
  .gitignore
  CLAUDE.md
  DEVELOPMENT.md
  package.json
  scripts/shot.mjs
Due: prettier, eslint, test

feat(icons): add triangle flag icon (#821)
  src/components/atoms/Terrain.jsx
  src/components/atoms/Terrain.stories.js
  src/components/pages/elements/Atoms.jsx
  src/data/icons/flag.svg
  tests/coverage.atoms.test.jsx
Due: svgo, prettier, eslint, test

chore(dev): add pnpm shot and visual change guidelines (#824)
  .gitignore
  CLAUDE.md
  DEVELOPMENT.md
  package.json
  scripts/shot.mjs
Due: prettier, eslint, test

feat(export): add a bleed option to the single card images
  DEVELOPMENT.md
  bin/maker.js
  e2e/cli.spec.js
  public/schemas/game.schema.json
  src/cli/README.md
  src/cli/exportCommand.js
  src/cli/exportCommand.test.js
  src/cli/validate.test.js
  src/components/ExportOptions.jsx
  src/components/pages/games/Card.jsx
  src/docs/games/exports.de.md
  src/docs/games/exports.en.md
  src/docs/games/exports.zh.md
  src/docs/output/png.de.md
  src/docs/output/png.en.md
  src/docs/output/png.zh.md
  src/export/documents.js
  src/export/documents.test.js
  src/export/options.js
  src/export/options.test.js
  src/locales/de.json
  src/locales/en.json
  src/locales/zh.json
  src/schemas/game.schema.json
  src/util/exportPlan.js
  src/util/exportPlan.test.js
  src/util/sizes.js
  src/util/sizes.test.js
  tests/export.options.test.jsx
Due: schemas, prettier, eslint, test

fix(export): bleed the revenue box of a private on single card images
  src/components/pages/games/Card.jsx
  tests/coverage.cards.test.jsx
Due: prettier, eslint, test

feat(ui): add an export menu to the sidebar that works on every page
  e2e/electron.spec.js
  src/components/ExportButton.jsx
  src/components/ExportHost.jsx
  src/components/Root.jsx
  src/components/nav/AppSidebar.jsx
  src/components/nav/sidebar/ExportItem.jsx
  src/docs/faq.de.md
  src/docs/faq.en.md
  src/docs/faq.zh.md
  src/hooks/bindings.js
  src/locales/de.json
  src/locales/en.json
  src/locales/zh.json
  tests/export.keys.test.jsx
Due: prettier, eslint, test

fix(ui): name the export menu
  src/components/ExportHost.jsx
Due: prettier, eslint, test

feat(ui): load the game of the last session on start so export works on any page
  src/components/Root.jsx
  src/state/game.js
  src/state/thunks.test.js
  tests/export.keys.test.jsx
Due: prettier, eslint, test

feat(icons): name the land survey icon survey
  src/components/pages/elements/Atoms.jsx
  src/data/icons/survey.svg
Due: svgo, prettier, eslint, test

feat(icons): add land survey icon
  src/components/pages/elements/Atoms.jsx
  src/data/icons/land-survey.svg
Due: svgo, prettier, eslint, test

feat(icons): add land survey icon (#825)
  src/components/pages/elements/Atoms.jsx
  src/data/icons/survey.svg
Due: svgo, prettier, eslint, test

fix(tiles): keep borders under the track for ordered elements
  public/schemas/tiles.defs.json
  src/components/Hex.jsx
  src/docs/games/positioning.de.md
  src/docs/games/positioning.en.md
  src/docs/games/positioning.zh.md
  src/schemas/fields.schema.json
  src/schemas/tiles.defs.json
  tests/__snapshots__/18Test/tile-manifest.html
  tests/__snapshots__/18Test/tiles.html
  tests/coverage.hex.test.jsx
Due: schemas, prettier, eslint, test

feat(tiles): add an order field to change the draw order of tile elements
  public/schemas/tiles.defs.json
  src/cli/compile-schemas.js
  src/cli/validate.test.js
  src/components/Hex.jsx
  src/components/Position.jsx
  src/data/games/18Test.json
  src/docs/games/positioning.de.md
  src/docs/games/positioning.en.md
  src/docs/games/positioning.zh.md
  src/schemas/fields.schema.json
  src/schemas/tiles.defs.json
  tests/__snapshots__/18Test/tile-manifest.html
  tests/__snapshots__/18Test/tiles.html
  tests/coverage.hex.test.jsx
Due: schemas, validate, prettier, eslint, test

test(tiles): show default and ordered draw order side by side in 18Test
  src/cli/__fixtures__/legacy-cli.js
  src/cli/b18.test.js
  src/data/games/18Test.json
  tests/__snapshots__/18Test/tile-manifest.html
  tests/__snapshots__/18Test/tiles.html
  tests/coverage.chrome.test.jsx
  tests/game.tiles.test.jsx
Due: validate, prettier, eslint, test

test(export): expect the wider yellow tile sheet in 18Test
  e2e/export-files.js
Due: prettier, eslint, test

feat(ui): add an export menu to the sidebar that works on every page (#822)
  e2e/electron.spec.js
  src/components/ExportButton.jsx
  src/components/ExportHost.jsx
  src/components/Root.jsx
  src/components/nav/AppSidebar.jsx
  src/components/nav/sidebar/ExportItem.jsx
  src/docs/faq.de.md
  src/docs/faq.en.md
  src/docs/faq.zh.md
  src/hooks/bindings.js
  src/locales/de.json
  src/locales/en.json
  src/locales/zh.json
  src/state/game.js
  src/state/thunks.test.js
  tests/export.keys.test.jsx
Due: prettier, eslint, test

feat(tiles): add an order field to change the draw order of tile elements (#823)
  e2e/export-files.js
  public/schemas/tiles.defs.json
  src/cli/__fixtures__/legacy-cli.js
  src/cli/b18.test.js
  src/cli/compile-schemas.js
  src/cli/validate.test.js
  src/components/Hex.jsx
  src/components/Position.jsx
  src/data/games/18Test.json
  src/docs/games/positioning.de.md
  src/docs/games/positioning.en.md
  src/docs/games/positioning.zh.md
  src/schemas/fields.schema.json
  src/schemas/tiles.defs.json
  tests/__snapshots__/18Test/tile-manifest.html
  tests/__snapshots__/18Test/tiles.html
  tests/coverage.chrome.test.jsx
  tests/coverage.hex.test.jsx
  tests/game.tiles.test.jsx
Due: schemas, validate, prettier, eslint, test

feat(tiles): add a cut border option to outline tiles for cutting by hand
  public/schemas/config.schema.json
  src/cli/validate.test.js
  src/components/config/index.js
  src/components/pages/games/Tiles.jsx
  src/defaults.json
  src/docs/pnp/die.de.md
  src/docs/pnp/die.en.md
  src/docs/pnp/die.zh.md
  src/locales/de.json
  src/locales/en.json
  src/locales/zh.json
  src/schemas/config.schema.json
  tests/tiles.cutborder.test.jsx
Due: schemas, validate, prettier, eslint, test

feat(tiles): add a cut border option to outline tiles for cutting by hand (#829)
  public/schemas/config.schema.json
  src/cli/validate.test.js
  src/components/config/index.js
  src/components/pages/games/Tiles.jsx
  src/defaults.json
  src/docs/pnp/die.de.md
  src/docs/pnp/die.en.md
  src/docs/pnp/die.zh.md
  src/locales/de.json
  src/locales/en.json
  src/locales/zh.json
  src/schemas/config.schema.json
  tests/tiles.cutborder.test.jsx
Due: schemas, validate, prettier, eslint, test

feat(export): add a bleed option to the single card images (#826)
  DEVELOPMENT.md
  bin/maker.js
  e2e/cli.spec.js
  public/schemas/game.schema.json
  src/cli/README.md
  src/cli/exportCommand.js
  src/cli/exportCommand.test.js
  src/cli/validate.test.js
  src/components/ExportOptions.jsx
  src/components/pages/games/Card.jsx
  src/docs/games/exports.de.md
  src/docs/games/exports.en.md
  src/docs/games/exports.zh.md
  src/docs/output/png.de.md
  src/docs/output/png.en.md
  src/docs/output/png.zh.md
  src/export/documents.js
  src/export/documents.test.js
  src/export/options.js
  src/export/options.test.js
  src/locales/de.json
  src/locales/en.json
  src/locales/zh.json
  src/schemas/game.schema.json
  src/util/exportPlan.js
  src/util/exportPlan.test.js
  src/util/sizes.js
  src/util/sizes.test.js
  tests/coverage.cards.test.jsx
  tests/export.options.test.jsx
Due: schemas, prettier, eslint, test

feat(config): add showPins option to draw pins on free card and tile layouts
  public/schemas/config.schema.json
  src/components/cards/index.jsx
  src/components/config/index.js
  src/components/pages/games/Tiles.jsx
  src/defaults.json
  src/docs/pnp/die.de.md
  src/docs/pnp/die.en.md
  src/docs/pnp/die.zh.md
  src/locales/de.json
  src/locales/en.json
  src/locales/zh.json
  src/schemas/config.schema.json
  tests/coverage.cards.test.jsx
  tests/tiles.pins.test.jsx
Due: schemas, validate, prettier, eslint, test

feat(ui): label edit toolbar buttons and keep the filter menu open
  src/components/ExportButton.jsx
  src/components/PrintButton.jsx
  src/components/Toolbar.jsx
  src/locales/de.json
  src/locales/en.json
  src/locales/zh.json
  tests/chrome.config.test.jsx
  tests/chrome.nav.test.jsx
  tests/coverage.chrome.test.jsx
  tests/coverage.electron.test.jsx
  tests/editor.test.jsx
  tests/toolbar.test.jsx
Due: prettier, eslint, test

fix(ui): never shrink edit toolbar controls below their text
  src/components/ExportButton.jsx
  src/components/PrintButton.jsx
  src/components/Toolbar.jsx
  tests/toolbar.test.jsx
Due: prettier, eslint, test

fix(ui): keep the edit toolbar on one row
  src/components/Toolbar.jsx
Due: prettier, eslint, test

ci: run the release notes check before all other jobs
  .github/workflows/test.yml
  CLAUDE.md
  lefthook.yml
  scripts/check-pr-body.mjs
Due: prettier, eslint, test

ci: run the release notes check before all other jobs (#834)
  .github/workflows/test.yml
  CLAUDE.md
  lefthook.yml
  scripts/check-pr-body.mjs
Due: prettier, eslint, test

feat(config): add showPins option for free layouts (#832)
  public/schemas/config.schema.json
  src/components/cards/index.jsx
  src/components/config/index.js
  src/components/pages/games/Tiles.jsx
  src/defaults.json
  src/docs/pnp/die.de.md
  src/docs/pnp/die.en.md
  src/docs/pnp/die.zh.md
  src/locales/de.json
  src/locales/en.json
  src/locales/zh.json
  src/schemas/config.schema.json
  tests/coverage.cards.test.jsx
  tests/tiles.pins.test.jsx
Due: schemas, validate, prettier, eslint, test

feat(ui): use mountain terrain in positioning examples and add them to the menu
  src/components/nav/index.jsx
  src/components/pages/elements/Positioning.jsx
Due: prettier, eslint, test

docs(positioning): add a live auto positioning examples page
  src/components/pages/elements/Positioning.jsx
  src/docs/games/positioning.de.md
  src/docs/games/positioning.en.md
  src/docs/games/positioning.zh.md
  src/locales/de.json
  src/locales/en.json
  src/locales/zh.json
  src/routes.jsx
  tests/positioning.test.jsx
  tests/smoke.js
Due: prettier, eslint, test

feat(ui): add a p shortcut for the auto positioning page and link it to the doc
  src/components/Shortcuts.jsx
  src/components/nav/index.jsx
  src/components/pages/elements/Positioning.jsx
  src/hooks/bindings.js
  src/locales/de.json
  src/locales/en.json
  src/locales/zh.json
  tests/bindings.1.test.jsx
  tests/chrome.nav.test.jsx
  tests/positioning.test.jsx
Due: prettier, eslint, test

docs(positioning): add a live auto positioning examples page (#831)
  src/components/Shortcuts.jsx
  src/components/nav/index.jsx
  src/components/pages/elements/Positioning.jsx
  src/docs/games/positioning.de.md
  src/docs/games/positioning.en.md
  src/docs/games/positioning.zh.md
  src/hooks/bindings.js
  src/locales/de.json
  src/locales/en.json
  src/locales/zh.json
  src/routes.jsx
  tests/bindings.1.test.jsx
  tests/chrome.nav.test.jsx
  tests/positioning.test.jsx
  tests/smoke.js
Due: prettier, eslint, test
