Repository 18xx-maker/18xx-maker: changes, and which lefthook commands are due for each by the changed paths.
All: schemas, validate, svgo, prettier, eslint, stylelint, test

lefthook.yml:

commit-msg:
  commands:
    commitlint:
      run: yarn commitlint --edit {1}

pre-commit:
  commands:
    schemas:
      run: make && yarn validate:schemas
      glob: "{public,src}/schemas/*.json"
      stage_fixed: true
      priority: 10
    validate:
      glob: "*.json"
      exclude:
        - "package.json"
        - "release-please-config.json"
        - ".release-please-manifest.json"
        - "public/*"
        - "src/locales/*"
        - "src/schemas/*"
      run: node ./bin/schemas.cjs {staged_files}
      priority: 40
    svgo:
      glob: "*.svg"
      run: yarn svgo:check {staged_files}
      stage_fixed: true
      priority: 40
    prettier:
      glob: "*.{css,js,mjs,cjs,jsx,json,yml,yaml,md}"
      run: yarn prettier --write {staged_files}
      stage_fixed: true
      priority: 20
    eslint:
      glob: "*.{js,mjs,cjs,jsx}"
      run: yarn eslint --fix {staged_files}
      stage_fixed: true
      priority: 30
    stylelint:
      glob: "*.css"
      run: yarn stylelint --fix {staged_files}
      stage_fixed: true
      priority: 30
    test:
      glob: "*.{js,mjs,cjs,jsx,json}"
      run: yarn vitest related --coverage.enabled=false --reporter=basic --exclude "tests/**" --run {staged_files}
      priority: 50

chore(layout): move market components to components folder
  src/components/map/MapMarket.jsx
  src/components/market/Cell.jsx
  src/components/market/Ledges.jsx
  src/components/market/Market.jsx
  src/components/market/MarketPaginated.jsx
  src/components/market/MarketRoundTracker.jsx
  src/components/market/MarketSingle.jsx
  src/components/market/Par.jsx
  src/components/market/ParCell.jsx
  src/components/market/ParPaginated.jsx
  src/components/market/ParSingle.jsx
  src/components/market/Revenue.jsx
  src/components/market/RevenuePaginated.jsx
  src/components/market/RevenueSingle.jsx
  src/pages/games/Market.jsx
  src/pages/games/Par.jsx
  src/pages/games/Revenue.jsx
Due: prettier, eslint, test

chore(cleanup): removing unused css
  src/games/MapPaginated.css
Due: prettier, stylelint

chore(layout): move nav components to components folder
  src/Root.jsx
  src/components/nav/AppNav.jsx
  src/components/nav/DocsNav.jsx
  src/components/nav/ElementsNav.jsx
  src/components/nav/GameNav.jsx
  src/components/nav/MobileMenuButton.jsx
  src/components/nav/SideNav.jsx
  src/routes.jsx
Due: prettier, eslint, test

docs(readme): update the README.md with new directory structure
  README.md
Due: prettier

fix: pull in changes from ba8d948c
  src/styles/root.css
Due: prettier, stylelint

chore(layout): move all docs markdowns to docs folder
  src/components/pages/Docs.jsx
  src/docs/developing.en.md
  src/docs/files.en.md
  src/docs/games/borders.en.md
  src/docs/games/logos.en.md
  src/docs/games/overrides.en.md
  src/docs/games/positioning.en.md
  src/docs/games/schemas.en.md
  src/docs/games/trains.en.md
  src/docs/games/types.en.md
  src/docs/index.en.md
  src/docs/output/b18.en.md
  src/docs/output/pdf.en.md
  src/docs/output/png.en.md
  src/docs/pnp/die.en.md
  src/docs/pnp/tokens.en.md
  src/docs/translation.en.md
Due: prettier, eslint, test

chore(layout): move Root to proper place
  src/components/Root.jsx
  src/routes.jsx
Due: prettier, eslint, test

chore(layout): move b18 styles to proper place
  src/components/pages/games/Token.jsx
  src/components/pages/games/b18/Tiles.jsx
  src/components/pages/games/b18/Tokens.jsx
  src/styles/b18.css
  src/styles/index.css
Due: prettier, eslint, stylelint, test

fix(storybook): update storybook with new file layout
  .storybook/preview.jsx
Due: prettier, eslint, test

fix(styles): stylelint does not like the extra comment
  src/styles/manifest.css
Due: prettier, stylelint

chore(release): v1.0.0-beta.100
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: prettier, test

chore(release): v1.0.0-beta.100 (#618)
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: prettier, test

fix(state): fix the ability for the site to remember your loaded game
  src/state/store.js
Due: prettier, eslint, test

fix(state): fix the ability for the site to remember your loaded game (#628)
  src/state/store.js
Due: prettier, eslint, test

chore(deps): adding plausible-tracker
  package.json
  pnpm-lock.yaml
Due: prettier, test

feat(analytics): add self hosted plausible analytics
  electron/main/index.js
  electron/preload/preload.js
  src/components/Analytics.jsx
  src/components/ExportButton.jsx
  src/components/File.jsx
  src/components/Root.jsx
  src/components/TileFilters.jsx
  src/components/nav/GameNav.jsx
  src/components/pages/Home.jsx
  src/components/pages/elements/Tiles.jsx
  src/locales/en.json
  src/util/analytics.js
  src/util/analytics.test.js
  src/util/query.js
Due: prettier, eslint, test

fix(analytics): don't send any analytics even if running the prod build locally
  src/util/analytics.js
Due: prettier, eslint, test

feat(analytics): add self hosted plausible analytics (#630)
  electron/main/index.js
  electron/preload/preload.js
  package.json
  pnpm-lock.yaml
  src/components/Analytics.jsx
  src/components/ExportButton.jsx
  src/components/File.jsx
  src/components/Root.jsx
  src/components/TileFilters.jsx
  src/components/nav/GameNav.jsx
  src/components/pages/Home.jsx
  src/components/pages/elements/Tiles.jsx
  src/locales/en.json
  src/util/analytics.js
  src/util/analytics.test.js
  src/util/query.js
Due: prettier, eslint, test

fix(analytics): adding connect-src to CSP
  index.html
Due: none

fix(analytics): adding connect-src to CSP (#631)
  index.html
Due: none

chore(release): v1.0.0-beta.101
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: prettier, test

chore(release): v1.0.0-beta.101 (#629)
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: prettier, test

fix(analytics): source doesn't work with plausible, change to interface
  src/util/analytics.js
Due: prettier, eslint, test

fix(analytics): source doesn't work with plausible, change to interface (#632)
  src/util/analytics.js
Due: prettier, eslint, test

chore(release): v1.0.0-beta.102
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: prettier, test

chore(release): v1.0.0-beta.102 (#633)
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: prettier, test

fix(analytics): allow analytics to work from the app
  src/util/analytics.js
Due: prettier, eslint, test

fix(analytics): allow analytics to work from the app (#634)
  src/util/analytics.js
Due: prettier, eslint, test

chore(release): v1.0.0-beta.103
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: prettier, test

chore(release): v1.0.0-beta.103 (#635)
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: prettier, test

fix(analytics): proper connect-src setting for electron
  index.html
Due: none

fix(analytics): proper connect-src setting for electron (#636)
  index.html
Due: none

chore(analytics): simplify some analytics for the app
  src/components/ExportButton.jsx
  src/components/File.jsx
  src/util/analytics.js
Due: prettier, eslint, test

chore(analytics): simplify some analytics for the app (#638)
  src/components/ExportButton.jsx
  src/components/File.jsx
  src/util/analytics.js
Due: prettier, eslint, test

chore(release): v1.0.0-beta.104
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: prettier, test

chore(release): v1.0.0-beta.104 (#637)
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: prettier, test

fix(docker): proper directory to copy site from
  docker/Dockerfile.site
Due: none

fix(docker): proper directory to copy site from (#639)
  docker/Dockerfile.site
Due: none
