Repository 18xx-maker/18xx-maker: changes, and which lefthook commands are due for each by the changed paths.
All: schemas, validate, svgo, prettier, eslint, stylelint, test

schemas:
  run: make && yarn validate:schemas
  stage_fixed: true
  priority: 10

validate:
  run: node ./bin/schemas.cjs {staged_files}
  priority: 40

svgo:
  run: yarn svgo:check {staged_files}
  stage_fixed: true
  priority: 40

prettier:
  run: yarn prettier --write {staged_files}
  stage_fixed: true
  priority: 20

eslint:
  run: yarn eslint --fix {staged_files}
  stage_fixed: true
  priority: 30

stylelint:
  run: yarn stylelint --fix {staged_files}
  stage_fixed: true
  priority: 30

test:
  run: yarn vitest related --coverage.enabled=false --reporter=basic --exclude "tests/**" --run {staged_files}
  priority: 50

chore: better title pattern
  lefthook.yml
  release-please-config.json
Due: prettier, test

chore: bootstrap releases (#554)
  .github/workflows/release.yml
  .release-please-manifest.json
  lefthook.yml
  release-please-config.json
Due: prettier, test

chore: remove codecov and codeclimate
  .github/workflows/push.yml
  README.md
  electron.vite.config.js
  package.json
  vite.config.js
  yarn.lock
Due: prettier, eslint, test

chore: fix difference finding for release-please
  release-please-config.json
Due: prettier, test

chore: remove codecov and codeclimate (#555)
  .github/workflows/push.yml
  README.md
  electron.vite.config.js
  package.json
  release-please-config.json
  vite.config.js
  yarn.lock
Due: prettier, eslint, test

chore: refactor workflow
  .github/workflows/push.yml
Due: prettier

chore: improve release workflow
  .github/workflows/app.yml
  .github/workflows/release.yml
  package.json
  release-please-config.json
Due: prettier, test

chore: renamed push workflow to test
  .github/workflows/test.yml
Due: prettier

chore: refactor workflow (#556)
  .github/workflows/app.yml
  .github/workflows/push.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  package.json
  release-please-config.json
Due: prettier, test

chore: new changelog sections
  release-please-config.json
Due: prettier, test

chore: reorder changelog updates
  release-please-config.json
Due: prettier, test

ci: make sure section list is only possible commitlint sections
  release-please-config.json
Due: prettier, test

ci: change PR header
  release-please-config.json
Due: prettier, test

ci: turn on the creation of a release
  release-please-config.json
Due: prettier, test

test: change order of tests to better use the linux cache
  .github/workflows/test.yml
Due: prettier

chore: remove two dependencies that weren't being used
  package.json
  yarn.lock
Due: prettier, test

ci: fix the workflows by removing the bad id field
  .github/workflows/test.yml
Due: prettier

ci: changelog updates (#557)
  .github/workflows/test.yml
  package.json
  release-please-config.json
  yarn.lock
Due: prettier, test

chore: update workflow name on github badge
  README.md
Due: prettier

chore: update workflow name on github badge (#558)
  README.md
Due: prettier

build: rework how docker images are laid out
  .github/workflows/app.yml
  .github/workflows/docker-description.yml
  .github/workflows/docker.yml
  Makefile
  README.md
  docker/Dockerfile.develop
  docker/Dockerfile.site
  docker/README.md
  package.json
  src/pages/docs/developing.en.md
Due: prettier, test

ci: remove codacy
  .github/workflows/test.yml
Due: prettier

build: rework how docker images are laid out (#559)
  .github/workflows/app.yml
  .github/workflows/docker-description.yml
  .github/workflows/docker.yml
  .github/workflows/test.yml
  Makefile
  README.md
  docker/Dockerfile.develop
  docker/Dockerfile.site
  docker/README.md
  package.json
  src/pages/docs/developing.en.md
Due: prettier, test

chore(release): v1.0.0-beta.89
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: prettier, test

chore(release): v1.0.0-beta.89 (#552)
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: prettier, test

ci: fix issues in docker, app and release jobs
  .github/workflows/app.yml
  .github/workflows/release.yml
  docker/Dockerfile.develop
  docker/Dockerfile.site
  package.json
Due: prettier, test

ci: fix issues in docker, app and release jobs (#560)
  .github/workflows/app.yml
  .github/workflows/release.yml
  docker/Dockerfile.develop
  docker/Dockerfile.site
  package.json
Due: prettier, test

ci: add summaries for the test jobs
  .github/workflows/test.yml
Due: prettier

ci: fix windows summary
  .github/workflows/test.yml
Due: prettier

ci: better release tagging and set prerelease to true
  release-please-config.json
Due: prettier, test

ci: cleaner release title
  .github/workflows/app.yml
  .github/workflows/release.yml
Due: prettier

ci: add summaries for the test jobs (#561)
  .github/workflows/app.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  release-please-config.json
Due: prettier, test

chore(release): v1.0.0-beta.90
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: prettier, test

chore(release): v1.0.0-beta.90 (#562)
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: prettier, test

ci: fix the variable that we write our artifacts to
  .github/workflows/app.yml
Due: prettier

ci: fix the variable that we write our artifacts to (#563)
  .github/workflows/app.yml
Due: prettier

build: fix docker latest tags and better image title
  .github/workflows/docker.yml
Due: prettier

build: fix docker latest tags and better image title (#564)
  .github/workflows/docker.yml
Due: prettier

docs: add links to ghcr.io docker repositories to developing docs
  src/pages/docs/developing.en.md
Due: prettier

docs: add links to ghcr.io docker repositories to developing docs (#566)
  src/pages/docs/developing.en.md
Due: prettier

Path conditions:
  schemas: any of: {public,src}/schemas/*.json
  validate: any of: *.json, but not: package.json, release-please-config.json, .release-please-manifest.json, public/*, src/locales/*, src/schemas/*
  svgo: any of: *.svg
  prettier: any of: *.{css,js,mjs,cjs,jsx,json,yml,yaml,md}
  eslint: any of: *.{js,mjs,cjs,jsx}
  stylelint: any of: *.css
  test: any of: *.{js,mjs,cjs,jsx,json}
